<div class="content-header">
   <div class="action-container content-header-extra">
        <a tooltip="back" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md" ui-sref="service_mgmt.category_list" ui-sref-opts="{reload:true}"><i class="fa fa-arrow-left"></i></a>
        <a tooltip="delete category" tooltip-placement="bottom" class="{{edit_view ? '' : 'hidden'}} action-btn action-btn-danger action-btn-md"  ui-sref="service_mgmt.category_list.category_delete({category_id: category_id})" ui-sref-opts="{reload:true}"><i class="fa fa-trash"></i></a>
   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa {{edit_view ? 'fa-edit' : 'fa-plus'}}"></i> {{edit_view ? 'Edit' : 'New'}} Category</span>
   </h2>
</div>
<div class="content-body">
    <form name="category_frm">
            <div class="pad-form">
               <div class="content-card pad-15">
                    <div class="group">
                        <input type="text" name="name" ng-model="category.name" required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>
                    <div class="group">
                        <input type="text" name="abbreviation" ng-model="category.abbreviation" required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Abbreviation</label>
                    </div>
                    <div class="group">
                        <textarea name="description" ng-model="category.description" required ></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Description</label>
                    </div>
                    <div class="margin-t-50">
                        <a class="md-btn md-btn-clear" ui-sref="service_mgmt.category_list">Cancel</a>
                            <button class="md-btn md-btn-primary" ng-click="save(category_frm)">Save</button>
                    </div>
               </div>
            </div>
    </form>
</div>
