<div class="content-header">
   <span class="content-title">
       <i class="fa fa-plus"></i> New Category
   </span>
</div>
<div class="content-body">
    <form name="category_frm">
        <div class="content-card">
            <div class="group">
                <input type="text" name="name" ng-model="category.name" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>
            <div class="group">
                <input type="text" name="abbreviation" ng-model="category.abbreviation" required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Abbreviation</label>
            </div>
            <div class="group">
                <textarea name="description" ng-model="category.description" required /></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Description</label>
            </div>
        </div>
    </form>

    <a class="btn btn-inverse" ui-sref="service_mgmt.category_list">Cancel</a>
    <a class="btn btn-danger" ui-sref="service_mgmt.category_delete({category_id: category_id})">Delete</a>
    <button ng-click="save(category_frm)" class="btn btn-primary">Save</button>

</div>
