<div class="content-header">
   <div class="action-container content-header-extra">
        <a tooltip="delete category" tooltip-placement="bottom" class="{{edit_view ? '' : 'hidden'}} action-btn action-btn-danger action-btn-md"  ui-sref="service_mgmt.category_list.category_edit.delete" ui-sref-opts="{reload:true}"><i class="fa fa-trash"></i></a>
        <a tooltip="back" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md" ui-sref="service_mgmt.category_list" ui-sref-opts="{reload:true}"><i class="fa fa-arrow-left"></i></a>
   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa {{edit_view ? 'fa-edit' : 'fa-plus-circle'}}"></i> {{edit_view ? 'Edit' : 'New'}} Category</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="col-md-12 col-sm-12">
<div class="fade-content col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 text-center content-card">
    <form name="category_frm" novalidate>
               <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-1 margin-t-20 margin-b-20">
                    <div class="group">
                        <input type="text" name="name" ng-model="category.name" required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>
                    <div class="group">
                        <input type="text" name="abbreviation" ng-model="category.abbreviation" required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Abbreviation</label>
                    </div>
                    <div class="group">
                        <textarea name="description" ng-model="category.description" required ></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Description</label>
                    </div>
                    <button class="login-btn login-btn-primary pull-left" ng-click="save(category_frm)"><i class="fa fa-save"></i> Save</button>
                    <a class="margin-l-10 login-btn login-btn-default margin-l-5 pull-left" ui-sref="service_mgmt.category_list">Cancel</a>
               </div>
    </form>
</div>
</div>
