<div class="content-header">
   <div class="action-container content-header-extra">
        <a tooltip="delete option" tooltip-placement="bottom" class="{{edit_view ? '' : 'hidden'}} btn btn-danger"
            ui-sref="service_mgmt.option_groups_list.option_group_edit.delete" requires-user-feature="is_staff" requires-permission="facilities.delete_option">
            Delete
        </a>
   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa {{edit_view ? 'fa-edit' : 'fa-plus-circle'}}"></i> {{edit_view ? 'Edit' : 'New'}} Option Group</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="col-xs-12 fade-content">
<!-- <div class="fade-content col-xs-12 margin-t-20  content-card"> -->
    <form name="option_group_frm" novalidate ng-submit="save(option_group_frm)">
      <div class="col-xs-12 margin-t-20 content-card">
        <drf-err-msg></drf-err-msg>
          <div class="form-group">
              <label class="control-label" for="lg">Option Group Name</label>
              <input class="form-control input input-default" name="display_text" ng-model="option_group.name" placeholder="Option Group Name" required api-checker/>
          </div>
          <div class="checkbox checkbox-lg" ng-if="edit_view">
              <label>
                  <input type="checkbox" data-toggle="checkbox-x" id="active" name="active" ng-model="option_group.active" api-checker >
                  Is Active?
               </label>
          </div>
      </div>
      <div class="col-xs-12 pad-0 margin-t-10 margin-b-0 content-card">
          <table class="table table-hover col-xs-12">
              <thead class="grey-header">
                  <th class="col-xs-4">Option Type</th>
                  <th class="col-xs-4">Display Text</th>
                  <th class="col-xs-3">Option Value</th>
                  <th class="col-xs-1 text-center"></th>
              </thead>
              <tbody>
                  <tr ng-repeat="option in option_group.options">
                      <td class="col-xs-4">
                        <div class="form-group grid-inputs">
                          <select class="form-control" name="option_type" ng-model="option.option_type" placeholder="Option Type" required>
                            <option value="" disabled>Select an option type</option>
                            <option ng-repeat="opt_type in option_types" ng-selected="{{opt_type == option.option_type}}" value="{{opt_type}}">{{opt_type}}</option>
                          </select>
                          <span class="highlight"></span>
                          <span class="bar"></span>
                        </div>
                      </td>
                      <td class="col-xs-4">
                        <div class="form-group grid-inputs">
                            <input class="form-control" name="display_text" ng-model="option.display_text" placeholder="Display Text" required />
                        </div>
                      </td>
                      <td class="col-xs-3">
                        <div class="form-group grid-inputs">
                            <input class="form-control" name="value" ng-model="option.value" required placeholder="Option Value"/>
                        </div>
                      </td>
                      <td class="col-xs-1 text-center">
                          <a ng-click="removeOption(option)" style="cursor: pointer;" ng-if="option_group.options.length > 1">
                              <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                          </a>
                      </td>
                  </tr>
                  <tr ng-if="option_group.options.length === 0" class="">
                      <td colspan="3">
                          <i class="fa fa-info-circle"></i> No Options Assigned to Option Group
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-xs-12 pad-0 text-right margin-t-10 margin-b-10">
          <a class="btn btn-primary pull-right" ng-click="addOption()" >
              <i class="fa fa-plus-square-o"></i> Add
          </a>
      </div>
          <!-- </div> -->
          <button type="submit" class="btn btn-primary pull-left margin-t-10"
              requires-user-feature="is_staff" requires-permission="facilities.delete_option">
              Save
          </button>
          <a class="btn btn-default margin-l-10 pull-left margin-t-10" ui-sref="service_mgmt.option_groups_list">Cancel</a>
          <mfl-revision-view ng-if="edit_view" id="option_group_id" wrapper="wrapper" ></mfl-revision-view>
    </form>
<!-- </div> -->
</div>
