<div class="listing">
    <div class="col-sm-12">
    <form name="service_frm">
        <div class="col-sm-12 custom-well margin-t-10">
            <div class="col-xs-12">
                <h4 class="fw-600 fs-18"> Service Details</h4>
            </div>
            <div class="form-group col-xs-12">
                <label>Service Name</label>
                <input class="form-control" name="name" ng-model="service.name" required />
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="form-group col-xs-12">
                <label>Abbreviation</label>
                <input class="form-control" name="abbreviation" ng-model="service.abbreviation"/>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="form-group col-xs-12">
                <label>Category</label>
                <select class="form-control" name="category" ng-model="service.category" required>
                    <option  ng-repeat="cat in categories" ng-selected="{{cat.id == service.category}}" value="{{cat.id}}">{{cat.name}}</option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="form-group col-xs-12">
                <label>KEPH Level</label>
                <select class="form-control" name="category" ng-model="service.keph_level" required>
                    <option  ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="form-group col-xs-12">
                <label>Option Groups</label>
                <select class="form-control" name="category" ng-model="service.option_group" required>
                    <option  ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="form-group col-xs-12">
                <label>Description</label>
                <textarea class="form-control" name="description" ng-model="service.description"></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

        </div>
        <div class="col-sm-12 custom-well margin-t-10">
            <div class="col-xs-12">
                <h4 class="fw-600 fs-18"> Service Options</h4>
            </div>
            <div class="col-xs-12">
                <table class="table table-bordered col-xs-12">
                    <thead class="grey-header">
                        <th class="col-xs-11">Service Option</th>
                        <th class="col-xs-1 text-center"></th>
                    </thead>
                    <tbody class="">
                        <tr ng-repeat="serv_opt in service_options">
                            <td>
                                <div class="form-group">
                                    <select class="form-control" ng-model="serv_opt.option" required placeholder="Select Option">
                                        <option ng-selected="{{opt.id == serv_opt.option}}" ng-repeat="opt in options" ng-value="opt.id">{{opt.display_text}}</option>
                                    </select>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </td>
                            <td class="col-xs-1 text-center">
                                <a ng-click="removeOption(serv_opt)" style="cursor: pointer; margin-botom: 5px;">
                                    <i class="fa fa-close fa-2x text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 text-right">
                <a ng-click="addOption()" class="btn btn-info margin-t-10 margin-b-10" >
                    <i class="fa fa-plus-circle"></i> Add
                </a>
            </div>
        </div>
        <div class="col-sm-12 margin-b-20">
            <button class="btn btn-primary margin-t-10" ng-click="save(service_frm)" requires-user-feature="is_staff">
                Save
            </button>
            <a class="btn btn-default margin-t-10" ui-sref="service_mgmt.service_list">
                Cancel
            </a>
        </div>
    </form>
    </div>
</div>
