<div class="margin-t-50">
    <div>
        <h4>Available options</h4>
        <div>
            <form ng-submit="addOption()">
                <select ng-model="new_option_id" required>
                    <option ng-repeat="opt in options" ng-value="opt.id">{{opt.display_text}}</option>
                </select>
                <input type="submit" value="Add Option" class="login-btn login-btn-info margin-t-10" />
            </form>
        </div>
    </div>

    <div class="margin-t-50">
        <h4>Options tied to the service</h4>
        <table class="table table-hover fs-14">
            <thead>
                <tr>
                    <th >Display Text</th>
                    <th >Value</th>
                    <th >Option Type</th>
                    <th >Is Exclusive Option</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="opt in service_options">
                    <td>{{opt.display_text}}</td>
                    <td>{{opt.value}}</td>
                    <td>{{opt.option_type | titlecase}}</td>
                    <td>{{opt.is_exclusive_option | boolFilter}}</td>
                    <td><a popover-template="del_popover.templateUrl" popover-placement="left" class="action-btn action-btn-grid action-btn-danger"><i class="fa fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
