<div class="content-header">
   <div class="action-container content-header-extra">
        <a tooltip="back" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md" ui-sref="service_mgmt.category_list" ui-sref-opts="{reload:true}"><i class="fa fa-arrow-left"></i></a>
   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa {{edit_view ? 'fa-edit' : 'fa-plus-circle'}}"></i> {{edit_view ? 'Edit' : 'New'}} Service</span>
   </h2>
</div>
<div class="col-sm-11 margin-l-50 margin-t-20 content-card ">
    <div class="col-sm-11 col-sm-offset-1 margin-t-20 text-center">
        <div class="col-sm-4">
            <div class="col-lg-5 col-md-5 col-sm-5">
                    <div ng-click="tabState(1)" class="progress-badge margin-l-25" ng-class="{'progress-badge-active': tab === 1 || tab === 2 }">
                        1
                    </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 text-left margin-l--10">
                    <span ng-click="tabState(1)" class="step-label" ng-class="{'step-label-active': tab === 1 || tab === 2 }">Service Details</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-lg-5 col-md-5 col-sm-5 margin-l--10">
                <div ng-click="tabState(2)" class="progress-badge margin-l-10" ng-class="{'progress-badge-active': tab === 2}">
                    2
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 text-left margin-l--10">
                    <span ng-click="tabState(2)" class="step-label" ng-class="{'step-label-active': tab === 2 }">Service Options</span>
            </div>
        </div>
    </div>
    <div class="" ui-view="form-view"></div>
</div>
