<div class="content-header">
   <div class="action-container content-header-extra">
        <a tooltip="delete service" tooltip-placement="bottom" class="{{edit_view ? '' : 'hidden'}} btn-btn btn-danger"  ui-sref="service_mgmt.service_list.service_edit.delete({service_id: service.id})" ui-sref-opts="{reload:true}" requires-user-feature="is_staff" requires-permission="facilities.delete_service">Delete</a>
   </div>
   <h2 class="content-title">
       <span class="main-title"> <span ng-if="!create"><i class="fa fa-edit"></i> Edit</span><span ng-if="create"><i class="fa fa-plus-circle"></i> New</span> Service</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="col-sm-11 margin-l-50 margin-t-20 content-card ">
                <div class="tab-content">
                    <div class="" ui-view="form-view"></div>
                </div>
            </div>
            <!-- end of tabbed multistep form -->
    </div>
</div>
