<div class="listing">
    <div class="col-sm-12">
    <form name="service_frm" ng-submit="save(service_frm)" novalidate>
       <drf-err-msg></drf-err-msg>
        <div class="col-md-10 col-md-offset-1 margin-t-20 margin-b-20">
            <div class="form-group col-xs-12">
                <label class="control-label">Service Code</label><br>
                <span ng-show="create" class="label label-info fs-16">Service Code will be generated after creating the service</span>
                <input ng-hide="create" class="form-control" readonly ng-model="service.code"/>
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Service Name&#42;</label>
                <input class="form-control" name="name" ng-model="service.name" required api-checker placeholder="Service Name"/>
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Abbreviation</label>
                <input class="form-control" name="abbreviation" ng-model="service.abbreviation" api-checker placeholder="Service Abbreviation"/>
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Category&#42;</label>
                <select class="form-control" name="category" ng-model="service.category" required api-checker>
                    <option value="" disabled>Select a Category</option>
                    <option  ng-repeat="cat in categories" ng-selected="{{cat.id == service.category}}" value="{{cat.id}}">{{cat.name}}</option>
                </select>
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Option Groups&#42;</label>
                <select class="form-control" name="group" ng-model="service.group" required api-checker>
                    <option value="" disabled>Select an option group</option>
                    <option  ng-repeat="opt_grp in option_groups" ng-selected="{{opt_grp.id == service.group}}" value="{{opt_grp.id}}">{{opt_grp.name}}</option>
                </select>
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Description</label>
                <textarea class="form-control" name="description" ng-model="service.description" placeholder="Service Description"></textarea>
            </div>
            <div class="form-group col-xs-12 checkbox">
                <label class="control-label">
                    <input type="checkbox" id="has_options" name="has_options" ng-model="service.has_options" api-checker >
                    Service has Options?
                 </label>
            </div>
            <div class="form-group checkbox col-xs-12" ng-if="edit_view">
                <label class="control-label">
                    <input type="checkbox" id="active" name="active" ng-model="service.active" api-checker >
                    Is Active?
                 </label>
            </div>
            <div class="col-sm-12 margin-b-20">
                <button class="btn btn-primary margin-t-10" requires-user-feature="is_staff">
                    Save
                </button>
                <a class="btn btn-default margin-t-10" ui-sref="service_mgmt.service_list">
                    Cancel
                </a>
                <div class="col-xs-12 pad-0" ng-if="edit_view">
                    <mfl-revision-view ng-show="edit_view" id="service_id" wrapper="wrapper" ></mfl-revision-view>
                </div>
            </div>
        </div>

    </form>
    </div>
</div>
