<div class="col-xs-12">
    <table class="table table-hover fs-14">
        <thead>
            <th class="col-md-11 col-xs-9 fs-14">Name</th>
            <th class="col-md-1 col-xs-3 fs-14 text-center">Code</th>
        </thead>
        <tbody>
            <tr ng-repeat="const in county_constituencies">
                <td class="col-md-11 col-xs-9">
                    {{::const.name}}
                </td>
                <td class="col-md-1 col-xs-3 text-center">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{::const.code}}
                </td>
            </tr>
            <tr ng-if="county_constituencies.length === 0">
                <td class="text-center" colspan="9">Sorry, no data is available</td>
            </tr>
        </tbody>
    </table>
</div>