<!-- Contentheader by hand -->
<div class="content-header margin-b-20">
    <div class="action-container content-header-extra"></div>
    <h2 class="content-title">
        <span ng-if="spinner" class="colmd-12 margin-t-30 content-card text-center">
            <i class="fa fa-spin fa-circle-o-notch fa-1x"></i>
        </span>
        <span ng-if="!spinner" class="main-title">
            {{county_details.name | titlecase}} County
        </span>
    </h2>
</div>
<!-- End of content header -->
<div class="col-xs-12 content-body">
    <div ng-if="spinner" class="col-md-12 margin-t-30 text-center">
        <i class="fa fa-spin fa-circle-o-notch fa-5x"></i>
    </div>
    <div ng-if="!spinner" class="col-md-12">
        <div class="content-card heading">
            <form name="county_frm" ng-submit="saveFrm(county_frm)" class="form-horizontal margin-t-20">
                <drf-err-msg></drf-err-msg>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label"><span class="pull-left fs-16">County Name:</span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="name" ng-model="county_details.name" placeholder="County Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label"><span class="pull-left fs-16">County Code:</span></label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" name="code" ng-model="county_details.code" required placeholder="County Code" />
                    </div>
                </div>
                <div class="col-sm-12 pad-l-0 pad-b-10">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 content-card pad-0">
            <!-- Start of tabbed multi step form  -->
            <ul class="form-tab fix">
                <li ui-sref-active="active" class="col-xs-6">
                    <a ui-sref=".constituencies">
                        <span class="fw-900">
                            Sub Counties
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active" class="col-xs-6">
                    <a ui-sref=".users">
                        <span class="fw-900 ">
                            County Users
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="col-xs-12" ui-view="form-view"></div>
            </div><!-- /tab-content -->
            <!-- end of tabbed multistep form -->
        </div>
    </div>
</div>
