<!-- Contentheader by hand -->
<div class="content-header margin-b-20">
    <div class="action-container content-header-extra"></div>
    <h2 class="content-title">
        <span ng-if="!spinner" class="main-title">
            {{county_details.name | titlecase}} County
        </span>
    </h2>
</div>
<!-- End of content header -->
<div class="col-xs-12">
    <div ng-if="spinner" class="col-xs-12 margin-t-30 text-center">
        <div class="map-change-state">
            <div class="loader"></div>
            <div class="row">
                <h3 class="text-center loader-text">Please wait...</h3>
            </div>
        </div>
    </div>
    <div ng-if="!spinner" class="col-xs-12 fade-content">
        <div class="col-xs-12 content-card">
            <form name="county_frm" role="form" ng-submit="saveFrm(county_frm)" >
                <drf-err-msg></drf-err-msg>
                <div class="form-group">
                    <label class="control-label">County Name&#42;:</label>
                    <input type="text" class="form-control" name="name" ng-model="county_details.name" placeholder="County Name" api-checker required>
                </div>
                <div class="form-group">
                    <label class="control-label"> County Code:</label>
                    <div class="form-group">
                        <input type="text" readonly class="form-control" ng-model="county_details.code" >
                    </div>
                </div>
                <div class="col-sm-12 pad-l-0 pad-b-10">
                    <button class="btn btn-primary">Save</button>
                    <button class="btn btn-default" ui-sref="setup.counties">Cancel</button>
                    <mfl-revision-view id="county_id" wrapper="wrapper" ></mfl-revision-view>
                </div>
            </form>
        </div>
        <div class="col-xs-12 pad-0">
            <!-- Start of tabbed multi step form  -->
            <ul class="nav nav-tabs">
                <li ui-sref-active="active">
                    <a ui-sref=".constituencies">
                        <span class="fw-900">
                            Constituencies
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".users">
                        <span class="fw-900 ">
                            County Users
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="content-card col-xs-12" ui-view="form-view"></div>
            </div><!-- /tab-content -->
            <!-- end of tabbed multistep form -->
        </div>
    </div>
</div>
