<div class="col-xs-12">
    <ng-include src="'common/tpls/table_head.tpl.html'"></ng-include>
    <table class="table table-fixed table-hover fs-14">
        <thead>
            <th class="col-xs-7 fs-14">User</th>
            <th class="col-xs-5 fs-14 text-center">Email</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in county_users">
                <td class="col-xs-7">
                    {{::user.user_full_name}}
                </td>
                <td class="col-xs-5 text-center">
                    {{::user.user_email}}
                </td>
            </tr>
            <tr ng-if="county_users.length === 0">
                <td class="col-xs-12 alert alert-info" colspan="2">
                    <i class="fa fa-info-circle"></i> No County users assigned to this County
                </td>
            </tr>
        </tbody>
    </table>
</div>

