<contentheader></contentheader>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div ui-view="delete"></div>
<div class="col-lg-12">
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20  content-card">
    <form role="form form-horizontal form-bordered" name="chu.status.form" novalidate>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 margin-b-20">
        <!-- Start of dynamic form -->
            <div class="group">
                <input type="text" name="name" ng-model="chuStatus.name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="control-label">
                    Name
                </label>
            </div>
            <div class="group">
                <textarea type="text" name ="description" ng-model="chuStatus.description" required></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    Description
                </label>
            </div>
            <div class="checkbox-group margin-b-20">
                <input type="checkbox" id="active" name="active"     ng-model="chuStatus.active">
                <label for="active">
                    <span class="check"></span>
                    <span class="box"></span>
                     Is Active?
                 </label>
            </div>
            <!-- End of the dynamic form -->
            <button ng-if="!chuStatus.id" ng-click="createChuStatus(chuStatus)" class="login-btn login-btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <button ng-if="chuStatus.id" ng-click="updateChuStatus(chuStatus.id, chu.status.form)" class="login-btn login-btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <button ui-sref="setup.chu_status" class="login-btn login-btn-default margin-l-10">
                Cancel
            </button>
        </div>
    </form>
</div>
</div>
