<div class="content-card">
    <div class="pull-left col-sm-4 col-xs-12 margin-t-10 pad-l-0">
        <sil-grid-search> </sil-grid-search>
    </div>

    <div class="pull-right col-sm-4 col-xs-12 margin-t-10 pad-r-0">
        <p ng-if="pagination.active" class="text-right margin-t-5">Showing <strong>{{pagination.start_index}} - {{pagination.end_index}}</strong> of <span>{{pagination.count}} records</span></p>
    </div>

    <table class="table table-hover table-condensed fs-13" id="no-more-tables">
        <thead>
            <tr>
                <th sil-grid-sort field='sub_county'>Title</th>
                <th>Group</th>
                <th sil-grid-sort field='created'>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="fade-content">
            <tr ng-repeat="notification in notifications">
            <td data-title="name">{{notification.title}}</td>
                <td data-title="name">{{notification.group_name || "All"}}</td>
                <td data-title="name">{{notification.created | date}}</td>
                <td data-title=":">
                    <a ui-sref='notifications.view({notification_id:notification.id})' class="btn btn-success">
                    View</a>
                    <a ui-sref='notifications.edit({notification_id:notification.id})'
                    requires-permission="common.change_notification"
                    class="btn btn-success">
                    Edit</a>
                </td>

            </tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
