<div class="content-header margin-b-20">
    <div class="action-container content-header-extra"></div>
    <h2 class="content-title">
        <span class="main-title">
            {{state ? 'Edit' : 'Add'}} Sub County
        </span>
    </h2>
</div>
<!-- End of content header -->
<div class="col-xs-12 content-body">
    <div class="pad-h-30">
        <div class="content-card col-xs-12 col-sm-offset-1 col-sm-10">
            <form name="scounty_frm" ng-submit="saveFrm(county_frm)" class="margin-t-20 col-xs-12 col-sm-offset-1 col-sm-10" novalidate>
                <drf-err-msg></drf-err-msg>
                <div class="form-group">
                    <label class="control-label">Sub County Code:</label><br>
                   <span ng-if="state" class="fs-14 label label-info">To be generated after adding sub county</span>
                   <span ng-if="!state" class="fs-14 form-control-static"> {{scounty_details.code}}</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sub County Name:</label>
                    <input type="text" class="form-control" name="name" ng-model="scounty_details.name" placeholder="County Name" required api-checker/>
                </div>
                <div class="margin-t-20 pad-b-10">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
