<div class="content-header margin-b-20">
    <div class="action-container content-header-extra"></div>
    <h2 class="content-title">
        <span class="main-title">
          <i class="fa {{state ? 'fa-edit' : 'fa-plus-circle'}}"></i> {{state ? 'Edit' : 'Add'}} Sub County
        </span>
    </h2>
</div>
<!-- End of content header -->
<div class="col-xs-12">
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 content-card">
            <form name="scounty_frm" ng-submit="saveFrm(state ? scounty_frm : scount_details)" class="margin-t-20 col-xs-12 col-sm-offset-1 col-sm-10" novalidate>
                <drf-err-msg></drf-err-msg>
                <div class="form-group">
                    <label class="control-label">Sub County Name:</label>
                    <input type="text" class="form-control" name="name" ng-model="scount_details.name" placeholder="Sub County Name" required api-checker/>
                </div>
                <div ng-if="state" class="form-group">
                    <label class="control-label">Sub-County Code:</label>
                    <input type="text" readonly class="form-control" ng-model="scount_details.code">
                </div>
                <div class="form-group">
                    <label class="control-label"><span class="pull-left">County:</span></label>
                    <ui-select ng-model="select_values.county" required name="county" api-checker register-custom-form-control>
                        <ui-select-match placeholder="Select a county...">
                            <span>{{$select.selected.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="county.id as county in counties | filter:$select.search">
                            <span>{{county.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="margin-t-20 pad-b-10">
                    <button class="btn btn-primary">Save</button>
                    <button class="btn btn-default">Cancel</button>
                    <mfl-revision-view id="sub_county_id" wrapper="wrapper" ></mfl-revision-view>
                </div>
            </form>
        </div>
    </div>
</div>
