<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="col-xs-12 margin-t-20">
    <div class="col-sm-10 col-sm-offset-1 content-card margin-t-20">
        <form ng-submit="save()" name="frm_geocode_method" class="col-sm-10 col-sm-offset-1" novalidate>
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
                <label class="control-label">Geocode Method Name</label>
                <input type="text" ng-model="geocode_method.name" required name="name" api-checker class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" ng-model="geocode_method.description" required name="description" class="form-control" api-checker></textarea>
            </div>
            <div class="form-group margin-b-20 margin-t-20">
                <button class="btn btn-primary" type="submit" requires-user-feature="is_staff" ng-disabled="frm_geocode_method.$invalid">
                    Save
                </button>
                <a class="btn btn-default" ui-sref="setup.geocode_methods_list" requires-user-feature="is_staff">
                    Cancel
                </a>
                <mfl-revision-view id="geocode_method_id" wrapper="wrapper" ></mfl-revision-view>
            </div>
        </form>
    </div>
</div>
