<ng-include src="'common/tpls/table_head.tpl.html'"></ng-include>
<div class="col-xs-12 margin-t-15">
    <table class="table table-hover table-condensed fs-14">
        <thead class="cf">
            <th sil-grid-sort field='name'>Name</th>
            <th >Description</th>
            <th class="text-right">Actions</th>
        </thead>
        <tbody class="example-animate-container">
            <tr class="animate-repeat" ng-repeat="gm in geocode_methods">
                <td data-title="Name" class="pad-t-15">{{gm.name}}</td>
                <td data-title="Description" class="pad-t-15">{{gm.description}}</td>
                <td class="text-right">
                    <a class="btn btn-success"
                     tooltip-placement="bottom" tooltip="View Geo Code Method"
                    ui-sref="setup.geocode_methods_list.geocode_methods_edit({geocode_method_id:gm.id})">
                    View
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="geocode_methods.length===0">
            <tr><td class="text-center" colspan="9">Sorry, no data is available</td></tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
