<!-- Contentheader by hand -->
<div class="content-header margin-b-20">
    <div class="action-container content-header-extra">
    </div>
    <h2 class="content-title">
        <span ng-if="spinner" class="colmd-12 margin-t-30 content-card text-center">
            <i class="fa fa-spin fa-circle-o-notch fa-5x"></i>
        </span>
        <span ng-if="!spinner" class="main-title">
            {{const_details.name | titlecase}} Constituency
        </span>
    </h2>
</div>
<!-- End of content header -->
<div class="col-xs-12">
    <div class="content-card heading">
        <form ng-submit="saveFrm(const_frm)" name="const_frm" class="form-horizontal margin-t-20">
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label"><span class="pull-left">Constituency Name:</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="name" ng-model="const_details.name" placeholder="County Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label"><span class="pull-left">Constituency Code:</span></label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" name="code" ng-model="const_details.code" required placeholder="County Code" />
                </div>
            </div>
            <div class="col-sm-12 pad-l-0 pad-b-10">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 content-card pad-0">
        <ul class="form-tab fix">
            <li ui-sref-active="active" class="col-xs-12">
                <a class="active">
                    <span class="fw-900">
                        Wards
                    </span>
                </a>
            </li>
        </ul>
        <table class="table table-hover ">
            <thead>
                <th class="fs-16">Name</th>
                <th class="fs-16 text-right">Code</th>
            </thead>
            <tbody>
                <tr ng-repeat="ward in const_wards">
                    <td class="pad-t-15 fs-14">
                        {{::ward.name | titlecase}}
                    </td>
                    <td class="pad-t-15 fs-14 text-right">
                        {{::ward.code}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
