<!-- Contentheader by hand -->
<div class="content-header margin-b-20">
    <div class="action-container content-header-extra">
    </div>
    <h2 class="content-title">
        <span ng-if="!spinner" class="main-title">
            {{const_details.name | titlecase}} Constituency
        </span>
    </h2>
</div>
<!-- End of content header -->
<div class="col-xs-12">
    <div ng-if="spinner" class="col-xs-12 margin-t-30 text-center">
        <div class="map-change-state">
            <div class="loader"></div>
            <div class="row">
                <h3 class="text-center loader-text">Please wait...</h3>
            </div>
        </div>
    </div>
    <div ng-if="!spinner" class="col-xs-12 content-card fade-content">
        <form ng-submit="saveFrm(const_frm)" name="const_frm" role="form">
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
                <label class="control-label">Constituency Name:</label>
                <input type="text" class="form-control" name="name" ng-model="const_details.name" placeholder="Enter Constituency Name">
            </div>
            <div class="form-group">
                <label class="control-label">Constituency Code:</label>
                <input type="text" readonly class="form-control" ng-model="const_details.code">
            </div>
            <div class="form-group">
                <label class="control-label">County:</label>
                <ui-select ng-model="select_values.county" required name="county" api-checker register-custom-form-control>
                    <ui-select-match placeholder="Select a county...">
                        <span>{{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="county.id as county in counties | filter:$select.search">
                        <span>{{county.name}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-12 pad-l-0 pad-b-10">
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-default" ui-sref="setup.constituencies">Cancel</button>
            </div>
        </form>
        <mfl-revision-view id="constituency_id" wrapper="wrapper" ></mfl-revision-view>
    </div>
    <div class="col-xs-12 content-card">
        <h4>WARDS IN {{const_details.name}} CONSTITUENCY</h4>
        <table class="table table-fixed table-hover fs-14">
            <thead>
                <th class="col-sm-11 col-xs-9 fs-14">Name</th>
                <th class="col-sm-1 col-xs-3 fs-14 text-center">Code</th>
            </thead>
            <tbody>
                <tr ng-repeat="ward in const_wards">
                    <td class="col-sm-11 col-xs-9">
                        {{::ward.name | titlecase}}
                    </td>
                    <td class="col-sm-1 col-xs-3 text-center">
                        {{::ward.code}}
                    </td>
                </tr>
                <tr ng-if="const_wards.length === 0">
                    <td class="alert alert-info col-xs-12" colspan="2">
                        <i class="fa fa-info-circle"></i> No Wards Exist within the constituency
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
