 <div class="col-sm-2 pad-r-0" >
    <aside class="side-left partial">
    <ul class=" nav nav-list">
        <li ng-model="collapsed.one" >
            <label class="sidebar-label tree-toggle nav-header" ng-click="collapsed.one=!collapsed.one">Administrative Units
                <span  ng-show = "collapsed.one === true" class="pull-right"><i class="fa fa-chevron-up"></i>&nbsp;</span>
                <span  ng-show = "collapsed.one === false" class="pull-right"><i class="fa fa-chevron-down"></i>&nbsp;</span>
            </label>
          <ul class="nav nav-list tree" content-slide-in="collapsed.one" slide-show-duration="1000">
              <li ui-sref-active="active" requires-permission="common.view_county">
                <a ui-sref="setup.counties">Counties</a>
              </li>
              <li ui-sref-active="active" requires-permission="common.view_constituency">
                <a ui-sref="setup.constituencies">Sub Counties</a>
              </li>
              <li ui-sref-active="active" requires-permission="common.view_ward">
                <a ui-sref="setup.wards">Wards</a>
              </li>
              <li ui-sref-active="active" requires-permission="common.view_town">
                <a ui-sref="setup.towns">Towns</a>
              </li>
          </ul>
        </li>
        <li ng-model="collapsed.two" ng-show="user.all_permissions.chul.view_status || user.all_permissions.chul.view_approver">
            <label class="sidebar-label tree-toggle nav-header" ng-click="collapsed.two=!collapsed.two">Community Units
                <span  ng-show = "collapsed.two === true" class="pull-right"><i class="fa fa-chevron-up"></i>&nbsp;</span>
                <span  ng-show = "collapsed.two === false" class="pull-right"><i class="fa fa-chevron-down"></i>&nbsp;</span>
            </label>
          <ul class="nav nav-list tree" content-slide-in="collapsed.two" slide-show-duration="1000">
              <li ui-sref-active="active" requires-permission="chul.view_status">
                <a ui-sref="setup.chu_status">Community Units Status</a>
              </li>
              <li ui-sref-active="active" requires-permission="chul.view_approver">
                <a ui-sref="setup.chu_approvers">CU Approvers</a>
              </li>
          </ul>
        </li>
        <li ng-model="collapsed.three">
            <label class="sidebar-label tree-toggle nav-header" ng-click="collapsed.three=!collapsed.three">Contacts
                <span  ng-show = "collapsed.three === true" class="pull-right"><i class="fa fa-chevron-up"></i>&nbsp;</span>
                <span  ng-show = "collapsed.three === false" class="pull-right"><i class="fa fa-chevron-down"></i>&nbsp;</span>
            </label>
          <ul class="nav nav-list tree" content-slide-in="collapsed.three" slide-show-duration="1000">
              <li ui-sref-active="active" requires-permission="common.view_contact">
                <a ui-sref="setup.contacts">Contacts</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="setup.contact_types" requires-permission="common.view_contacttype">Contact Type</a>
              </li>
          </ul>
        </li>
        <li ng-model="collapsed.four">
            <label class="sidebar-label tree-toggle nav-header" ng-click="collapsed.four=!collapsed.four">Facilities
                <span  ng-show = "collapsed.four === true" class="pull-right"><i class="fa fa-chevron-up"></i>&nbsp;</span>
                <span  ng-show = "collapsed.four === false" class="pull-right"><i class="fa fa-chevron-down"></i>&nbsp;</span>
            </label>
          <ul class="nav nav-list tree" content-slide-in="collapsed.four" slide-show-duration="1000">
              <li ui-sref-active="active">
                <a ui-sref="setup.facility_owners" requires-permission="facilities.view_owner">Facility Owners</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="setup.facility_owner_types" requires-permission="facilities.view_ownertype">Facility Owner Types</a>
              </li>
              <li ui-sref-active="active" requires-permission="facilities.view_jobtitle">
                <a ui-sref="setup.facility_job_titles">Job Titles</a>
              </li>
              <li ui-sref-active="active" requires-permission="facilities.view_regulatingbody">
                <a ui-sref="setup.facility_regulatory_bodies">
                Regulatory Bodies
                </a>
              </li>
          </ul>
        </li>
        <li ng-model="collapsed.five">
            <label class="sidebar-label tree-toggle nav-header" ng-click="collapsed.five=!collapsed.five">Geo Codes
                <span  ng-show = "collapsed.five === true" class="pull-right"><i class="fa fa-chevron-up"></i>&nbsp;</span>
                <span  ng-show = "collapsed.five === false" class="pull-right"><i class="fa fa-chevron-down"></i>&nbsp;</span>
            </label>
        <ul class="nav nav-list tree" content-slide-in="collapsed.five" slide-show-duration="1000">
            <li ui-sref-active="active" requires-permission="mfl_gis.view_geocodemethod">
              <a ui-sref="setup.geocode_methods_list">Geo Code Methods</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="setup.geocode_sources_list" requires-permission="mfl_gis.view_geocodesource">Geo Code Sources</a>
            </li>
        </ul>
      </li>
    </ul>
 </aside>

 </div>
 <div class="content partial col-sm-10" ui-view="main-content"></div>
