<div class="row login-content" style="background-color: #F6F4F4;">
    <div class="bg-overlay">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="margin-t-120 content-card col-xs-12">
                <div class="row title-line">
                    <h2 class="text-center">
                        <img src="assets/img/kenya-coat-of-arms.png" width="40px" height="40px">
                         <span class="text-warning">M</span>aster Facility List <small>V 2.0</small>
                    </h2>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1 alert alert-info" ng-if="params.reset_pwd||params.reset_pwd_confirm||params.timeout||logout">
                    <button class="close" data-dismiss="alert" ><span>&times;</span></button>
                    <p ng-if="params.reset_pwd">Password reset instructions have been sent to your email.</p>
                    <p ng-if="params.reset_pwd_confirm">Password has been reset successfully.</p>
                    <p ng-if="params.change_pwd">Password has been changed successfully.</p>
                    <p ng-if="params.timeout">Your session has expired. Please login again.</p>
                    <p ng-if="logout">Logging out your session.</p>
                </div>
                <span ng-if="login_err_html" ng-bind-html="login_err_html" class="col-xs-12 fade-content alert alert-danger col-md-10 col-md-offset-1">
                    <span class="pull-right">
                        <i class="fa fa-times"></i>
                    </span>
                </span>
                <form role="form" class="pad-b-20" name="frm_login" ng-submit="submitUser(user)" novalidate>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 margin-b-20">
                        <div class="form-group">
                            <label class="control-label" for="email">Employee Number or Email Address</label>
                            <input type="text" ng-model="user.username" required autofocus name="email" id="email" class="form-control" ng-disabled="logout">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" ng-model="user.password" required name="password" id="password" class="form-control" ng-disabled="logout">
                        </div>

                        <div class="form-group">
                            <div class="pull-left">
                                <button id="login_btn" type="submit" class="btn btn-primary" ng-disabled="spinner||login.$invalid||logout">Login</button>
                                <span ng-if="spinner" style="display: inline-block;" class="margin-r-10 margin-t-5">
                                    <i class="fa fa-spin fa-circle-o-notch"></i>
                                </span>
                            </div>
                            <div class="pull-right">
                                <a ui-sref="reset_pwd">Forgot password</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
