
    <div class="container-fluid" style="background-color: #F6F4F4;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="margin-t-120 col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1 content-card">
                    <h2 class="text-center"> <span class="text-danger">e</span>-Health Kenya Facilities</h2>
                    <span ng-show="login_err !== ''" ng-bind-html="login_err" class="alert alert-danger col-md-10 col-md-offset-1">
                        <!-- <p ng-bind-html="login_err"></p> -->
                        <span class="pull-right">
                            <i class="fa fa-times"></i>
                        </span>
                    </span>
                    <form role="form" name="login" ng-submit="submitUser(user)">
                        <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1">
                            <div class="group">
                                <input type="text" ng-model="user.username" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><i class="fa fa-user"></i> username</label>
                            </div>

                            <div class="group">
                                <input type="password" ng-model="user.password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><i class="fa fa-lock"></i> password</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-t-10 pull-right">
                                <span class="">
                                    <button type="submit" class="login-btn login-btn-primary">
                                        &nbsp; Login <i class="fa fa-send"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-t-235 dis-container">
                <p class="disclaimer">This system, its network and data contained therein is the property of the Ministry of Medical Services and Ministry of Public Health and Sanitation in Kenya. Access to this network is restricted to the persons or programs authorised by the ministry only. Access by others is prohibited and unauthorised, and is wrongful under law. Do not proceed if you are not authorised. Any unauthorised access will be prosecuted to the fullest extent of the law.</p>
            </div>
        </div>
    </div>
