<section class="section">
  <div ui-view="header"></div>
  <div class="content">
    <div class="content-header">
       <h2 class="content-title"><span>Password Reset Confirmation</span></h2>
    </div>
    <div class="content-body">
      <div class="pad-form">
        <div class="content-card">
          <form ng-submit="reset_pwd_confirm()" name="frm_reset_pwd_confirm" novalidate>
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
              <label class="control-label">Password</label>
                <a class=" btn-info btn btn-xs btn-default" popover-toggle popover-trigger="open" popover-placement="right"
                    popover="The password must be at least 8 characters long and have at least one number">
                    <i class="fa fa-info-circle"></i>
                </a>
              <input name="new_password1" type="password" ng-model="new_password1" required autofocus name="new_password1" api-checker class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Confirm Password</label>
                <a class=" btn-info btn btn-xs btn-default" popover-toggle popover-trigger="open" popover-placement="right"
                    popover="The password must be at least 8 characters long and have at least one number">
                    <i class="fa fa-info-circle"></i>
                </a>
              <input name="new_password2" type="password" ng-model="new_password2" required name="new_password2" api-checker class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="frm_reset_pwd_confirm.$invalid">Confirm Password Reset</button>
            <a ui-sref="login" class="btn btn-default">Cancel</a>
          </form>
        </div>
      </div>
    </div>
 </div>
</section>
