<section class="section">
    <div ui-view="header"></div>
    <div class="content">
        <div class="content-header">
           <div class="action-container content-header-extra">
                <a tooltip="back" href="/#/reset_pwd" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md"><i class="fa fa-arrow-left"></i></a>
           </div>
           <h2 class="content-title">
               <span class="main-title"><i class="fa fa-lock"></i>Password Reset Confirmation</span>
           </h2>
        </div>
        <div class="content-body">
           <div class="pad-form">
                <div class="content-card">
                   <div class="pad-form">
                        <form ng-submit="reset_pwd_confirm()">
                            <div class="group">
                                <input name="new_password1" type="password" ng-model="new_password1" required autofocus />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Password</label>
                            </div>
                            <div class="group">
                                <input name="new_password2" type="password" ng-model="new_password2" required/>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Confirm Password</label>
                            </div>
                            <input type="submit" class="md-btn md-btn-primary"  value="Confirm Reset Password" />
                        </form>
                   </div>
                </div>
           </div>
        </div>
   </div>
</section>
