<section class="section">
    <div ui-view="header"></div>
    <div class="content" >
        <contentheader hide-back-button></contentheader>
        <div class="content-body">
            <div class="row-fluid">
                <div class="col-md-4 col-sm-6">
                    <div class="social-box">
                        <h4>
                            <span>&nbsp; Total Facilities</span>
                        </h4>
                        <span class="counts">{{summary.total_facilities }}</span>
                    </div><!--/social-box-->
                </div><!--/col-->
                <div class="col-md-4 col-sm-6">
                    <div class="social-box">
                        <h4>
                            <span>&nbsp; Recently Added Facilities</span>
                        </h4>
                        <span class="counts">{{ summary.recently_created }}</span>
                    </div><!--/social-box-->
                </div><!--/col-->
                <div class="col-md-4 col-sm-6">
                    <div class="social-box">
                        <h4>
                            <span>&nbsp; Total Facility Owners</span>
                        </h4>
                        <span class="counts">{{summary.owner_count }} </span>
                    </div><!--/social-box-->
                </div><!--/col-->
            </div>
            <div class="row-fluid" style="background-color: #f4f4f6;">
                <div class="col-md-12">
                    <div class="content-card" style="padding-top:25px">
                        <div class="">
                            <h3 class="text-center dash" ng-if="!spinner">
                                <span ng-if="ward">Wards</span>
                                <span ng-if="constituency">Sub Counties</span>
                                <span ng-if="county">Top 20 Counties</span> With Most Facilities
                            </h3>
                        </div>
                        <div ng-if="spinner" class="col-lg-12 text-center margin-t-20 margin-b-20 fs-18">
                            <img src="assets/img/ajax-loader.gif" width="50px" height="50px">
                        </div>
                        <div class="panel-body">
                            <div id="facilitybar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-5">
                    <div class="content-card" style="padding-top:25px">
                        <div class="">
                            <h3 class="text-center dash">Facility Owner Types</h4>
                        </div>
                        <div ng-if="spinner" class="col-lg-12 text-center margin-t-20 margin-b-20 fs-18">
                            <img src="assets/img/ajax-loader.gif" width="50px" height="50px">
                        </div>
                        <div class="panel-body">
                            <div id="chartowners">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="content-card" style="padding-top:25px">
                        <div class="">
                            <h3 class="text-center dash">Facility Types</h4>
                        </div>
                        <div ng-if="spinner" class="col-lg-12 text-center margin-t-20 margin-b-20 fs-18">
                            <img src="assets/img/ajax-loader.gif" width="50px" height="50px">
                        </div>
                        <div class="panel-body">
                            <div id="chartfacility">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
