<section class="section row">
  <div ui-view="header"></div>
    <div class="content fade-content">
    <contentheader hide-back-button></contentheader>
        <div ng-if="spinner" class="text-center fade-content col-xs-12 margin-t-20 content-card fs-24 pad-t-20 pad-b-20">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div ng-if="!spinner" class="fade-content col-xs-12 margin-t-20">
        <!-- Info about facilities -->
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12 content-card pad-0" style="border-bottom: 1px solid #e0e0e0;border-left: 1px solid #e0e0e0;">
                <div class="col-xs-12 pad-l-5">
                    <h1 class="fs-22 margin-t-10">
                        Facilities Summary
                    </h1>
                </div>
                <div class="col-xs-12 list-group pad-0 margin-b-0" style="font-family : 'Lato Light', sans-serif;">
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="facilities">
                    <span class="fa-stack fa-lg fs-18 text-blue">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
                    </span>&nbsp;<span class="fs-16">
                        Total Facilities
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b> #{{summary.total_facilities }} </b>
                    </span>
                  </a>
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="facility_reject_list">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-hospital-o fa-stack-1x"></i>
                      <i class="fa fa-ban fa-stack-2x text-warning"></i>
                    </span>&nbsp;<span class="fs-16">
                        Rejected Facilities
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b> #{{summary.rejected_facilities_count }}</b>
                    </span>
                  </a>
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="facilities_closed">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-hospital-o fa-stack-1x"></i>
                      <i class="fa fa-times-circle-o fa-stack-2x text-danger"></i>
                    </span>&nbsp; <span class="fs-16">
                        Closed Facilities
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b>#{{summary.closed_facilities_count }}</b>
                    </span>
                  </a>
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="facilities_approve" requires-permission="facilities.view_facility,facilities.add_facilityapproval">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-hospital-o fa-stack-1x"></i>
                      <i class="fa fa-bullseye fa-stack-2x text-warning"></i>
                    </span>&nbsp; <span class="fs-16">
                        Facilities Pending Approval
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b>#{{summary.pending_updates }}</b>
                    </span>
                  </a>
                </div>
            </div>
        </div>
        <!-- End of facilities summaries -->
        <!-- Info about chus -->
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12 content-card pad-0" style="border-bottom: 1px solid #e0e0e0;border-left: 1px solid #e0e0e0;">
                <div class="col-xs-12 pad-l-5">
                    <h1 class="fs-22 margin-t-10">
                        Community Health Units Summary
                    </h1>
                </div>
                <div class="col-xs-12 list-group pad-0 margin-b-0" style="font-family : 'Lato Light', sans-serif;">
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="community_units">
                    <span class="fa-stack fa-lg fs-18 text-blue">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>&nbsp; <span class="fs-16">
                        Total Community Health Units
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b>#{{summary.total_chus }}</b>
                    </span>
                  </a>
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="chu_reject_list">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-building fa-stack-1x"></i>
                      <i class="fa fa-ban fa-stack-2x text-warning"></i>
                    </span>&nbsp;<span class="fs-16">
                        Rejected Community Health Units
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b> #{{summary.rejected_chus }}</b>
                    </span>
                  </a>
                  <a class="list-group-item fs-16 pad-t-5 pad-b-5" ui-sref="chu_pending_approvals" requires-permission="facilities.view_facility,facilities.add_facilityapproval">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-building fa-stack-1x"></i>
                      <i class="fa fa-bullseye fa-stack-2x text-warning"></i>
                    </span>&nbsp; <span class="fs-16">
                        Community Health Units Pending Approval
                    </span>
                    <span class="pull-right margin-t-5 fs-20">
                        <b>#{{summary.chus_pending_approval }}</b>
                    </span>
                  </a>
                </div>
            </div>
        </div>
        <!-- End of chu summaries -->
        <div class="clearfix"></div>

        <!-- Recently Added items -->
        <div class="col-md-6 col-sm-12">
            <div class="col-xs-12 content-card margin-b-5" style="border-bottom: 1px solid #e0e0e0;border-left: 1px solid #e0e0e0;">
                <h4 class="fw-500 fs-20 margin-t-5 col-sm-4 pad-l-0">
                    Recently Added
                </h4>
                <span class="text-right col-sm-8 pad-r-0">
                    <button class="btn btn-xs btn-rounded btn-warning fs-12" ng-click="weekly()">Last Week</button>
                    <button class="btn btn-xs btn-rounded btn-warning fs-12" ng-click="monthly()">Last Month</button>
                </span>
                <ul class="col-xs-12 list-group pad-0 margin-b-0">
                  <li class="list-group-item fs-16 pad-t-5 pad-b-5" style="font-family : 'Lato Light', sans-serif;">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
                    </span>&nbsp;
                    <span >Facilities Recently Added</span>
                    <span class="pull-right margin-t-5">
                        <span class="fs-20" ng-if="!recent_spinner">
                            <b>
                                {{ summary.recently_created }}
                            </b>
                        </span>
                        <span ng-if="recent_spinner" class="text-center fs-20">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </span>
                    </span>
                  </li>
                  <li class="list-group-item fs-16 pad-t-5 pad-b-5" style="font-family : 'Lato Light', sans-serif;">
                    <span class="fa-stack fa-lg fs-18">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>&nbsp;
                    <span >Community Health Units Recently Added</span>
                    <span class="pull-right margin-t-5">
                        <span class="fs-20" ng-if="!recent_spinner">
                            <b>
                                {{ summary.recently_created_chus}}
                            </b>
                        </span>
                        <span ng-if="recent_spinner" class="text-center fs-20">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </span>
                    </span>
                  </li>
                </ul>
            </div>
        </div>
        <!-- End of recently added items -->
        <!-- Logged in user details -->
        <div class="col-md-6 col-sm-12">
            <div class="col-xs-12 pad-0 content-card" style="border-bottom: 1px solid #e0e0e0;border-left: 1px solid #e0e0e0;">
                <ul class="col-xs-12 list-group pad-0 margin-b-0">
                  <li class="col-xs-12 list-group-item fs-16 pad-t-5 pad-b-5" style="font-family : 'Lato Light', sans-serif;">
                    <span class="col-xs-12 pad-0">
                        <span class="col-xs-3 fa-stack fa-lg fs-26 text-info">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="col-xs-9 fs-18">
                            <b>Job Title</b>
                            <br>
                            <span class="fs-16">
                                {{user.job_title_name || 'Job title not assigned'}}
                            </span>
                        </span>
                    </span>
                  </li>
                  <li class="col-xs-12 list-group-item fs-16 pad-t-5 pad-b-5" style="font-family : 'Lato Light', sans-serif;" ng-if="user.user_counties.length!==0">
                    <span class="col-xs-12 pad-0">
                        <span class="col-xs-3 fa-stack fa-lg fs-26 text-success">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse">
                          </i>
                        </span>
                        <span class="col-xs-9 fs-18">
                            <b>Assigned Counties</b>
                            <br>
                            <span ng-repeat="c in user.user_counties" class="fs-16">
                                {{c.county_name | titlecase}}
                            </span>
                        </span>
                    </span>
                  </li>
                  <li class="col-xs-12 list-group-item fs-16 pad-t-5 pad-b-5" style="font-family : 'Lato Light', sans-serif;" ng-if="user.user_constituencies.length!==0 || user.user_sub_counties.length!==0">
                    <span class="col-xs-12 pad-0">
                        <span class="col-xs-3 fa-stack fa-lg fs-26 text-success">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse">
                          </i>
                        </span>
                        <span class="col-xs-9 fs-18">
                            <b>Assigned Constituencies</b>
                            <br>
                            <span ng-repeat="c in user.user_constituencies" class="fs-16">
                                {{c.constituency_name | titlecase}}
                            </span>
                        </span>
                             <span class="col-xs-9 fs-18">
                            <b>Assigned Sub-Counties</b>
                            <br>
                            <span ng-repeat="c in user.user_sub_counties" class="fs-16">
                                {{c.sub_county_name | titlecase}}
                            </span>
                        </span>
                    </span>
                  </li>
                  <li class="col-xs-12 list-group-item fs-16 pad-t-5 pad-b-5" style="font-family : 'Lato Light', sans-serif;"ng-if="user.is_national">
                    <span class="col-xs-12 pad-0">
                        <span class="col-xs-3 fa-stack fa-lg fs-26 text-success">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse">
                          </i>
                        </span>
                        <span class="col-xs-9 fs-18">
                            <b>National</b>
                            <br>
                            <span class="fs-16">
                                National Level Access
                            </span>
                        </span>
                    </span>
                  </li>
                </ul>
            </div>
        </div>
        <!-- Logged in user details -->
        <div class="clearfix"></div>
    </div>
        <div class="col-xs-12" style="background-color: #f4f4f6;"  ng-hide="(summary.county_summary.length==0) && (summary.constituencies_summary.length==0) && (summary.wards_summary.length==0)">
                <div class="col-xs-12">
                   <div class="col-xs-12 content-card">
                        <div class="">
                            <h3 class="text-center dash" ng-if="!spinner">
                               Number of health facilities and CHU<small class='black-text'>s</small> by
                                <span ng-if="ward">Ward</span>
                                <span ng-if="constituency">Sub-County</span>
                                <span ng-if="county">County</span>
                                <span ng-if="user.constituency_name">
                                    in {{user.constituency_name | titlecase}} Sub-county
                                </span>
                                <span ng-if="user.county_name">
                                    in {{user.county_name | titlecase}} County
                                </span>
                            </h3>
                        </div>
                        <div ng-if="spinner" class="col-xs-12 text-center margin-t-20 margin-b-20 fs-24">
                            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                        </div>
                        <div class="panel-body">
                            <div id="facilitybar">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12">
            <div class="col-md-5">
                <div class="col-xs-12 content-card">
                    <h3 class="text-center dash">Facility Owner Categories</h3>
                    <div ng-if="spinner" class="col-xs-12 text-center margin-t-20 margin-b-20 fs-18">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                    </div>
                    <div class="panel-body">
                        <div id="chartowners">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-xs-12 content-card">
                    <h3 class="text-center dash">Facility Types</h3>
                    <div ng-if="spinner" class="col-xs-12 text-center margin-t-20 margin-b-20 fs-18">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                    </div>
                    <div class="panel-body">
                        <div id="chartfacility">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
