
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div class="col-lg-12 margin-t-20">
    <form role="form form-horizontal form-bordered" name="facilities.owner_type.form">
        <!-- Start of dynamic form -->
        <div class="col-lg-6">
            <div class="group">
                <input type="text" name="name" ng-model="facilityOwnerTypes.name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="control-label">
                    Name
                </label>
            </div>
            <div class="group">
                <textarea type="text" name ="description" ng-model="facilityOwnerTypes.description"></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    Description
                </label>
            </div>
            <div class="group">
                <input type="checkbox" name="active" data-ng-value="true" ng-model="facilityOwnerTypes.active">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    Status
                </label>
            </div>
        </div>
        <!-- End of the dynamic form -->
        <div class="col-md-12 form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-t-10 ">
                <span class="pull-left margin-h-5">
                    <button ng-if="!facilityOwnerTypes.id" ng-click="createFacilityOwnerTypes(facilityOwnerTypes)" class="login-btn login-btn-default">
                        <i class="fa fa-save"></i> Create
                    </button>
                    <button ng-if="facilityOwnerTypes.id" ng-click="updateFacilityOwnerTypes(facilityOwnerTypes.id, facilities.owner_type.form)" class="login-btn login-btn-default">
                        <i class="fa fa-edit"></i> Update
                    </button>
                </span>
                <span ng-if="facilityOwnerTypes.id" class="pull-left margin-h-5">
                    <button ng-click="deleteFacilityOwnerTypes(facilityOwnerTypes.id)" class="login-btn login-btn-info">
                       <i class="fa fa-remove"></i>Delete
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
