<contentheader></contentheader>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div ui-view="delete"></div>
<div class="col-lg-12 margin-t-20">
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 content-card">
    <form role="form form-horizontal form-bordered" name="frm_owner_type">
        <drf-err-msg></drf-err-msg>
        <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 margin-t-20">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" name="name" ng-model="facilityOwnerTypes.name" required api-checker class="form-control">
            </div>
            <div class="form-group">
                <label class="form-group">Description</label>
                <textarea type="text" name="description" ng-model="facilityOwnerTypes.description" api-checher class="form-control"></textarea>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 margin-t-10 margin-b-10 text-left">
                <div class="form-group checkbox">
                    <label for="active" ng-if="facilityOwnerTypes.id">
                        <input type="checkbox" id="active" name="active" ng-model="facilityOwnerTypes.active" api-checker >
                        Is Active?
                     </label>
                </div>
            </div>
        </div>
        <!-- End of the dynamic form -->
        <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 margin-t-10 margin-b-20 text-left">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-t-10 ">
                <span class="pull-left margin-h-5">
                    <button ng-if="!facilityOwnerTypes.id" ng-click="createFacilityOwnerTypes(facilityOwnerTypes)" class="btn btn-primary" requires-user-feature="is_staff" ng-disabled="frm_owner_type.$invalid">
                        Save
                    </button>
                    <button ng-if="facilityOwnerTypes.id" ng-click="updateFacilityOwnerTypes(facilityOwnerTypes.id, facilities.owner_type.form)" class="btn btn-primary" requires-user-feature="is_staff" ng-disabled="frm_owner_type.$invalid">
                        Save
                    </button>
                    <a ui-sref="setup.facility_owner_types" class="btn btn-default">Cancel</a>
                </span>
            </div>
        </div>
    </form>
</div>
</div>
