body {
  color: #5D5F63;
  background: #F0F1F6;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #16a086;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
p {
  font-size: 14px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
/*::selection {
  background: #fff7dd;
}
::-moz-selection {
  background: #fff7dd;
}*/
.badge.badge-success {
  background-color: #2dcc70;
  color: #fff;
}
.badge.badge-info {
  background-color: #3598db;
  color: #fff;
}
.badge.badge-warning {
  background-color: #f1c40f;
  color: #fff;
}
.badge.badge-danager {
  background-color: #e84c3d;
  color: #fff;
}
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 14px;
  margin-bottom: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

#cal {
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#events {
  background: #3DB4E8;
  color: #fff;
  height: 755px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#events h2 {
  font-size: 3em;
  font-weight: 300;
}
#events h3 {
  font-size: 2em;
  font-weight: 300;
  padding: 0;
  margin: 0 0 50px 0;
}
.external-event.ui-draggable {
  margin: 10px 0;
  padding: 5px;
  background: #149e82;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.external-event.ui-draggable:hover {
  cursor: move;
}
.form-control {
  color: #717171;
  outline: 0;
  height: 18px;
  padding: 6px 11px;
  line-height: 18px;
  font-size: 13px;
  background-color: #fafafa;
  min-height: 36px;
  filter: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form-control:focus {
  border-color: #7c7c7c;
}
.form-horizontal.form-border .form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.input-group {
  margin-bottom: 15px;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
label.error {
  color: #fff;
  background: #b94a48;
  border: solid thin #fff;
  padding: 3px 5px;
}
label.valid {
  color: #fff;
  background: #5CB85C;
  border: solid thin #fff;
  padding: 3px 5px;
}
.icheck div,
.icheck .disabled {
  float: left;
}
.icheck div {
  margin-right: 10px;
}
.icheck label {
  font-weight: normal;
}
.icheck .checkbox,
.icheck .radio {
  margin-bottom: 10px;
}

#container {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-content-wrapper {
  margin-left: 240px;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f1f2f7;
  min-height: 1000px;
}
.main-content-wrapper #main-content {
  border-top: solid thin #FFFFFF;
  display: inline-block;
  padding: 15px 15px 0 15px;
  width: 100%;
}
.main-content-wrapper #main-content .h1 {
  margin: 0;
  padding: 0px 10px 40px 10px;
  float: left;
  line-height: 10px;
  font-weight: 300;
  font-size: 42px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.main-content-toggle-left {
  margin-left: 0;
}
.main-content-toggle-right {
  margin-right: 240px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  border-left: solid 4px #3DB4E8;
  background-color: #2196F3;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.sidebar .nav > li > a:focus {
  color: #fff;
  border-left: solid 4px #293949;
  background-color: #293949;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-dropdown.open > a:after {
  content: "\f107";
}
.sidebar-left a {
  color: #8f939e;
}
.sidebar-left a:focus,
.sidebar-left a:hover {
  color: #fff;
  background-color: transparent;
}
.sidebar-left .active > a,
.sidebar-left .active > a:focus,
.sidebar-left .active > a:hover {
  color: #ffffff;
}
.sidebar-left .sidebar-profile .media-body h4 {
  color: #f5f5f5;
}
.sidebar-mini .sidebar-left .nav > li.open > a {
  color: #fff;
  background-color: #293949;
}
.sidebar-left .nav-sub li.open > a {
  color: #fff;
}
.sidebar + .main-content-wrapper {
  width: 100%;
}
.nav-dropdown > a:after {
  margin-top: -2px;
  float: right;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  text-shadow: none;
}
@media (max-width: 767px) {
  .sidebar {
    left: -240px;
  }
  .sidebar-opened .sidebar-left {
    display: block;
    left: 0;
  }
  .sidebar-opened .sidebar-left + .main-content-wrapper {
    left: 240px;
    overflow: hidden;
  }
  .sidebar-opened {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 660px) {
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-toggle-left {
    margin-left: 660px;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}

#right-panel-tabs .tab-content > .tab-pane {
  padding: 10px;
}
#right-panel-tabs .nav-tabs.nav-justified > .active > a,
#right-panel-tabs .nav-tabs.nav-justified > .active > a:hover,
#right-panel-tabs .nav-tabs.nav-justified > .active > a:focus {
  border: none;
  background: none;
}
#right-panel-tabs .nav > li > a {
  border: none;
}
#right-panel-tabs .nav > li > a:hover,
#right-panel-tabs .nav > li > a:focus {
  background: none;
  margin-bottom: 5px;
  cursor: pointer;
}
#right-panel-tabs .tab-content {
  padding: 0 10px;
}
#right-panel-tabs .nav-tabs.nav-justified > .active > a,
#right-panel-tabs .nav-tabs.nav-justified > .active > a:hover,
#right-panel-tabs .nav-tabs.nav-justified > .active > a:focus {
  border: none;
  color: #fff;
}
#right-panel-tabs .nav-tabs.nav-justified > .active > a,
#right-panel-tabs .nav-tabs.nav-justified > .active > a:hover,
#right-panel-tabs .nav-tabs.nav-justified > .active > a:focus {
  border: none;
  color: #fff;
}
#right-panel-tabs .nav-tabs.nav-justified > li > a {
  background: #212f3d;
  border-radius: 0;
  color: #999B9F;
}
#right-panel-tabs .nav-tabs.nav-justified > li > a,
#right-panel-tabs .nav-tabs.nav-justified > li > a:hover {
  margin: 0;
}
.setting-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.setting-list li {
  position: relative;
  display: block;
  padding: 10px 0;
  clear: both;
  color: #7c7f87;
  font-size: 12px;
}
.setting-list .switchery {
  float: right;
}
.slider.slider-horizontal {
  margin: 10px 0;
}
.slider.slider-vertical {
  margin: 0 10px;
}
.slider-handle.round {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #EFF2F7;
  background: #fff;
  cursor: pointer;
}
.slider-default .slider-selection {
  background-image: none;
  background-color: #bdc3c7;
}
.slider-primary .slider-selection {
  background-image: none;
  background-color: #3DB4E8;
}
.slider-success .slider-selection {
  background-image: none;
  background-color: #2dcc70;
}
.slider-warning .slider-selection {
  background-image: none;
  background-color: #f1c40f;
}
.slider-info .slider-selection {
  background-image: none;
  background-color: #3598db;
}
.slider-danger .slider-selection {
  background-image: none;
  background-color: #e84c3d;
}
#RGB {
  height: 239px;
  background: #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dashboard-tile {
  background-color: #fff;
  color: #555;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dashboard-tile.tile {
  background-color: #3DB4E8;
  color: #fff;
}
.dashboard-tile .header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.dashboard-tile .header .title {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
}
.dashboard-tile .content {
  padding: 10px;
}
.dashboard-tile.header .content {
  padding: 10px 20px;
  background: transparent;
  padding-right: 10px;
  display: inline-block;
  position: relative;
  z-index: 5;
}
.dashboard-tile.detail .icon {
  bottom: 0px;
  width: 80px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
}
.dashboard-tile.header .icon img {
  opacity: 0.8;
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
  top: 50px;
  width: 80px;
}
.dashboard-tile.header {
  position: relative;
  overflow: hidden;
}
.dashboard-tile.detail {
  position: relative;
  overflow: hidden;
}
.dashboard-tile.detail .content {
  background: transparent;
  padding: 10px 10px 13px;
  display: inline-block;
  position: relative;
  z-index: 5;
}
.dashboard-tile.detail .icon {
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  width: 80px;
  right: 40px;
  bottom: 9px;
}
.dashboard-tile.detail .icon i {
  color: rgba(0, 0, 0, 0.05);
  font-size: 85px;
  line-height: 65px;
}
.dashboard-tile .content p {
  margin-bottom: 0;
  padding: 10px;
  font-weight: 4 00;
  font-size: 14px;
  clear: both;
}
#main-content .dashboard-tile .content h1 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  padding: 8px;
}
/* ==========================================================================
   FlotChart
   ========================================================================== */
.chart-tooltip {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #233242 !important;
  border: 0px !important;
  color: #ffffff;
  padding: 10px 20px !important;
  font-size: 13px;
}
/* ==========================================================================
   Charts JS
   ========================================================================== */
.canvas-container {
  min-height: 300px;
  max-height: 600px;
  position: relative;
}
.default-bg {
  background-color: #bdc3c7;
}
.primary-bg {
  background-color: #3DB4E8;
}
.success-bg {
  background-color: #2dcc70;
}
.warning-bg {
  background-color: #f1c40f;
}
.info-bg {
  background-color: #3598db;
}
.danger-bg {
  background-color: #e84c3d;
}
.default-txt {
  color: #bdc3c7;
}
.primary-txt {
  color: #3DB4E8;
}
.success-txt {
  color: #2dcc70;
}
.warning-txt {
  color: #f1c40f;
}
.info-txt {
  color: #3598db;
}
.danger-txt {
  color: #e84c3d;
}
.label-default {
  background-color: #bdc3c7;
}
.label-primary {
  background-color: #3DB4E8;
}
.label-success {
  background-color: #2dcc70;
}
.label-warning {
  background-color: #f1c40f;
}
.label-info {
  background-color: #3598db;
}
.label-danger {
  background-color: #e84c3d;
}
.fa-hover {
  margin: 5px 0;
}
.fa-hover i {
  font-size: 14px;
  margin-right: 5px;
  width: 20px;
}
.mail-option ul li {
  list-style: none;
}

.compose-nav > li + li {
  margin-left: 0;
  margin-top: 0px;
}
.compose-nav li a,
.compose-nav li a:visited {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #f2f3f6;
  padding: 15px;
  border-right: 3px solid rgba(0, 0, 0, 0);
  color: #5D5F63;
}
.compose-nav > li.active > a,
.compose-nav > li.active > a:hover,
.compose-nav > li.active > a:focus {
  background: #f9f9f9;
  color: #3DB4E8;
  border-left: 3px solid #3DB4E8;
  margin-left: -3px;
}
.compose-nav > li > a:hover,
.compose-nav > li > a:focus {
  background: #f9f9f9;
  color: #3DB4E8;
  border-left: 3px solid #3DB4E8;
  margin-left: -3px;
}
.mail-checkbox {
  margin: 0 15px 0 8px;
}
.mail-option .btn-group .fa-refresh,
.pag-left,
.pag-right {
  color: #fff;
}
.inbox-pag li {
  float: left;
  margin-left: 5px;
}
.inbox-pag li span {
  display: inline-block;
  margin-top: 7px;
  margin-right: 5px;
}
.compose-nav {
  margin: 15px -15px 0 -15px;
}
.table-inbox span.title {
  display: block;
  font-weight: bold;
}
.table-inbox tr {
  background: #f9f9f9;
}
.table-inbox tr.unread {
  background: #fff;
}
.table-inbox a,
.table-inbox a:visited {
  color: #5D5F63;
}
.table-inbox .unread a,
.table-inbox .unread a:visited {
  color: #3DB4E8;
}
.table-inbox .fa-star {
  color: #f1c40f;
}
.overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  opacity: 0.8;
  background: #3DB4E8;
  border: solid 3px #3DB4E8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
  text-shadow: 1px 1px 1px #666;
  padding: 0 4px;
}
.overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #3DB4E8;
}
.overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #3DB4E8;
}
.modal-footer .btn + .btn {
  margin-bottom: 5px;
}
.modal .modal-body.modal-scroll {
  max-height: 300px;
  overflow-y: auto;
}


/* ==========================================================================
   Error Pages 404 and 500
   ========================================================================== */
#error-container .block-error {
  width: 400px;
  margin: 50px auto 0px;
}
#error-container header h1.error {
  font-size: 250px;
}
#error-container header p {
  text-transform: uppercase;
  font-size: 30px;
}
#error-container p {
  margin: 10px 0 40px 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3DB4E8;
  border-color: #3DB4E8;
}
.pagination > li > a,
.pagination > li > span {
  color: #3DB4E8;
}
.panel {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel > .panel-heading {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel .actions {
  position: absolute;
  right: 30px;
  top: 18px;
}
.panel .actions i {
  font-size: 1em;
  margin: 0 3px;
}
.panel .actions i:hover {
  cursor: pointer;
}
.panel > .panel-footer {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel-default > .panel-heading {
  border-color: #eff2f7;
  background: #fafafa;
  color: #767676;
}
.panel-default .actions i {
  font-size: 1em;
  color: #bdc3c7;
  margin: 0 3px;
}
.panel-default .actions i:hover {
  cursor: pointer;
  color: #767676;
}
.panel-default > .panel-footer {
  border-color: #eff2f7;
  background: #fafafa;
  color: #767676;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #3DB4E8;
  border-color: #3DB4E8;
}
.panel-primary {
  border-color: #3DB4E8;
}
.panel-primary > .panel-heading a,
.panel-primary > .panel-heading a:hover {
  color: #fff;
}
.panel-solid-default > .panel-heading,
.panel-solid-default > .panel-body,
.panel-solid-default > .panel-footer {
  background: #bdc3c7;
  color: #fff;
  border: none;
}
.panel-solid-primary > .panel-heading,
.panel-solid-primary > .panel-body,
.panel-solid-primary > .panel-footer {
  background: #3DB4E8;
  color: #fff;
  border: none;
}
.panel-solid-success > .panel-heading,
.panel-solid-success > .panel-body,
.panel-solid-success > .panel-footer {
  background: #2dcc70;
  color: #fff;
  border: none;
}
.panel-solid-warning > .panel-heading,
.panel-solid-warning > .panel-body,
.panel-solid-warning > .panel-footer {
  background: #f1c40f;
  color: #fff;
  border: none;
}
.panel-solid-info > .panel-heading,
.panel-solid-info > .panel-body,
.panel-solid-info > .panel-footer {
  background: #3598db;
  color: #fff;
  border: none;
}
.panel-solid-danger > .panel-heading,
.panel-solid-danger > .panel-body,
.panel-solid-danger > .panel-footer {
  background: #e84c3d;
  color: #fff;
  border: none;
}
.progress-bar-default {
  background-color: #bdc3c7;
}
.progress-bar-primary {
  background-color: #3DB4E8;
}
.progress-bar-success {
  background-color: #2dcc70;
}
.progress-bar-warning {
  background-color: #f1c40f;
}
.progress-bar-info {
  background-color: #3598db;
}
.progress-bar-danger {
  background-color: #e84c3d;
}
.tab-wrapper {
  margin-bottom: 20px;
}
.tab-wrapper .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tab-wrapper .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 10px 15px;
}
.tab-wrapper > .nav-tabs > li a {
  color: #5D5F63;
}
.tab-wrapper > .nav-tabs > li.active > a {
  border-top: 2px solid #3DB4E8;
  background-color: #ffffff;
}
.tab-wrapper.tab-left > .nav-tabs > li,
.tab-wrapper.tab-right > .nav-tabs > li {
  float: none;
  min-width: 75px;
}
.tab-wrapper.tab-left > .nav-tabs > li > a,
.tab-wrapper.tab-right > .nav-tabs > li > a {
  border: 1px solid #ddd;
}
.tab-wrapper.tab-left > .nav-tabs > li.active > a,
.tab-wrapper.tab-right > .nav-tabs > li.active > a {
  border-top-color: #ddd !important;
}
.tab-wrapper.tab-left .tab-content,
.tab-wrapper.tab-right .tab-content {
  overflow: auto;
  border-top: 1px solid #ddd;
}
.tab-wrapper.tab-left > .nav-tabs {
  float: left;
  margin-right: -3px;
}
.tab-wrapper.tab-left > .nav-tabs > li > a {
  border-right: 0;
}
.tab-wrapper.tab-left > .nav-tabs > li.active > a {
  border-left: 2px solid #3DB4E8;
}
.tab-wrapper.tab-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
.tab-wrapper.tab-right > .nav-tabs > li > a {
  border-left: 0;
}
.tab-wrapper.tab-right > .nav-tabs > li.active > a {
  border-right: 2px solid #3DB4E8;
}
.tab-wrapper.tab-bottom > .tab-content {
  border-top: 1px solid #ddd;
}
.tab-wrapper.tab-bottom > .nav-tabs {
  border-bottom: none;
  margin-top: 0px;
}
.tab-wrapper.tab-bottom > .nav-tabs > li.active > a {
  margin-top: -2px;
  border-top-color: transparent !important;
  border-bottom: 2px solid #3DB4E8;
}
.tab-primary.tab-wrapper > .nav-tabs > li.active > a {
  border-top-color: #3DB4E8;
}
.tab-primary.tab-wrapper.tab-left > .nav-tabs > li.active {
  border-left-color: #3DB4E8;
}
.tab-primary.tab-wrapper.tab-right > .nav-tabs > li.active {
  border-right-color: #3DB4E8;
}
.tab-primary.tab-wrapper.tab-bottom > .nav-tabs > li.active > a {
  border-bottom-color: #3DB4E8;
}
.step-content {
  border: 1px solid #D4D4D4;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.step-content .step-pane {
  display: none;
}
.step-content .active {
  display: block;
}
.step-content .active .btn-group .active {
  display: inline-block;
}
.wizard .steps .badge.badge-info {
  background-color: #3DB4E8;
}
.wizard .steps .badge.badge-success {
  background-color: #3DB4E8;
}
.form-group .title {
  text-align: right;
}
.switchery {
  border: none;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 660px) {
  #header {
    height: 160px;
  }
  #header .brand {
    width: 100%;
  }
  #header .user-nav ul {
    padding-left: 0;
  }
  #header .toggle-navigation.toggle-left {
    float: left;
  }
  .sidebar {
    left: -240px;
  }
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-wrapper {
    margin-left: 0;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 22px;
  }
  #header .dropdown.messages {
    display: none;
  }
}
