body {
  color: #5D5F63;
  background: #F0F1F6;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #16a086;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
p {
  font-size: 14px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
label.error {
  color: #fff;
  background: #b94a48;
  border: solid thin #fff;
  padding: 3px 5px;
}
label.valid {
  color: #fff;
  background: #5CB85C;
  border: solid thin #fff;
  padding: 3px 5px;
}

#container {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-content-wrapper {
  margin-left: 240px;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f1f2f7;
  min-height: 1000px;
}
.main-content-wrapper #main-content {
  border-top: solid thin #FFFFFF;
  display: inline-block;
  padding: 15px 15px 0 15px;
  width: 100%;
}
.main-content-wrapper #main-content .h1 {
  margin: 0;
  padding: 0px 10px 40px 10px;
  float: left;
  line-height: 10px;
  font-weight: 300;
  font-size: 42px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.main-content-toggle-left {
  margin-left: 0;
}
.main-content-toggle-right {
  margin-right: 240px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  border-left: solid 4px #3DB4E8;
  background-color: #2196F3;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.sidebar .nav > li > a:focus {
  color: #fff;
  border-left: solid 4px #293949;
  background-color: #293949;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-dropdown.open > a:after {
  content: "\f107";
}
.sidebar-left a {
  color: #8f939e;
}
.sidebar-left a:focus,
.sidebar-left a:hover {
  color: #fff;
  background-color: transparent;
}
.sidebar-left .active > a,
.sidebar-left .active > a:focus,
.sidebar-left .active > a:hover {
  color: #ffffff;
}
.sidebar-left .sidebar-profile .media-body h4 {
  color: #f5f5f5;
}
.sidebar-mini .sidebar-left .nav > li.open > a {
  color: #fff;
  background-color: #293949;
}
.sidebar-left .nav-sub li.open > a {
  color: #fff;
}
.sidebar + .main-content-wrapper {
  width: 100%;
}
.nav-dropdown > a:after {
  margin-top: -2px;
  float: right;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  text-shadow: none;
}
@media (max-width: 767px) {
  .sidebar {
    left: -240px;
  }
  .sidebar-opened .sidebar-left {
    display: block;
    left: 0;
  }
  .sidebar-opened .sidebar-left + .main-content-wrapper {
    left: 240px;
    overflow: hidden;
  }
  .sidebar-opened {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 660px) {
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-toggle-left {
    margin-left: 660px;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}

.fa-hover {
  margin: 5px 0;
}
.fa-hover i {
  font-size: 14px;
  margin-right: 5px;
  width: 20px;
}

.mail-option .btn-group .fa-refresh,
.pag-left,
.pag-right {
  color: #fff;
}
.inbox-pag li {
  float: left;
  margin-left: 5px;
}
.inbox-pag li span {
  display: inline-block;
  margin-top: 7px;
  margin-right: 5px;
}
.compose-nav {
  margin: 15px -15px 0 -15px;
}
.table-inbox span.title {
  display: block;
  font-weight: bold;
}
.table-inbox tr {
  background: #f9f9f9;
}
.table-inbox tr.unread {
  background: #fff;
}
.table-inbox a,
.table-inbox a:visited {
  color: #5D5F63;
}
.table-inbox .unread a,
.table-inbox .unread a:visited {
  color: #3DB4E8;
}
.table-inbox .fa-star {
  color: #f1c40f;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3DB4E8;
  border-color: #3DB4E8;
}
.pagination > li > a,
.pagination > li > span {
  color: #3DB4E8;
}

.step-content {
  border: 1px solid #D4D4D4;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.step-content .step-pane {
  display: none;
}
.step-content .active {
  display: block;
}
.step-content .active .btn-group .active {
  display: inline-block;
}
.wizard .steps .badge.badge-info {
  background-color: #3DB4E8;
}
.wizard .steps .badge.badge-success {
  background-color: #3DB4E8;
}
.form-group .title {
  text-align: right;
}
.switchery {
  border: none;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 660px) {
  #header {
    height: 160px;
  }
  #header .brand {
    width: 100%;
  }
  #header .user-nav ul {
    padding-left: 0;
  }
  #header .toggle-navigation.toggle-left {
    float: left;
  }
  .sidebar {
    left: -240px;
  }
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-wrapper {
    margin-left: 0;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 22px;
  }
  #header .dropdown.messages {
    display: none;
  }
}
