frontend
body.boxed header {
    width: 100%;
}

.wrap {
    overflow: hidden;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: #777777;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
}

h1,h2,h3 {
    margin: 0 0 25px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
    font-size: 22px;
    position: relative;
}

h4 {
    font-size: 18px;
    position: relative;
}

h3.title {
	overflow: hidden;
	line-height:28px;
	font-weight: 400;
}

h3.title:after {
    background: url(../img/bg_off.png) repeat;
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
}

.bg-overlay {
	background: rgba(0, 0, 0, 0.8);
	/*padding: 60px 0;*/
    height: 600px;
}

ul,li,ol {
    line-height: 24px;
    margin:0;
}

#style-switcher ul, #style-switcher ul li {
    list-style: none;
    padding: 0;
}

a:hover,a:focus {
    text-decoration: none;
    outline: none;
	color: #777777;
}

.btn-special,.btn-normal,.btn-small,.btn-large,.comment-des,.steps .popup,.testimonial p,.contact-box {
    border-radius: 3px;
}
