<!-- /- Start of tabbed multi-step form -->
<contentheader></contentheader>
<div class="col-lg-12 margin-t-20 content-card margin-h-5">
    <div class="col-lg-12 margin-t-20 ">
            <!-- Start of tabbed multi step form  -->

             <div class="container-fluid">
                <div class="">
                    <ul class="form-tab margin-t--27">
                            <li ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a ui-sref="facilities.create.basic({facilityId: facility.id})">
                                    <span class="fw-900">
                                        <i class="fa fa-building"></i> Facility Details
                                    </span>
                                </a>
                            </li>

                            <li ui-sref-active="facility.id"  class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a ui-sref="facilities.create.address({facilityId: facility.id})">
                                    <span class="fw-900 ">
                                        <i class="fa fa-envelope"></i> Address Information
                                    </span>
                                </a>
                            </li>
                            <li ui-sref-active="facility.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a ui-sref="facilities.create.contacts({facilityId: facility.id})" >
                                    <span class="fw-900 ">
                                        <i class="fa fa-phone"></i> Contact Information
                                    </span>
                                </a>
                            </li>
                            <li ui-sref-active="facility.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a ui-sref="facilities.create.services({facilityId: facility.id})" >
                                    <span class="fw-900 ">
                                        <i class="fa fa-exchange"></i> Services
                                    </span>
                                </a>
                            </li>
                        </ul>

                </div>
                <div class="tab-content">
                        <div class="col-lg-12 margin-t-20">
                            <div ng-if="alert" class="callout callout-danger fade in">
                                <h4>Some Errors On The Form</h4>
                                <p ng-bind-html="alert"></p>
                            </div>
                                <form role="form" name="facilities.form.address">
                                    <div class="col-lg-6">
                                        <div class="group">
                                            <input type="text" name ="address" ng-model="address.address" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Address</label>
                                        </div>
                                        <div class="group">
                                            <input type="text" name ="postal_code" ng-model="address.postal_code" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Postal Code</label>
                                        </div>
                                        <div class="group">
                                            <input type="text" name ="postal_code" ng-model="address.plot_number" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Plot Number</label>
                                        </div>
                                        <div class="group">
                                            <textarea name="nearest_landmark" ng-model="facility.nearest_landmark"></textarea>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>
                                                Nearest Landmark
                                            </label>
                                        </div>
                                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <div class="col-lg-4 col-md-5 col-sm-10 col-xs-12 margin-t-10 pull-left">
                                                <span class="pull-left margin-h-5">
                                                    <button ng-click="saveAddress(address)" ng-if="!address.id" class="login-btn login-btn-info">
                                                        Save
                                                    </button>
                                                </span>
                                                <span class="pull-left margin-h-5">
                                                    <button type="submit" ng-click="updateAddress(address.id, facilities.form.address)" ng-if="address.id" class="login-btn login-btn-info">
                                                        Update
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                </div>

                            </form>
                        </div>
                    </div>
            </div>
            <!-- end of tabbed multistep form -->
    </div>
</div>


