<!-- /- Start of tabbed multi-step form -->
<div class="tab-content">
    <div class="col-lg-12 margin-t-20">
    <div ng-if="alert" class="callout callout-danger fade in">
        <h4>Some Errors On The Form</h4>
        <p ng-bind-html="alert"></p>
    </div>
        <form role="form" name="facilities.form.basic">
            <div class="col-lg-6">
                <div class="group">
                    <input type="text" name ="name" ng-model="facility.name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Name</label>
                </div>
                <div class="group">
                    <input type="text" name="abbreviation" ng-model="facility.abbreviation">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Abbreviation</label>
                </div>
                <div class="group">
                    <textarea name="description" ng-model="facility.description"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Description
                    </label>
                </div>
                <label>
                    Select Facility Type:
                </label>
                <div class="group">

                    <ac-select ac-model="facility.facility_type" ac-options="item.name for item in getOptionsData.facilityType()"
                        ac-settings='{loadOnOpen: true}' name="facility_type"
                    ></ac-select>
                </div>
                <label>
                    Select Operation Status:
                </label>
                <div class="group">

                    <ac-select ac-model="facility.operation_status" name="operation_status" ac-options="item.name for item in getOptionsData.operationStatus()"
                        ac-settings='{loadOnOpen: true}'
                    ></ac-select>
                </div>

                <label>
                    Select Owner:
                </label>
                <div class="group">

                    <ac-select ac-model="facility.owner" ac-options="item.name for item in getOptionsData.owner()"
                        ac-settings='{loadOnOpen: true}' name="owner"
                    ></ac-select>
                </div>


                <div class="group">
                    <input type="number" ng-model="facility.number_of_beds"  name="number_of_beds" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Number of Beds</label>
                </div>
                <div class="group">
                    <input type="number" ng-model="facility.number_of_cots" name="number_of_cots" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Number of Cots</label>
                </div>
                <div class="group">
                    <textarea ng-model="facility.attributes" name="attributes"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Attributes
                    </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox-group">
                        <input type="checkbox" id="open_whole_week" name="open_whole_week" ng-model="facility.open_whole_week">
                        <label for="open_whole_week">
                            <span class="check"></span>
                            <span class="box"></span>
                             Open Whole Week?
                         </label>
                    </div>
                </div>
                <br/>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox-group">
                        <input type="checkbox" id="open_whole_day" name="open_whole_day" ng-model="facility.open_whole_day">
                        <label for="open_whole_day">
                            <span class="check"></span>
                            <span class="box"></span>
                             Open Whole Day?
                         </label>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox-group">
                        <input type="checkbox" id="is_classified" name="is_classified" ng-model="facility.is_classified">
                        <label for="is_classified">
                            <span class="check"></span>
                            <span class="box"></span>
                             Is Classified?
                         </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <label>
                    Select County:
                </label>
                <div class="group">

                    <ac-select ac-model="facility_utils.county" ac-options="item.name for item in getOptionsData.county()"
                        ac-settings='{loadOnOpen: true}' ac-change="events.county(value)" name="county"
                    ></ac-select>
                </div>
                <label>
                    Select Constituency:
                </label>
                <div class="group">

                    <ac-select ac-model="facility_utils.constituency" ac-options="item.name for item in getOptionsData.constituency()"
                        ac-settings='{loadOnOpen: true, loadOnCreate:false}' ac-change="events.constituency(value)" name="constituency"
                    ></ac-select>
                </div>

                <label>
                    Select Ward:
                </label>
                <div class="group">

                    <ac-select ac-model="facility.ward" ac-options="item.name for item in getOptionsData.ward()"
                        ac-settings='{loadOnOpen: true, loadOnCreate:false}' name="ward"
                    ></ac-select>
                </div>
                <div class="group">
                    <textarea type="password" ng-model="facility.location_desc" name="location_desc"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                       Location Description
                    </label>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-lg-4 col-md-5 col-sm-10 col-xs-12 margin-t-10 pull-left">
                        <span class="pull-left margin-h-5">
                            <button ng-click="saveFacility(facility)" ng-if="!facility.id" class="login-btn login-btn-info">
                                Save
                            </button>
                        </span>
                        <span class="pull-left margin-h-5">
                            <button type="submit" ng-click="updateFacility(facility, facilities.form.basic)" ng-if="facility.id" class="login-btn login-btn-info">
                                Update
                            </button>
                        </span>
                    </div>
                </div>
        </form>
    </div>
</div>
