//solution for mozilla breakages
table {table-layout:fixed}
//removes underlines : use case is for links
.no-underline {
    text-decoration: none !important;
}

//to add tab spacing
.tab-space {
    padding-left: 5em;
}


/*
***
To add other padding/margin classes
use 'style'-'orientation'-'pixel size'
***
*/

// padding  classes
.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px !important;
}

.pad-20 {
    padding: 20px !important;
}

.pad-form {
    padding: 2% 20% 2% 20%;
}

.pad-r-0 {
    padding-right: 0px;
}

.pad-l-0 {
    padding-left: 0px;
}

.pad-l-10 {
    padding-left: 10px;
}

.pad-l-40 {
    padding-left: 40px;
}

.pad-l-20p {
    padding-left: 20%
}

.pad-l-43p {
    padding-left: 43%;
}

.pad-b-10 {
    padding-bottom: 10px !important;
}

.pad-t-10 {
    padding-top: 10px;
}

.pad-t-20 {
    padding-top: 20px;
}

.pad-t-50 {
    padding-top: 50px;
}

.pad-h-5 {
    padding: 0px 5px 0px 5px;
}

.pad-h-10 {
    padding: 0px 10px 0px 10px;
}

.pad-h-20 {
    padding: 0px 20px 0px 20px;
}

.pad-h-30 {
    padding: 0px 30px 0px 30px;
}

.pad-v-10 {
    padding: 10px 0px 10px 0px;
}

.pad-v-20 {
    padding: 20px 0px 20px 0px;
}

.pad-r-3 {
    padding-right: 3px;
}

.pad-r-0 {
    padding-right: 0px;
}

.pad-r-20 {
    padding-right: 20px !important;
}

margin-10 {
    margin: 10px 10px 10px 10px;
}

margin-20 {
    margin: 20px;
}

// h means horizontal
.margin-h-5 {
    margin: 0px 5px 0px 5px;
}

.margin-h--5 {
    margin: 0px -5px 0px -5px;
}

.margin-h-10 {
    margin: 0px 10px 0px 10px;
}

.margin-h-20 {
    margin: 0px 20px 0px 20px;
}

.margin-h-25 {
    margin: 0px 25px 0px 25px;
}

.margin-v-20 {
    margin: 20px 0px 20px 0px;
}

.margin-t-1 {
    margin-top: 1px;
}

.margin-t-5 {
    margin-top: 5px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-15 {
    margin-top: 15px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-40 {
    margin-top: 40px;
}

.margin-t-20p {
    margin-top: 20%;
}

.margin-t-50 {
    margin-top: 50px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-t-50 {
    margin-top: 50px;
}

.margin-t-250 {
    margin-top: 250px;
}

.margin-t--15 {
    margin-top: -15px;
}

.margin-t--20 {
    margin-top: -20px;
}

.margin-t--27 {
    margin-top: -27px;
}

.margin-b-0 {
    margin-bottom: 0px;
}

.margin-b-10 {
    margin-bottom: 10px !important;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-70 {
    margin-bottom: 70px;
}

.margin-b-30 {
    margin-bottom: 30px !important;
}

.margin-b-235 {
    margin-bottom: 235px;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-r-30 {
    margin-right: 30px;
}

.margin-r--10 {
    margin-right: -10px;
}

.margin-l-3 {
    margin-left: 3px;
}

.margin-l-5 {
    margin-left: 5px;
}

.margin-l-10 {
    margin-left: 10px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-l-30 {
    margin-left: 30px;
}

.margin-l-40 {
    margin-left: 40px;
}

.margin-l-50 {
    margin-left: 50px;
}

.margin-l-60 {
    margin-left: 60px;
}

.margin-l--10 {
    margin-left: -10px;
}

.margin-l--15 {
    margin-left: -15px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.display-block {
    display: inline-block;
}

// adds various fonts weight
.fw-900 {
    font-weight: 900;
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}


/*Add different font size*/
.fs-200 {
    font-size: 200px;
}
.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

//adds opacity of 0
invisible {
    opacity: 0;
}

//align text-left
char-left {
    text-align: left;
}

.line-divider {
    border: 1px solid darken(#F0F0F0, 5%);
}

.text-default {
    color: @black;
}

.text-black {
    color: #000;
}

.text-blue {
    color: #2196F3;
}

.pad-t-15 {
    padding-top: 15px !important;
}

.center-pad {
    padding: 10px 30%;
}

.mfl-sum {
    padding: 20px;
}

.mfl-sum span {
    color: #0089ff;
}
