.social-box {
min-height: 130px;
background: #fff;
margin-bottom: 30px;
text-align: center;
border:1px solid #f1f1f1;
}

.social-box i {
display: block;
font-size: 20px;
line-height: 60px;
background: #00bcd4!important;
color:#fff;
}
.social-box span {
    font-size: 24px;
    line-height: 60px;
}
.c3 line,
.c3 path{
    stroke: #666666;
}
.c3-tooltip{
font-size: 13px;
}
.social-box .counts {
font-size: 24px;
padding: 5px;
display: block;
}
.social-box ul li:first-child {
border-right: 1px solid #e4e5e6;
}
.social-box ul li {
display: block;
width: 50%;
float: left;
}
.dash{
font-weight: 500;
text-transform: uppercase;
font-size: 18px;
padding-bottom:14px;
border-bottom:1px solid #EAE5ED;
}
.social-box ul li span, .social-box i span {
color: #333;
font-weight: 500;
text-transform: uppercase;
font-size: 18px;
}
.social-box i span{
color: #fff;
}
.social-box ul li strong {
display: block;
font-size: 20px;
}
