/*input.reg-input, select.reg-input{
    font-size: 14px;
    margin-top: 15px;
    background-color: transparent;
    border:none;
    box-shadow: none;
    padding: 6px 5px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #C9C9C9;
    border-radius: 0px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
input.reg-input:hover , select.reg-input:hover{
    border-bottom: 1px solid #0089FF;
}
input.reg-input::selection, select.reg-input::selection{
    border-bottom: 1px solid #0089ff;
}

input.reg-input.focus, select.reg-input:focus,
input.reg-input:focus, select.reg-input.focus,
input.reg-input:active:focus,select.reg-input:active:focus,
.reg-input.active:focus,
.reg-input:active,
.reg-input.active {
    border-bottom: 1px solid #0089FF;
}*/

input.reg-input, select.reg-input, textarea.reg-input{
    font-size: 14px;
    margin-top: 15px;
    background-color: transparent;
    border:none;
    box-shadow: none;
    padding: 6px 5px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #C9C9C9;
    border-radius: 0px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
input.reg-input:hover , select.reg-input:hover, textarea.reg-input:hover{
    border-bottom: 1px solid #0089FF;
}
input.reg-input::selection, select.reg-input::selection{
    border-bottom: 1px solid #0089ff;
}

input.reg-input.focus, select.reg-input:focus, textarea.reg-input:focus,
input.reg-input:focus, select.reg-input.focus, textarea.reg-input.focus,
input.reg-input:active:focus,select.reg-input:active:focus,
textarea.reg-input:active:focus, .reg-input.active:focus,
.reg-input:active,.reg-input.active {
    border-bottom: 1px solid #0089FF;
}

