<div class="content-header">
   <div class="action-container content-header-extra margin-t-3">
        <a requires-permission='chul.can_approve_chu' ui-sref="community_units.approve_reject({unit_id: unit.id})" class="btn btn-success">
            <span ng-hide="approve_reject">Approve/Reject</span>
            <span ng-show="approved">Reject</span>
            <span ng-show="rejected">Approve</span>
        </a>
        <a  tooltip="Print Community Unit" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md"><i class="fa fa-print"></i></a>

        <a requires-permission='chul.change_communityhealthunit' tooltip="Edit Community Unit" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md" ui-sref="community_units.edit_unit.basic({unit_id: unit.id})" ui-sref-opts="{reload:true}"><i class="fa fa-pencil"></i></a>
   </div>
   <h2 class="content-title">
       <span class="main-title">
        <span ng-hide="approve_reject">Approve/Reject</span>
        <span ng-show="rejected"><i class="fa fa-times-circle"></i> Rejected</span>
        <span ng-show="approved"><i class="fa fa-check-circle"></i> Approved</span>
        Community Health Unit</span>
   </h2>
</div>
<div class="col-xs-12 margin-t-30 fade-content" ng-if="spinner">
        <div class="map-change-state">
            <div class="loader"></div>
            <div class="row">
                <h3 class="text-center loader-text">Please wait...</h3>
            </div>
        </div>
    </div>
<div class="content-body col-xs-12">
    <div class="content-card col-xs-12 margin-t-20 fade-content" ng-if="!spinner">
        <drf-err-msg></drf-err-msg>
        <h3>
            <strong>{{unit.code}}</strong> | {{unit.name}}
        </h3>
        <div class="col-xs-6 fs-16 pad-l-0">
        <label class="text-black fw-600">Community Health Unit Status: </label>
            {{unit.status_name}}
        </div>
        <div class="col-md-6 col-xs-12 content-right fs-16 pad-0">
            <label class="text-black fw-600">Date Established: </label>
            {{unit.date_established | dateFilter}}
        </div>
        <div class="col-xs-6 fs-16 pad-l-0">
            <label class="text-black fw-600">Linked Facility: </label>
            {{unit.facility_name}}
        </div>
        <div class="col-md-6 col-xs-12 content-right fs-16 pad-0">
            <label class="text-black fw-600">Date Operational: </label>
            <span ng-if="unit.date_operational">{{unit.date_operational | dateFilter}}</span>
            <span ng-if="!unit.date_operational">-</span>
        </div>
        <div class="col-xs-6 fs-16 pad-l-0">
            <label class="text-black fw-600">No. of Households Monitored: </label>
            {{unit.households_monitored}}
        </div>
        <div class="col-xs-12 pad-0 margin-t-10 margin-b-0"><hr class="line-divider"></div>
        <div class="row">
          <div class="col-md-8 col-xs-12 pad-0 fs-14" style="border-right: 1px solid #F0F0F0;">
            <div class="col-xs-12">
                <h4 class="fw-600">Community Health Unit Extension Workers</h4>
            </div>
            <div ng-repeat="worker in unit.health_unit_workers" class="col-xs-12 fw-500 pad-0 margin-b-0">
              <div class="col-xs-12">
                <h5 class="margin-b--2">{{worker.name}} <strong>{{ worker.is_incharge ? '(In Charge)' : '' }}</strong></h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 pad-0 col-xs-12">
            <div class="col-xs-12">
                <h4 class="fw-600">Unit Contacts</h4>
            </div>
            <div ng-repeat="cont in unit.contacts" class="col-xs-12 fw-500">
                <label class="text-black fw-600">
                    {{cont.contact_type_name | titlecase}}:
                </label>
                {{cont.contact}}
            </div>
          </div>
        </div>
        <div class="col-xs-12 margin-t-10 margin-b-0 pad-0"><hr class="line-divider"></div>
        <div class="col-xs-12 pad-0 margin-t-0" ng-if="fac_units.length !== 0">
            <h4 class="fw-600">Location Details</h4>
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">County: </label>
            {{unit.facility_county}}
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">Sub-county: </label>
            {{unit.facility_subcounty}}
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">Ward: </label>
            {{unit.facility_ward}}
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">Location Description: </label>
            {{unit.location}}
        </div>
        <div class="col-xs-12 pad-0 margin-b-20">
            <mfl-revision-view id="unit.id" wrapper="wrapper"></mfl-revision-view>
        </div>
    </div>
</div>
