<div class="content-header">
   <div class="action-container content-header-extra"></div>
   <h2 class="content-title">
       <span class="main-title">
           <span ng-hide="approve_reject">Approve/Reject</span>
           <span ng-show="approved">Reject</span>
           <span ng-show="rejected">Approve</span>
            Community Unit
        </span>
   </h2>
</div>
<div class="row">
   <div class="col-xs-12">
    <div class="col-xs-12 margin-t-20 fade-content">
        <div class="col-xs-12 content-card">
            <div class="col-xs-12 text-center" ng-if="spinner">
                <i class="fa fa-spin fa-circle-o-notch fa-3x margin-t-20 margin-b-20"></i>
            </div>
            <div class="col-xs-12 pad-0" ng-if="!spinner">
            <h4><span class="fw-600">{{unit.code}}</span> | {{unit.name}}</h4>
                <div class="col-sm-6 fs-16 pad-l-0">
                    <label class="text-black">Unit Status: </label>
                    <span class="lato-light">{{unit.status_name}}</span>
                </div>
                <div class="col-sm-6 col-xs-12 content-right fs-16 pad-0">
                    <label class="text-black">Date Established: </label>
                    <span class="lato-light">{{unit.date_established | dateFilter}}</span>
                </div>
                <div class="col-sm-6 fs-16 pad-l-0">
                    <label class="text-black">Linked Facility: </label>
                    <span class="lato-light">{{unit.facility_name}}</span>
                </div>
                <div class="col-sm-6 col-xs-12 content-right fs-16 pad-0">
                    <label class="text-black">Date Operational: </label>
                    <span ng-if="unit.date_operational">{{unit.date_operational | dateFilter}}</span>
                    <span ng-if="!unit.date_operational">-</span>
                </div>
                <div class="col-xs-6 fs-16 pad-l-0">
                    <label class="text-black">Households Monitored: </label>
                    <span class="lato-light">{{unit.households_monitored}}</span>
                </div>
           </div>
        </div>
        <button class="btn btn-primary margin-b-20" ng-click="viewCommunity = !viewCommunity">
            View {{viewCommunity ? 'Less' : 'More'}} Community Details <i class="fa {{viewCommunity ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
        </button>
        <div class="col-xs-12 content-card pad-0" content-slide-in="viewCommunity" slide-show-duration="1000">
        <div class="col-md-8 col-xs-12 fs-14" style="border-right: 1px solid #F0F0F0;">
        <div class="row">
          <div class="col-md-8 col-xs-12 pad-0 fs-14" style="border-right: 1px solid #F0F0F0;">
            <div class="col-xs-12">
                <h4 class="fw-600">Unit Extension Workers</h4>
            </div>
            <div ng-repeat="worker in unit.health_unit_workers" class="col-xs-12 fw-500 pad-0 margin-b-0">
              <div class="col-xs-12">
                <h5 class="margin-b--2">
                  <span class="fa-stack fa-lg fs-13">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa {{worker.is_incharge ? 'fa-user-md' : 'fa-user'}} fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="fw-600">CHEW <span ng-if="worker.is_incharge">in Charge</span> <span ng-if="!worker.is_incharge">at Facility</span> :</span>
                  {{worker.name}}
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 margin-t-10 margin-b-0 pad-0"><hr class="line-divider"></div>
        <div class="col-xs-12 pad-0 margin-t-0" ng-if="fac_units.length !== 0">
            <h4 class="fw-600">Location Details</h4>
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">County: </label>
            {{unit.facility_county}}
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">Sub-county: </label>
            {{unit.facility_subcounty}}
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">Ward: </label>
            {{unit.facility_ward}}
        </div>
        <div class="col-xs-12 fs-14 pad-l-0">
            <label class="text-black fw-600">Location Description: </label>
            {{unit.location}}
        </div>
            <!-- End of basic details -->
        </div>
        <div class="col-md-4 pad-0 col-xs-12">
            <div class="col-xs-12">
                <h4 class="fw-600">Unit Contacts</h4>
            </div>
        </div>
    </div>

<!-- Updates start here-->
<div class="content-card col-xs-12" ng-hide="updates_empty">
    <h3>Pending updates</h3>

   <div ng-if="unit.pending_updates.basic">
        <div class="col-xs-12 margin-t-20">
            <i class="lato fs-14 fw-600">Basic:</i>
        </div>
        <div class="col-xs-12 pad-0margin-0"><hr class="line-divider-dashed margin-0"></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <table class="table table-stripped">
                <thead>
                    <th>Field</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                </thead>

            <tr ng-if="unit.pending_updates.basic.name">
                <td>Name</td>
                <td>{{unit.name}}</td>
                <td>{{unit.pending_updates.basic.name}}</td>
                </tr>

                <tr ng-if="unit.pending_updates.basic.facility">
                    <td>Facility</td>
                <td>{{unit.facility_name}}</td>
                    <td>{{unit.pending_updates.basic.facility.facility_name}} </td>
                </tr>

                <tr ng-if="unit.pending_updates.basic.status">
                    <td>Status</td>
                    <td>{{unit.status_name}}</td>
                    <td>{{unit.pending_updates.basic.status.status_name}}</td>
                </tr>

                <tr ng-if="unit.pending_updates.basic.location">
                    <td>Location</td>
                    <td>{{unit.location}}</td>
                    <td>{{unit.pending_updates.basic.location}}</td>
                </tr>

                <tr ng-if="unit.pending_updates.basic.date_etablished">
                    <td>Date Established</td>
                    <td>{{unit.date_established | date}}</td>
                    <td>{{unit.pending_updates.basic.date_etablished | date }}</td>
                </tr>
                <tr ng-if="unit.pending_updates.basic.date_operational">
                    <td>Date Operational</td>
                    <td>{{unit.date_operational | date}}</td>
                    <td>{{unit.pending_updates.basic.date_operational | date}}</td>
                </tr>
            </table>
            </div>
        </div>
      </div>

   <div ng-if="unit.pending_updates.workers">
        <div class="col-xs-12 margin-t-20">
            <i class="lato fs-14 fw-600">Workers:</i>
        </div>
        <div class="col-xs-12 pad-0margin-0"><hr class="line-divider-dashed margin-0"></div>
         <div ng-repeat="worker in unit.pending_updates.workers" class="col-xs-12 fw-500 pad-0 margin-b-0">
          <div class="col-xs-12">
           <div class="col-xs-12">
                <h5 class="margin-b--2">
                  <span class="fa-stack fa-lg fs-13">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa {{worker.is_incharge ? 'fa-user-md' : 'fa-user'}} fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="fw-600">CHEW <span ng-if="worker.is_incharge">in Charge</span> <span ng-if="!worker.is_incharge">at Facility</span> :</span>
                  {{worker.name}}
                </h5>
           </div>
          </div>
        </div>
   </div>


    <div ng-if="unit.pending_updates.contacts">
        <div class="col-xs-12 margin-t-20">
            <i class="lato fs-14 fw-600">Contacts:</i>
        </div>
        <div class="col-xs-12 pad-0margin-0"><hr class="line-divider-dashed margin-0"></div>
        <div class="col-md-4 pad-0 col-xs-12">
           <div class="col-xs-12">
                <div ng-repeat="cont in unit.pending_updates.contacts" class="col-xs-12 fw-500">
                    <label class="text-black fw-600">
                        {{cont.contact_type_name | titlecase}}:
                    </label>
                    {{cont.contact}}
                </div>
           </div>
      </div>
        </div>
    <div class="col-xs-12 margin-t-20">
        <form name="frm_approve_up" ng-submit="approveChuUpdate(approve_update)" role="form" novalidate>
            <!--For when cu is neither rejected or approved-->
            <div>
                <button type="submit" class="btn btn-success" ng-click="approve_update=true">Approve CU Updates</button>
                <button type="submit" class="btn btn-danger margin-l-5" ng-click="approve_update=false">Reject CU Updates</button>
            </div>
        </form>
    </div>

</div>

    <!-- Overall community approval -->
    <div class="col-xs-12 content-card margin-t-20 pad-0" ng-if="approve_reject" ng-show="updates_empty">
        <div class="col-xs-12 margin-b-10">
            <h4 class="fw-600">
                <span ng-show="rejected">Rejection</span>
                <span ng-show="approved">Approval</span>
                Comment:
            </h4>
            <p ng-show="approved">{{unit.approval_comment}}</p>
            <p ng-show="rejected">{{unit.rejection_reason}}</p>
        </div>
    </div>
    <div class="col-xs-12 content-card margin-t-20 pad-0" ng-show="updates_empty">
        <div class="col-xs-12 margin-b-10">
            <h4 class="fw-600">
                <span ng-hide="approve_reject">Approve/Reject</span>
                <span ng-show="approved">Reject</span>
                <span ng-show="rejected">Approve</span>
                this Community Unit
            </h4>
            <form name="frm_approve" ng-submit="approveChu(approve,comment)" role="form" novalidate>
                <div class="form-group margin-t-10">
                    <label class="control-label">
                        Comment for 
                        <span ng-hide="approve_reject">Approve/Reject</span>
                        <span ng-show="approved">Reject</span>
                        <span ng-show="rejected">Approve</span>
                    </label>
                    <textarea class="form-control" name="comment" ng-model="comment" required rows="2" api-checker>
                    </textarea>
                </div>
                <!--For when cu is neither rejected or approved-->
                <div ng-hide="approve_reject">
                    <button type="submit" class="btn btn-success" ng-click="approve=true">Approve Community Unit</button>
                    <button type="submit" class="btn btn-danger margin-l-5" ng-click="approve=false">Reject Community Unit</button>
                </div>
                <!--For when cu was either rejected or approved at least once-->
                <button ng-show="rejected" type="submit" class="btn btn-success" ng-click="approve=true">Approve Community</button>
                <button ng-show="approved" type="submit" class="btn btn-danger margin-l-5" ng-click="approve=false">Reject Community</button>
            </form>
        </div>
    </div>
    </div>
</div>
</div>