<contentheader></contentheader>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div ui-view="delete"></div>
<div class="content-body">
    <div class="pad-form">
        <div class="content-card pad-15">
            <form role="form" name="frm_contact" novalidate>
                <div class="form-group">
                    <label class="control-label">Contact</label>
                    <input type="text" name="contact" ng-model="contacts.contact" required api-checker class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Contact Type</label>
                    <select name="contact_type" ng-model="contacts.contact_type" required api-checker class="form-control">
                        <option value="" disabled>Select an option type</option>
                        <option ng-repeat="cat_type in contact_types" value="{{cat_type.id}}">{{cat_type.name}}</option>
                    </select>
                </div>
                <div class="form-group checkbox">
                    <label >
                        <input type="checkbox" id="active" name="active" ng-model="contacts.active">
                        Is Active?
                     </label>
                </div>
                <button ng-if="!contacts.id" ng-click="createContacts(contacts)" class="btn btn-primary">Save</button>
                <button ng-if="contacts.id" ng-click="updateContact(contacts.id, contact.form)" class="btn btn-primary">Save</button>
                <a ui-sref="setup.contacts" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
</div>
