<aside class="side-left partial">
 <ul class=" nav nav-sidebar">
   <li ui-sref-active="active">
      <a href="#">
        <span class="sidebar-text">&nbsp;&nbsp;Approve</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a href="#">
        <span class="sidebar-text">&nbsp;&nbsp;Add Facility Unit</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a href="#">
        <span class="sidebar-text">&nbsp;&nbsp;Upgrade</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a href="#">
        <span class="sidebar-text">&nbsp;&nbsp;Change Operation Status</span>
      </a>
    </li>
 </ul>
 </aside>
