<contentheader></contentheader>
<div class="content-body">
    <div class="row-fluid">
        <div class="col-lg-8  content-card">
            <div class="fs-24">
            {{facility.name}}
            </div>
            <h5 class="margin-t-10">
                <span><strong>Facility Type:</strong> {{facility.facility_type_name}}</span>
                <span class="pull-right"><strong>Facility Code:</strong> {{facility.code}}</span>
            </h5>
            <hr>
            <h5 class="margin-b-5">
                <label>Status</label>
                <span class="label label-warning">
                    {{facility.regulatory_status_name}}
                </span>
                <span class="pull-right">
                    <label>Operational status</label>
                    <span class="label label-primary">{{facility.operation_status_name}}</span>
                </span>
            </h5>
            <h5>
                <span>
                   <label>Open whole day </label>
                    <span ng-show="facility.open_whole_day" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="facility.open_whole_day" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
                <span class="pull-right">
                    <span class="pull-right fs-13">
                    <label>Open whole week </label>
                    <span ng-show="facility.open_whole_week" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="facility.open_whole_week" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
                </span>
            </h5>
            <h5>
                <span>
                   <label>Published: </label>
                    <span ng-show="facility.is_published" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="facility.is_published" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
                <span class="pull-right">
                    <span class="pull-right fs-13">
                    <label>Classified: </label>
                    <span ng-show="facility.is_classified" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="facility.is_classified" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
                </span>
            </h5>
            <h5>
                <span>
                    <label>Beds: </label>
                    {{facility.number_of_beds}}
                </span>
                <span class="pull-right">
                    <label>Cots:</label>
                    {{facility.number_of_cots}}
                </span>
            </h5>
            <h5 class="margin-b-10">
                <label>Facility Rating:</label>
                <span class="text-warning">{{facility.average_rating | number : 2}}</span>
            </h5>
            <hr>
            <h4 class="fs-14">
                <span >{{facility.county}}  COUNTY</span>
                <span class="pull-right">{{facility.constituency}} CONSTITUENCY</span>
            </h4>
            <h5>
                <span>{{facility.ward_name}} WARD</span>
                <span class="pull-right">
                    {{facility.facility_physical_address.town}} Town
                </span>
            </h5>
            <p>
                <label>Location Description: </label>
                {{facility.location_desc}}
            </p>
        </div>
        <div class="col-lg-4 pad-r-0">
            <div class="col-md-12 content-card margin-b-10">
                <h4 class="fs-18 text-blue fw-700">
                    Ownership Status:
                </h4>
                <h5 class="fw-500">
                    <span class="pad-t-5">
                        <h5 class="fs-13 fw-500"><label>Owner: </label> {{facility.owner_name}}</h5>
                        <h5 class="fs-13 fw-500"><label>Category: </label> {{facility.owner_type_name}}</h5>
                    </span>
                </h5>
            </div>
            <div class="col-md-12 content-card">
                <h4 class="fs-18 margin-t--5 text-blue fw-600">
                    Contacts:
                </h4>
                <h5 ng-repeat="cont in facility.facility_contacts" class="fw-500">
                    <span  class="margin-b-10 fs-14 hidden-xs">
                        <label>
                            {{cont.contact_type_name | titlecase}} :
                        </label>
                        {{cont.contact}}
                    </span>
                    <span  class="margin-b-10 fs-13 visible-xs">
                        <label>
                            {{cont.contact_type_name | titlecase}} :
                        </label>
                        {{cont.contact}}
                    </span>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-lg-12 content-card">
        <div class="">
            <h4>Facility Services</h4>
            <table class="table table-hover fs-14">
                <thead>
                    <th>Name</th>
                    <th>Category</th>
                </thead>
                <tbody>
                    <tr ng-repeat="service in facility.facility_services">
                        <td class="pad-t-15">
                            {{service.service_name}}
                        </td>
                        <td class="pad-t-15">
                            {{service.category_name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
