 <contentheader></contentheader>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="col-lg-12 margin-t-20">
                <div class="col-lg-4 pull-right">
                    <form role="form">
                        <div class="group">
                            <div style="background-color: #F1F1F1;">
                                <div class="group">
                                    <input type="search" ng-model="search.query" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>
                                        <i class="fa fa-search"></i> Search facility
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /-End of action area -->
            <!-- Beginning of grid -->
            <div class="col-lg-12 margin-t-15">
                <table class="table content-card">
                    <thead>
                        <th>Code</th>
                        <th class="col-md-4">Name</th>
                        <th>Abbreviation</th>
                        <th class="col-md-4">Category</th>
                        <th class="text-center">Actions</th>
                    </thead>
                    <tbody class="example-animate-container">
                        <tr class="animate-repeat" ng-repeat="service in services | filter: search.query">
                            <td>{{service.code}}</td>
                            <td class="col-md-4">{{service.name}}</td>
                            <td>{{service.abbreviation}}</td>
                            <td class="col-md-4">{{service.category}}</td>
                            <td class="text-center">
                                <a ui-sref="services.edit_service({service_id : service.id})" class="action-btn action-btn-grid action-btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ui-sref="services.view_service({service_id : service.id})" class="action-btn action-btn-grid action-btn-info">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
