<contentheader></contentheader>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div class="col-lg-12 margin-t-20">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 content-card">
    <form role="form form-horizontal form-bordered" name="chu.approvers.form">
        <!-- Start of dynamic form -->
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 margin-b-20">
            <div class="group">
                <input type="text" name="name" ng-model="chuApprovers.name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="control-label">
                    Name
                </label>
            </div>
            <div class="group">
                <textarea type="text" name ="description" ng-model="chuApprovers.description"></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    Description
                </label>
            </div>
            <div class="group">
                <input type="text" name="abbreviation" ng-model="chuApprovers.abbreviation" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="control-label">
                    Abbreviation
                </label>
            </div>
            <div class="checkbox-group margin-b-20">
                <input type="checkbox" id="active" name="active"     ng-model="chuApprovers.active">
                <label for="active">
                    <span class="check"></span>
                    <span class="box"></span>
                     Is Active?
                 </label>
            </div>
            <button ng-if="!chuApprovers.id" ng-click="createChuApprovers(chuApprovers)" class="login-btn login-btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <button ng-if="chuApprovers.id" ng-click="updateChuApprovers(chuApprovers.id, chu.approvers.form)" class="login-btn login-btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <button class="login-btn login-btn-default margin-l-10" ui-sref="setup.chu_approvers">
                Cancel
            </button>
        </div>
        <!-- End of the dynamic form -->
    </form>
    </div>
</div>
