<contentheader></contentheader>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div ui-view="delete"></div>
<div class="col-lg-12 margin-t-20">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 content-card">
        <form role="form form-horizontal form-bordered" name="frm_chu_approver" novalidate>
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" name="name" ng-model="chuApprovers.name" required api-checker class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" name="description" ng-model="chuApprovers.description" required api-checker class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Abbreviation</label>
                <input type="text" name="abbreviation" ng-model="chuApprovers.abbreviation" required api-checker class="form-control">
            </div>
            <div class="form-group checkbox" ng-if="chuApprovers.id">
                <label>
                    <input type="checkbox" id="active" name="active" ng-model="chuApprovers.active" api-checker >
                    Is Active?
                 </label>
            </div>
            <mfl-revision-view id="approver_id" wrapper="wrapper" ></mfl-revision-view>
            <button ng-if="!chuApprovers.id" ng-click="createChuApprovers(chuApprovers)" class="btn btn-primary" requires-user-feature="is_staff" ng-disabled="frm_chu_approver.$invalid">
                Save
            </button>
            <button ng-if="chuApprovers.id" ng-click="updateChuApprovers(chuApprovers.id, frm_chu_approver)" class="btn btn-primary" requires-user-feature="is_staff" ng-disabled="frm_chu_approver.$invalid">
                Save
            </button>
            <a class="btn btn-default" ui-sref="setup.chu_approvers">Cancel</a>
        </form>
    </div>
</div>
