<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-b-20 margin-t-20">

    <div id="lst-available" class="col-md-5">
        <h4>Available {{title}}</h4>
        <div class="group margin-t-20 margin-b-20">
            <input type="search" ng-model="search.available_query">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>
                Search Available {{title}}
            </label>
        </div>

        <ul class="nav nav-pills nav-stacked perm-container margin-b-20" >
            <li ng-repeat="role in filtered_items | filter: search.available_query"
                class="list-item" ng-class="{active : role.selected}"  >
                <a href ng-click="clickedRole(role)">{{role[displayAttr]}}</a>
            </li>
        </ul>
    </div>
    <div id="lst-divider" class="col-md-2 perm-divider">
        <span class="text-primary" ng-click="addRoles()">
            <i class="fa fa-long-arrow-right fa-2x"></i>
        </span>
        <br>
        <span class="text-primary" ng-click="revertRoles()">
            <i class="fa fa-long-arrow-left fa-2x"></i>
        </span>
    </div>
    <div id="lst-assigned" class="col-md-5">
        <h4>Assigned {{title}}</h4>
        <div class="group margin-t-20 margin-b-20">
            <input type="search" ng-model="search.assigned_query">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>
                Search Assigned {{title}}
            </label>
        </div>
        <ul class="nav nav-pills nav-stacked perm-container margin-b-20" >
            <span ng-hide="assigneditems.length">
                Nothing assigned yet
            </span>
            <li ng-repeat="set_role in assigneditems | filter: search.assigned_query" class="list-item"
            ng-class="{active : set_role.set_selected}">
                <a href ng-click="setRole(set_role)">{{set_role.name}}</a>
            </li>
        </ul>
    </div>
</div>
