<div class="content-header">
   <div class="action-container content-header-extra">
       <a ui-sref="setup.facility_depts.edit.delete" class="btn btn-danger">Delete</a>
   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa {{state ? 'fa-edit' : 'fa-plus-circle'}}"></i> {{state ? 'Edit' : 'New'}} Facility Department</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="col-xs-12">
<div class="fade-content col-md-10 col-md-offset-1 margin-t-20 col-xs-12 content-card">
    <form name="frm_facility_depts" ng-submit="saveFrm((state ? frm_facility_depts : facility_dept))" novalidate>
        <drf-err-msg></drf-err-msg>
        <div class="col-md-10 col-md-offset-1 margin-t-20 margin-b-20">
          <div class="form-group">
              <label class="control-label">Name&#42;</label>
              <input class="form-control" name="name" required ng-model="facility_dept.name" placeholder="Enter department name" api-checker/>
          </div>
          <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" row="2" name="description" ng-model="facility_dept.description" placeholder="Enter description" api-checker></textarea>
          </div>
          <div class="form-group">
              <label class="control-label">Regulatory Body&#42;</label>
              <ui-select ng-model="facility_dept.regulatory_body" required name="regulatory_body" api-checker register-custom-form-control>
                  <ui-select-match placeholder="Select a regulatory body...">
                      <span>{{$select.selected.name}}</span>
                  </ui-select-match>
                  <ui-select-choices repeat="rb.id as rb in regulatory_bodies | filter:$select.search">
                      <span>{{rb.name}}</span>
                  </ui-select-choices>
              </ui-select>
            </div>
          <!-- </div> -->
          <button type="submit" class="btn btn-primary pull-left">Save</button>
          <a class="btn btn-default margin-l-10 pull-left" ui-sref="setup.facility_depts">Cancel</a>
          <mfl-revision-view ng-show="state" id="facility_dept.id" wrapper="wrapper" ></mfl-revision-view>
        </div>
    </form>
</div>
</div>
