<div>
    <ng-include src="'common/tpls/table_head.tpl.html'"></ng-include>
    <div id="no-more-tables" class="col-xs-12 margin-t-15">
        <table class="table table-hover table-condensed fs-14">
            <thead>
                <th sil-grid-sort field='name'>Name</th>
            </thead>
            <tbody class="example-animate-container">
                <tr class="animate-repeat" ng-repeat="group in groups | filter: search.query">
                    <td data-title="Name" class="pad-t-15">
                        <a ui-sref="groups.group_edit({group_id : group.id})" bs-tooltip title="View group">
                            {{group.name}}
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="groups.length===0">
                <tr><td class="text-center" colspan="9">Sorry, no data is available</td></tr>
            </tbody>
        </table>
        <sil-grid-pagination> </sil-grid-pagination>
    </div>
</div>
