<contentheader></contentheader>
<div class="col-lg-12">
    <div class="col-lg-12 margin-t-20">
        <table class="table content-card margin-b-10" >
            <tr>
                <td class="pad-t-15 col-md-6">
                    <div class="group">
                        <input type="text" ng-model="group.name" required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Group Name
                        </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <mfl-list-assignment title="Permissions" assigneditems="group.permissions" listeditems="permissions"
        write-perm="auth.change_group">
    </mfl-list-assignment>

    <div class="col-lg-12 margin-t-20">
        <button class="margin-h-5 login-btn login-btn-default" ui-sref="groups.group_list">
            Cancel
        </button>
        <button ng-click="save()" class="margin-h-5 login-btn login-btn-primary" requires-permission="auth.add_group" >
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</div>
