<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="col-xs-12">
    <div class="content-body margin-t-20 margin-b-20">
        <div class="content-card col-xs-12">
        <form name="group_frm" role="form">
            <div class="col-xs-12 margin-b-20 margin-t-10">
                <div class="form-group">
                    <label class="control-label">Group Name:</label>
                    <div>
                        <input type="text" class="form-control" ng-model="group.name" required />
                    </div>
                </div>
                <div class="col-xs-12 pad-0">
                    <div class="col-sm-6 col-xs-12 pad-0 form-group checkbox checkbox-lg">
                      <label>
                          <input type="checkbox" data-toggle="checkbox-x" id="is_regulator" name="is_regulator" ng-model="group.is_regulator" api-checker >
                          Is Regulator?
                          <i class="fa fa-info-circle" bs-tooltip tooltip-placement="right" tooltip="Are the regulators in this group?"></i>
                       </label>
                  </div>
                  <div class="col-sm-6 col-xs-12 pad-0 form-group checkbox" style="margin-top: 10px !important;">
                      <label>
                          <input type="checkbox" data-toggle="checkbox-x" id="is_national" name="is_national" ng-model="group.is_national" api-checker >
                          Is National?
                          <i class="fa fa-info-circle" bs-tooltip tooltip-placement="right" tooltip="Will the users in this group see all facilities in the country?"></i>
                       </label>
                  </div>
              </div>
              <div class="col-xs-12 pad-0">
                  <div class="col-sm-6 col-xs-12 pad-0 form-group checkbox checkbox-lg">
                      <label>
                          <input type="checkbox" data-toggle="checkbox-x" id="is_administrator" name="is_administrator" ng-model="group.is_administrator" api-checker >
                          Is Administrator?
                          <i class="fa fa-info-circle" bs-tooltip tooltip-placement="right" tooltip="Will the users in this group administor user rights?"></i>
                       </label>
                  </div>
                  <div class="col-sm-6 col-xs-12 pad-0 form-group checkbox checkbox-lg" style="margin-top: 10px !important;">
                      <label>
                          <input type="checkbox" data-toggle="checkbox-x" id="is_county_level" name="is_county_level" ng-model="group.is_county_level" api-checker >
                          Is County Level?
                          <i class="fa fa-info-circle" bs-tooltip tooltip-placement="right" tooltip="Will the users in this group create sub county users?"></i>
                       </label>
                  </div>
              </div>
              <div class="col-xs-12 pad-0">
                  <div class="col-xs-12 pad-0 form-group checkbox checkbox-lg">
                      <label>
                          <input type="checkbox" data-toggle="checkbox-x" id="is_sub_county_level" name="is_sub_county_level" ng-model="group.is_sub_county_level" api-checker >
                          Is Sub-county Level?
                          <i class="fa fa-info-circle" bs-tooltip tooltip-placement="right" tooltip="Will the users in this group create users below the sub county level?"></i>
                       </label>
                  </div>
              </div>
            </div>
            </form>
        </div>
        <div class="col-xs-12 content-card">
            <mfl-list-assignment title="Permissions" assigneditems="group.permissions" listeditems="permissions"
                write-perm="auth.change_group">
            </mfl-list-assignment>
        </div>
        <div class="col-xs-12 margin-t-20 margin-b-10 pad-0">
            <button ng-click="save()" class="margin-h-5 btn btn-primary" requires-permission="auth.add_group" >
                Save
            </button>
            <button class="margin-h-5 btn btn-default" ui-sref="groups">
                Cancel
            </button>
        </div>
        <mfl-revision-view ng-show="edit_view" id="group.id" wrapper="wrapper" ></mfl-revision-view>
        <div class="col-xs-12 margin-b-10 margin-t-10"></div>
    </div>
</div>
