<contentheader></contentheader>
<div>
    password profile

    <form name="password_change" ng-submit="save(pwds.old_pwd, pwds.new_pwd, pwds.confirm_pwd)">
        <p>Current Password: <input type="password" name="old_password" ng-model="pwds.old_pwd" required placeholder="current password"/></p>
        <p>New Password: <input type="password" name="new_pwd" ng-model="pwds.new_pwd" required placeholder="new password"/></p>
        <p>Confirm New Password: <input type="password" name="confirm_pwd" ng-model="pwds.confirm_pwd" required placeholder="confirm new password"/></p>

        <input type="submit" ng-click="save(pwds.old_pwd, pwds.new_pwd, pwds.confirm_pwd)" value="Save"/>
    </form>
</div>
