<contentheader></contentheader>
<div class="col-lg-12">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 content-card margin-t-20">
        <form name="basic_profile" ng-submit="save(basic_profile)" novalidate>
            <drf-err-msg></drf-err-msg>
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 margin-b-20">
                <div class="form-group">
                    <label class="control-label">First name</label>
                    <input type="text" name="first_name" ng-model="profile.first_name" required api-checker class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Last name</label>
                    <input type="text" name="last_name" ng-model="profile.last_name" required api-checker class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Other names</label>
                    <input type="text" name="other_names" ng-model="profile.other_names" class="form-control" api-checker />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" name="email" ng-model="profile.email" required class="form-control" api-checker />
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input type="text" name="username" ng-model="profile.username" required class="form-control" api-checker/>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="basic_profile.$invalid">Save</button>
                <span ng-if="spinner" style="display: inline-block;">
                    <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                </span>
            </div>
            </div>
        </form>
    </div>
</div>
