<contentheader></contentheader>
<div class="col-lg-12">
    <div class="col-lg-12 margin-t-20">
    <h4> Add Contact</h4>
    <form ng-submit="add()">
        <table class="table content-card  margin-b-10">
            <tbody>
                <tr class="">
                    <td>
                        <div class="group">
                        <select name="contact_type" ng-model="contact.contact_type" class="pad-t-15" required>
                            <option value="">Select Contact Type</option>
                            <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        </div>
                    </td>
                    <td>
                        <div class="group">
                            <input type="text" name="contact" ng-model="contact.contact" class="pad-t-15" required />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>
                                Contact Details
                            </label>
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="submit" class="action-btn action-btn-primary action-btn-md" tooltip="Add Contact">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
    <div class="col-lg-12 margin-t-20">
    <h4> Current Contacts</h4>
    <table class="table content-card margin-t-20 margin-b-10">
        <tbody>
            <tr ng-repeat="contact in contacts">
                <td class="contact-td col-md-1">
                    <span class="fs-18 ">
                        <i ng-if="contact.contact_type_text === 'MOBILE'" class="fa fa-mobile-phone  margin-t-10"></i>
                        <i ng-if="contact.contact_type_text === 'LANDLINE'" class="fa fa-phone  margin-t-10"></i>
                        <i ng-if="contact.contact_type_text === 'EMAIL'" class="fa fa-envelope  margin-t-10"></i>
                        <i ng-if="contact.contact_type_text === 'POSTAL'" class="fa fa-envelope  margin-t-10"></i>
                        <i ng-if="contact.contact_type_text === 'FAX'" class="fa fa-fax  margin-t-10"></i>
                    </span>
                </td>
                <td class="pad-t-15 fs-16 fw-500">{{contact.contact_type_text}}</td>
                <td class="pad-t-15 fs-16 fw-500">{{contact.contact_text}}</td>
                <td class="text-right">
                    <button class="action-btn action-btn-danger action-btn-md" ng-click="remove(contact)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
