<contentheader></contentheader>
<div class="col-lg-12">
    <div class="col-lg-12 content-card margin-t-20">
        <form name="basic_profile" ng-submit="save(basic_profile)">
            <div class="col-lg-6 col-md-6 margin-t-20">
                <div class="group">
                    <input type="text" name="first_name" ng-model="profile.first_name" required />
                    <span class="higlight"></span>
                    <span class="bar"></span>
                    <label>First name</label>
                </div>
                <div class="group">
                    <input type="email" name="email" ng-model="profile.email" required />
                    <span class="higlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                    <input type="text" name="username" ng-model="profile.username" required/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Username</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 margin-t-20">
                <div class="group">
                    <input type="text" name="last_name" ng-model="profile.last_name" required />
                    <span class="higlight"></span>
                    <span class="bar"></span>
                    <label>Last name</label>
                </div>
                <div class="group">
                    <input type="text" name="other_names" ng-model="profile.other_names" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Other names</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 margin-t-10 margin-b-10">
            <div class="col-md-1">
                <button type="submit" class="login-btn login-btn-primary" ng-click="save(basic_profile)" value="Save">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
            <div class="col-md-1">
                <span ng-if="spinner">
                    <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                </span>
            </div>
            </div>
        </form>
    </div>
</div>
