<div class="col-xs-12 margin-t-20">
    <div ng-if="create" class="col-md-12 margin-t-20">
        <div class="col-md-12">
        <span class="fs-20 fw-700">Regulatory Body</span>
        <span class="fs-16 pull-right">
            Step 4 of 5
        </span>
        </div>
    </div>
        <div class="col-lg-12 margin-t-20">
                <h4>Select regulatory body</h4>
                <form name="frm_regulatory_body" ng-submit="addBody()">
                    <table class="table content-card margin-b-10 fs-14">
                        <tbody>
                            <tr>
                                <td class="pad-t-15">
                                    <div class="group">
                                        <select ng-model="new_body">
                                            <option value="">Select a regulatory body</option>
                                            <option value="{{reg.id}}" ng-repeat="reg in bodies">{{reg.name}}</option>
                                        </select>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    </div>
                                </td>
                                <td class="text-right pad-t-15">
                                    <input type="submit" value="Assign" class="login-btn login-btn-info" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        <div  class="col-lg-12 margin-t-20">
           <h4>Current regulatory body</h4>
            <table class="table content-card margin-b-10">
                <tbody>
                    <tr ng-repeat="child in user_bodies">
                        <th>{{child.regulatory_body_name}}</th>
                        <th><a class="remove-icon text-danger" popover-placement="left" popover-template="'common/tpls/del-pop.tpl.html'"><i class="fa fa-times-circle fa-2x fw-500"></i></a></th>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
