<!-- /- Start of tabbed multi-step form -->
<div class="tab-content">
    <div class="col-xs-12 margin-t-20 detail-content margin-b-10">
        <div class="col-xs-12 margin-t-20" requires-permission="common.add_usercontact">
            <div class="col-xs-12 content-card form-card">
                <h4 class="fw-600 fs-18">Add Contact</h4>
                <form name="contForm" ng-submit="add()">
                   <div class="row">
                        <div class="group col-md-4">
                            <select name="contact_type" ng-model="contact.contact_type" required>
                                <option value="">Select Contact Type</option>
                                <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>
                        <div class="group col-md-5">
                            <input name="contact" type="text" ng-model="contact.contact" required ui-mask="(9999) 99999999" ng-if="mobile_cont.id === contact.contact_type && mobile_cont.name === 'MOBILE'"/>
                            <input name="contact" type="text" ng-model="contact.contact" required ui-mask="(999) 999999" ng-if="(landline_cont.id === contact.contact_type && landline_cont.name === 'LANDLINE') || (fax_cont.id === contact.contact_type && fax_cont.name === 'FAX')"/>
                            <input name="contact" type="email" ng-model="contact.contact" required ng-if="email_cont.id === contact.contact_type && email_cont.name === 'EMAIL'" />
                            <input name="contact" type="text" ng-model="contact.contact" required ng-if="postal_cont.id === contact.contact_type && postal_cont.name === 'POSTAL'" />
                            <input name="contact" type="text" ng-model="contact.contact" required ng-if="new_names.length > 0" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="margin-l-10">Contact Details</label>
                        </div>
                        <div class="col-md-3 margin-b-10 text-right">
                            <button type="submit" class="login-btn login-btn-primary margin-r-10 margin-t-10">
                                <i class="fa fa-plus-circle"></i> Add Contact
                            </button>
                        </div>
                   </div>
                </form>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="margin-t-20" ng-show="contacts.length == 0">
               <div class="alert alert-info">
                   No contacts have been added so far.
               </div>
            </div>
            <div class="content-card margin-t-20" ng-show="contacts.length > 0">
                <h4 class="fw-600 fs-18">Current User Contacts</h4>
                <table class="table fs-14">
                   <thead>
                       <tr>
                           <th class="fs-16">Contact Type</th>
                           <th class="fs-16">Contact</th>
                           <th></th>
                       </tr>
                   </thead>
                    <tbody>
                        <tr ng-repeat="child in contacts">
                            <td class="pad-t-15 fs-16 fw-500">
                                {{child.contact_type_text | titlecase}}
                            </td>
                            <td class="pad-t-15 fs-16 fw-500">
                                {{child.contact_text}}
                            </td>
                            <td class="text-right">
                                <span ng-if="child.delete_spinner">
                                    <i class="fa fa-spin fa-circle-o-notch"></i>
                                </span>
                                <a class="login-btn login-btn-danger" popover-toggle popover-trigger="open" popover-template="'common/tpls/del-pop.tpl.html'" popover-placement="left" requires-permission="common.delete_usercontact" >
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="spinner">
                            <td colspan="3" class="text-center">
                                <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div ng-if="!create" class="margin-b-20 margin-t-10">
                <button class="login-btn login-btn-primary" ui-sref="users.user_edit.basic ({user_id : user_id})">
                    &nbsp;<i class="fa fa-angle-double-left"></i> Details
                </button>
                <button class="login-btn login-btn-primary pull-right" ui-sref="users.user_edit.groups ({user_id : user_id})">
                    &nbsp;&nbsp;Groups <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
            <div ng-if="create" class="margin-b-20 margin-t-10">
                <button class="login-btn login-btn-primary" ui-sref="users.user_create.basic ({user_id : user_id})">
                    &nbsp;<i class="fa fa-angle-double-left"></i>Details
                </button>
                <button class="login-btn login-btn-primary pull-right" ng-click="goToGroups()">
                    &nbsp;Groups <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
