<!-- /- Start of tabbed multi-step form -->
<div class="tab-content">
    <div class="col-lg-12 margin-t-20">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <h4 class="fw-500">Add Contact</h4>
            <form ng-submit="add()">
                <table class="table content-card margin-b-10">
                    <tr>
                        <td class="">
                            <div class="group">
                                <select name="contact_type" ng-model="contact.contact_type" required>
                                    <option value="">Select Contact Type</option>
                                    <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                                </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </td>
                        <td class="">
                            <div class="group">
                                <input type="text" name="contact" ng-model="contact.contact" required />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>
                                    Contact Details
                                </label>
                            </div>
                        </td>
                        <td class="text-right">
                            <button type="submit" class="login-btn login-btn-primary margin-t-10" tooltip="Add contact" >
                            <i class="fa fa-plus-circle"></i> Add
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-t-20">
        <h4 class="fw-500">Current Contacts</h4>
            <table class="table content-card">
                <tbody>
                    <tr ng-repeat="contact in contacts">
                        <td class="pad-t-15 fs-16 fw-500">
                            {{contact.contact_type_text}}
                        </td>
                        <td class="pad-t-15 fs-16 fw-500">
                            {{contact.contact_text}}
                        </td>
                        <td class="pad-t-15 text-right">
                            <span ng-if="contact.delete_spinner">
                                <i class="fa fa-spin fa-circle-o-notch"></i>
                            </span>
                            <a class="remove-icon text-danger" ng-click="remove(contact)" tooltip="Remove contact">
                                <i class="fa fa-times-circle fa-2x fw-5oo"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="spinner">
                        <td colspan="3" class="text-center">
                            <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
