<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="content-body">
    <ul class="nav nav-tabs col-xs-12">
       <li ui-sref-active="active" >
           <a ui-sref="users.user_edit.basic">
               <span class="fw-900">
                   Basic Details
               </span>
           </a>
       </li>
       <li ui-sref-active="active" >
           <a ui-sref="users.user_edit.contacts">
               <span class="fw-900 ">
                   User Contacts
               </span>
           </a>
       </li>
       <li ui-sref-active="active" >
           <a ui-sref="users.user_edit.groups">
               <span class="fw-900 ">
                   User Groups
               </span>
           </a>
       </li>
       <li ui-sref-active="active"
       ng-if="current_group === 'Sub County Health Records Information Officer'">
           <a ui-sref="users.user_edit.constituency">
               <span class="fw-900 ">
                   Sub County
               </span>
           </a>
       </li>
       <li ui-sref-active="active"
       ng-if="current_group === 'County Administrators' ||
       current_group === 'County Health Records Information Officer'">
           <a ui-sref="users.user_edit.counties">
               <span class="fw-900 ">
                   County
               </span>
           </a>
       </li>
       <li ui-sref-active="active">
           <a ui-sref="users.user_edit.regulatory_body"
           ng-if="current_group === 'Regulators (Approvers)' ||
           current_group === 'Regulators (makers)'">
               <span class="fw-900 ">
                    Regulatory Body
               </span>
           </a>
       </li>
   </ul>
    <div class="content-card col-xs-12">
        <div class="col-xs-12">
            <div class="tab-content margin-t-20">
                <div class="" ui-view="form-view"></div>
            </div><!-- /tab-content -->
        </div>
    </div>
</div>
