<div>
<div class="">
    <div class="col-lg-4 col-md-4 col-sm-6 margin-b--5 pull-right">
            <sil-grid-search> </sil-grid-search>
    </div>
</div>
<!-- Start of facilities grid -->
<div id="no-more-tables" class="col-lg-12 margin-t-15">
    <table class="table table-hover fs-14">
        <thead>
            <th>#</th>
            <th sil-grid-sort field='name'>Names</th>
            <th>Email</th>
            <th>Last login</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody class="example-animate-container">
            <tr class="animate-repeat" ng-repeat="user in users | filter: search.query">
                <td data-title="#" class="pad-t-15">{{$index + 1}}</td>
                <td data-title="Names" class="pad-t-15">{{user.full_name}}</td>
                <td data-title="Email" class="pad-t-15">{{user.email}}</td>
                <td data-title="Last login" class="pad-t-15">
                    <p>
                        <span ng-if="user.last_login !== null" class="fs-14">
                        {{user.last_login | date : 'fullDate'}}
                        </span>
                        <span ng-if="user.last_login === null" class="fs-14">
                        Yet to login
                        </span>
                    </p>
                </td>
                <td class="text-center">
                    <a ui-sref="users.edit_user({user_id : user.id})" class="action-btn action-btn-grid action-btn-primary" data-trigger="hover" data-type="success" data-title="Edit User" tooltip="Edit user">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a ui-sref="users.view_user({user_id: user.id})" class="action-btn action-btn-grid action-btn-danger" data-trigger="hover" data-type="success" data-title="Delete User" tooltip="Delete user">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
</div>
<!-- End of facilities grid -->
