<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="col-sm-12" style="display: inline-flex;">
    <div class="col-sm-12 margin-t-20 content-card ">
        <!-- Replaceing tabs with multistep start -->
        <div class="col-sm-11 progress-container col-sm-offset-1 margin-t-20 text-center">
            <div class="col-sm-3 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div ng-model="steps[0].active" ng-click="tabState(steps[0])" class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[0].active }">
                            1
                        </div>
                        <p class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[0].active}"  ng-click="tabState(steps[0])">Basic Details</p>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div ng-model="steps[1].active" ng-click="tabState(steps[1])" class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[1].active}">
                        2
                    </div>
                    <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[1].active}"  ng-click="tabState(steps[1])">User Contacts</p>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[2].active}" ng-click="tabState(steps[2])">
                            3
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[2].active}"  ng-click="tabState(steps[2])">User Groups</p>
                </div>
            </div>
            <!-- To assign county -->
            <div class="col-sm-3 text-center" ng-if="((user.county) && (!user.is_national) && (user.county) && user.regulator === null) || (login_user.is_superuser && user.county)">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[3].active}" ng-click="tabState(steps[3])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[3].active}"  ng-click="tabState(steps[3])">Assign County</p>
                </div>
            </div>
            <!-- To assign constituency -->
            <div class="col-sm-3 text-center" ng-if="((user.constituency) && (!user.is_national) && (user.constituency) && (login_user.county) && (!login_user.is_national) && user.regulator === null)  || (login_user.is_superuser && user.constituency)">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[4].active}" ng-click="tabState(steps[4])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[4].active}"  ng-click="tabState(steps[4])">Assign Sub County</p>
                </div>
            </div>
            <!-- End of assigning constituency -->
            <!-- To assign regulatory bodies -->
            <div class="col-sm-3 text-center" ng-if="user.id && (login_user.is_national) && user.regulator !== null">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[5].active}" ng-click="tabState(steps[5])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[5].active}"  ng-click="tabState(steps[5])">Regulatory Body</p>
                </div>
            </div>
            <!-- end of assigning regulatory bodies -->
        </div>
        <!-- End of replacement -->
        <hr class="line-divider">
        <div class="col-lg-12">

                    <div class="tab-content margin-t-20">
                        <div class="" ui-view="form-view"></div>
                    </div><!-- /tab-content -->
        </div>
    </div>
</div>
