 <div class="col-xs-12 results-card margin-b-10" ng-if='show_county'>
    <span class="grey-header fs-16 col-xs-12" style="font-weight: bold">Administrative Area</span>
    <div class="form-group fs-14">
        <label class="fw-500 fs-14">County</label>
        <ui-select ng-model="filters.county" multiple id="county" name="county">
            <ui-select-match placeholder="Select a county...">
                <span>{{$item.name | titlecase}}</span>
            </ui-select-match>
            <ui-select-choices repeat="county in counties | filter:$select.search | orderBy:'name'">
                <span>{{county.name | titlecase}}</span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group fs-14">
        <label class="fw-500 fs-14">Sub-County</label>
        <ui-select ng-model="filters.sub_county" multiple ng-disabled="filters.county.length==0" id="sub_county" name="sub_county">
            <ui-select-match placeholder="Select a sub county...">
                <span>{{$item.name | titlecase}}</span>
            </ui-select-match>
            <ui-select-choices repeat="sub in sub_counties | filter:filterFxns.subFilter | filter:$select.search | orderBy:'name'">
                <span>{{sub.name | titlecase}}</span>
            </ui-select-choices>
        </ui-select>
    </div>

     <div class="form-group fs-14">
        <label class="fw-500 fs-14">Constituency</label>
        <ui-select ng-model="filters.constituency" multiple ng-disabled="true" id="constituency" name="constituency">
            <ui-select-match placeholder="Select constituency...">
                <span>{{$item.name | titlecase }}</span>
            </ui-select-match>
            <ui-select-choices repeat="const in constituencies | filter:filterFxns.constFilter | filter:$select.search | orderBy:'name'">
                <span>{{const.name | titlecase}}</span>
            </ui-select-choices>
        </ui-select>
    </div>



</div>
</div>
