<div class="col-xs-12 pad-0 margin-t-0 margin-b-0 content-card">
  <table class="table table-hover table-condensed col-xs-12">
      <thead class="grey-header">
          <th class="col-xs-8">Regulatory Body&#42;</th>
          <th class="col-xs-1 text-center"></th>
      </thead>
      <tbody>
          <tr ng-repeat="regbody in user.regulatory_users">
              <td class="col-xs-8">
                <div class="form-group grid-inputs">
                   <select name="regbody"  ng-model="regbody.regulatory_body" class="form-control">
                        <option value="">Select Regulatory Body</option>
                        <option value="{{reg.id}}" ng-selected="{{reg.id == regbody.regulatory_body}}" ng-repeat="reg in bodies">{{reg.name | titlecase}}</option>
                    </select>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                </div>
              </td>
              <td class="col-xs-1 text-center">
                  <a ng-click="removeLine('regbody',regbody)" style="cursor: pointer" ng-if="create || !regbody.id">
                      <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                  </a>
                  <div class="form-group checkbox" ng-if="!create && regbody.id">
                      <label for="open_late_night" class="control-label">
                      <input type="checkbox" tooltip="Activate or inactivate regulatory body" id="regbody{{index}}" name="regbody{{index}}" ng-model="regbody.active" ng-change="inactivate(regbody, 'regulatory_users')">
                      </label>
                  </div>
              </td>
          </tr>
          <tr ng-if="user.regulatory_users.length < 1" class="">
              <td colspan="2">
                  <i class="fa fa-info-circle"></i> No Regulatory Body Assigned to User
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div class="col-xs-12 pad-0 text-right margin-t-10 margin-b-10">
  <a class="btn btn-primary pull-right" ng-click="addLine('regbody')" >
      <i class="fa fa-plus-square-o"></i> Add Regulatory Body
  </a>
</div>
