<div class="col-xs-12 pad-0 margin-t-0 margin-b-0 content-card">
  <table class="table table-hover table-condensed col-xs-12">
      <thead class="grey-header">
          <th class="col-xs-8">Sub-County&#42;</th>
          <th class="col-xs-1 text-center"></th>
      </thead>
      <tbody>
          <tr ng-repeat="constituency in user.user_constituencies">
              <td class="col-xs-8">
                <div class="form-group grid-inputs">
                    <select name="constituency" ng-model="constituency.constituency" class="form-control" required api-checker>
                        <option value="">Select Sub County</option>
                        <option ng-repeat="cnst in constituencies" ng-selected="{{cnst.id == constituency.constituency}}" ng-value="cnst.id">{{cnst.name}}</option>
                    </select>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                </div>
              </td>
              <td class="col-xs-1 text-center">
                  <a ng-click="removeLine('constituencies',constituency)" style="cursor: pointer" ng-if="create || !constituency.id">
                      <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                  </a>
                  <div class="form-group checkbox" ng-if="!create && constituency.id">
                      <label for="open_late_night" class="control-label">
                      <input type="checkbox" tooltip="Activate or inactivate constituency" id="constituency{{index}}" name="constituency{{index}}" ng-model="constituency.active" ng-change="inactivate(constituency, 'user_constituencies')">
                      </label>
                  </div>
              </td>
          </tr>
          <tr ng-if="user.user_constituencies.length === 0" class="">
              <td colspan="2">
                  <i class="fa fa-info-circle"></i> No Sub-county Assigned to User
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div class="col-xs-12 pad-0 text-right margin-t-10 margin-b-10">
  <a class="btn btn-primary pull-right" ng-click="addLine('constituencies')" >
      <i class="fa fa-plus-square-o"></i> Add Sub-county
  </a>
</div>

