<!-- /- Start of tabbed multi-step form -->
<div class="col-xs-12 tab-content">
        <form role="form" ng-submit="save(user_frm)" name="user_frm">
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input name="first_name" type="text" ng-model="user.first_name" required class="form-control" api-checker/>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" name="last_name" ng-model="user.last_name" required class="form-control" api-checker/>
            </div>
            <div class="form-group">
                <label class="control-label">Other Names</label>
                <input type="text" name="other_names" ng-model="user.other_names" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" ng-model="user.email" name="email"  required class="form-control" api-checker/>
            </div>
            <div class="form-group">
                <label class="control-label">Employee Number</label>
                <input name="employee_number" type="text" ng-model="user.employee_number" class="form-control" required api-checker/>
            </div>
            <div class="form-group">
                <label class="control-label">Password <span class="fs-12"><em>({{::PWD_RULE}})</em></span></label>
                <input type="password" name="password" ng-model="user.password" ng-required="!user.id" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password <span class="fs-12"><em>({{::PWD_RULE}})</em></span></label>
                <input type="password" name="confirm_password" ng-model="user.confirm_password" ng-required="!user.id" ng-blur="confirmPassword(user.password, user.confirm_password)" class="form-control" />
            </div>
            <div ng-if="confirm" class="err_class">The two passwords did not match</div>
            <div class="form-group checkbox" ng-if="!create">
                <label for="open_late_night" class="control-label">
                <input type="checkbox" id="open_late_night" name="open_late_night" ng-model="user.is_active" api-checker>
                Is active
                </label>
            </div>
        </form>
</div>
