<div>
    <ng-include src="'common/tpls/table_head.tpl.html'"></ng-include>
    <div id="no-more-tables" class="col-xs-12 margin-t-15">
        <table class="table table-hover table-condensed fs-14">
            <thead>
                <th sil-grid-sort field='first_name' class="col-xs-2">Name</th>
                <th sil-grid-sort field='username' class="col-xs-2">Employee Number</th>
                <th sil-grid-sort field='email' class="col-xs-4">Email</th>
                <th sil-grid-sort field='last_login' class="col-xs-3">Last Login</th>
                <th sil-grid-sort field='is_active' class="col-xs-1">Is Active</th>
            </thead>
            <tbody class="example-animate-container">
                <tr class="animate-repeat" ng-repeat="user in users | filter: search.query">
                    <td data-title="Name" class="pad-t-15">
                        <a ui-sref="users.user_edit.basic({user_id : user.id})">
                            {{user.first_name}} {{user.last_name}}
                        </a>
                    </td>
                    <td data-title="Username" class="pad-t-15 text-center">{{::user.employee_number}}</td>
                    <td data-title="Email" class="pad-t-15">{{::user.email}}</td>
                    <td data-title="Last Login" class="pad-t-15">{{::user.last_login | dateFilter }}</td>
                    <td data-title="Is Active" class="pad-t-15 text-center">{{::user.is_active | boolFilter}}</td>
                </tr>
            </tbody>
            <tbody ng-if="users.length===0">
                <tr><td class="text-center" colspan="9">Sorry, no data is available</td></tr>
            </tbody>
        </table>
        <sil-grid-pagination> </sil-grid-pagination>
    </div>
</div>
