<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 content-card ">
    <div class="col-lg-12 margin-t-20 ">
            <!-- Start of tabbed multi step form  -->
            <div class="container-fluid">
                <ul class="form-tab margin-t--27">
                    <li ui-sref-active="active" class="col-xs-3">
                        <a ui-sref=".basic">
                            <span class="fw-900">
                                Basic user details
                            </span>
                        </a>
                    </li>
                    <li ng-if="user.id" ui-sref-active="active" class="col-xs-3">
                        <a ui-sref=".contacts">
                            <span class="fw-900 ">
                                Contact information
                            </span>
                        </a>
                    </li>
                    <li ng-if="user.id" ui-sref-active="active" class="col-xs-3">
                        <a ui-sref=".groups">
                            <span class="fw-900 ">
                                Assign group
                            </span>
                        </a>
                    </li>
                    <li ng-if="user.id && (!user.is_national)" ui-sref-active="active" class="col-xs-3">
                        <a ui-sref=".counties">
                            <span class="fw-900 ">
                                Assign county
                            </span>
                        </a>
                    </li>
                    <li ng-if="user.id && user.is_national" ui-sref-active="active" class="col-xs-3">
                        <a ui-sref=".counties">
                            <span class="fw-900 ">
                                Assign constituency
                            </span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="col-xs-3">
                        <a ui-sref=".regulatory_body">
                            <span class="fw-900 ">
                                Assign Regulatory Body
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content margin-t-20">
                    <div class="" ui-view="form-view"></div>
                </div><!-- /tab-content -->
            </div>
            <!-- end of tabbed multistep form -->
    </div>
</div>
