<!-- /- Start of tabbed multi-step form -->
<div class="tab-content">
    <div ng-if="create" class="col-md-12 margin-t-20">
        <div class="col-md-12">
        <span class="fs-20 fw-200">Step 2 of 4 User Contacts</span>
        </div>
    </div>
    <div class="col-lg-12 margin-t-20">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " requires-permission="common.add_usercontact">
        <h4 class="fw-500">Add Contact</h4>
            <form ng-submit="add()">
                <table class="table content-card margin-b-10">
                    <tr>
                        <td class="">
                            <div class="group">
                                <select name="contact_type" ng-model="contact.contact_type" required>
                                    <option value="">Select Contact Type</option>
                                    <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                                </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </td>
                        <td class="">
                            <div class="group">
                                <input type="text" name="contact" ng-model="contact.contact" required />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>
                                    Contact Details
                                </label>
                            </div>
                        </td>
                        <td class="text-right">
                            <button type="submit" class="login-btn login-btn-primary margin-t-10" tooltip="Add contact" >
                            <i class="fa fa-plus-circle"></i> Add
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-t-20">
        <h4 class="fw-500">Current User Contacts</h4>
            <table class="table content-card">
                <tbody>
                    <tr ng-repeat="child in contacts">
                        <td class="pad-t-15 fs-16 fw-500">
                            {{child.contact_type_text}}
                        </td>
                        <td class="pad-t-15 fs-16 fw-500">
                            {{child.contact_text}}
                        </td>
                        <td class="pad-t-15 text-right">
                            <span ng-if="child.delete_spinner">
                                <i class="fa fa-spin fa-circle-o-notch"></i>
                            </span>
                            <a class="action-btn action-btn-grid action-btn-danger" popover-toggle popover-trigger="open" popover-template="'common/tpls/del-pop.tpl.html'" popover-placement="left" tooltip="Remove contact" requires-permission="common.delete_usercontact" >
                                <i class="fa fa-trash fw-500"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="spinner">
                        <td colspan="3" class="text-center">
                            <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!create" class="col-md-12 margin-b-20 margin-t-20">
            <a ng-if="create" ui-sref="users.user_create.groups ({user_id : user_id})" class="login-btn login-btn-primary">
                <i class="fa fa-save"></i> Save
            </a>
        </div>
        <div ng-if="create" class="col-sm-12 margin-b-20 margin-t-20">
            <button class="login-btn login-btn-primary" ui-sref="users.user_create.basic ({user_id : user_id})">
                &nbsp;<i class="fa fa-angle-double-left"></i> User Details
            </button>
            <button class="login-btn login-btn-primary pull-right" ui-sref="users.user_create.groups ({user_id : user_id, furthest : furthest})">
                &nbsp;User Roles <i class="fa fa-angle-double-right"></i>
            </button>
        </div>
    </div>
</div>
