<contentheader></contentheader>
<div class="col-sm-12"  style="display: inline-flex;">
    <div class="col-sm-12 margin-t-20 content-card">
        <div class="col-sm-11 col-sm-offset-1 margin-t-20 text-center">
            <div class="col-sm-3 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div ng-model="steps[0].active" ng-click="tabState(steps[0])" class="progress-badge" ng-class="{'progress-badge-active': steps[0].active ,'progress-badge-done' : steps[0].done || steps[0].furthest && !steps[0].active}">
                        1
                    </div>
                    <p class="text-center step-label" ng-class="{'step-label-active': steps[0].active, 'step-label-done' : steps[0].done || steps[0].furthest}"  ng-click="tabState(steps[0])">Basic Details</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 margin-t-20"  style="border: 2px solid #666666;">

                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div ng-model="steps[1].active" ng-click="tabState(steps[1])" class="progress-badge" ng-class="{'progress-badge-active': steps[1].active , 'progress-badge-done' : steps[1].done || steps[1].furthest}">
                        2
                    </div>
                    <p  class="text-center step-label" ng-class="{'step-label-active': steps[1].active ,'step-label-done' : steps[1].done || steps[1].furthest }"  ng-click="tabState(steps[1])">User Contacts</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 margin-t-20" style="border: 2px solid #666666;">
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge" ng-class="{'progress-badge-active': steps[2].active , 'progress-badge-done' : steps[2].done || steps[2].furthest}" ng-click="tabState(steps[2])">
                            3
                        </div>
                        <p  class="text-center step-label" ng-class="{'step-label-active': steps[2].active ,'step-label-done' : steps[2].done || steps[2].furthest }"  ng-click="tabState(steps[2])">User Groups</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 margin-t-20" style="border: 2px solid #666666;">
                </div>
            </div>
            <!-- To assign county -->
            <div class="col-sm-3 text-center"
                ng-class="{'hidden': current_group.indexOf('County Administrators') == -1}">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[3].active}" ng-click="tabState(steps[3])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[3].active}"  ng-click="tabState(steps[3])">Assign County</p>
                </div>
            </div>
            <div class="col-sm-3 text-center"
                ng-class="{'hidden': current_group.indexOf('County Health Records Information Officer') == -1,'hidden': current_group.indexOf('Sub County Health Records Information Officer') > -1}">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[3].active}" ng-click="tabState(steps[3])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[3].active}"  ng-click="tabState(steps[3])">Assign County</p>
                </div>
            </div>
            <!-- To assign constituency -->
            <div class="col-sm-3 text-center"
                ng-class="{'hidden': current_group.indexOf('Sub County Health Records Information Officer') == -1}">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[4].active}" ng-click="tabState(steps[4])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[4].active}"  ng-click="tabState(steps[4])">Assign Sub County</p>
                </div>
            </div>
            <!-- End of assigning constituency -->
            <!-- To assign regulatory bodies -->
            <div class="col-sm-3 text-center"
                ng-class="{'hidden': current_group.indexOf('Regulators')===-1}">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[5].active}" ng-click="tabState(steps[5])">
                            4
                        </div>
                        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[5].active}"  ng-click="tabState(steps[5])">Regulatory Body</p>
                </div>
            </div>
            <!-- end of assigning regulatory bodies -->
        </div>
        <hr class="line-divider">
        <div class="col-lg-12">
            <div class="tab-content margin-t-20">
                <div class="" ui-view="form-view"></div>
            </div><!-- /tab-content -->
        </div>
    </div>
</div>
