<div class="margin-t-20 pad-0 col-sm-12">

   <h4 class="col-md-4">
       <span class="main-title"><strong>Updated details</strong></span>
   </h4>
</div>
<div class="col-xs-12 margin-t-20 content-card " ng-if="facility.is_approved && facility_changes.contacts || facility_changes.officer_in_charge || facility_changes.units.length ||
facility_changes.services || facility_changes.geo_codes.longitude || facility_changes.geo_codes.latitude || facility_changes.basic">

    <div class="col-xs-6 margin-t-15 pad-0">
        <p class="form-control-static fs-16">Updates were made on <span class="label label-warning">{{facility_update.created | date}}</span> by <span class="label label-warning">{{facility_update.created_by_name}}</span></p>
    </div>

    <div class="col-xs-6 margin-t-15 pad-0">
    <div class="col-xs-6">
        <p class='form-control-static fs-16'>Facility Code: <span class="label label-warning">{{facility.code}}</span></p>
    </div>
    <div class='col-xs-6'>
    <a ui-sref='facilities.facility_view({facility_id : facility.id})'
        class="btn btn-primary" tooltip="Edit Facility" tooltip-placement="bottom">
        Edit
    </a>
    <a  ui-sref='facilities' class="btn btn-primary" tooltip="Confirm updates are ok and save" tooltip-placement="bottom">
        Confirm Updates
    </a>
    </div>
   </div>
  <div class="col-xs-12 margin-t-15 pad-0"><hr class="line-divider"></div>

<div class="col-xs-12 pad-0">
    <h4 ng-if="facility_changes.basic">Facility Basic Details</h4>
    <table class="table table-hover table-condensed table-fixed">
        <thead>
            <tr>
                <th class="col-xs-4">Field</th>
                <th class="col-xs-4">Old value</th>
                <th class="col-xs-4">New value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="change in facility_changes.basic">
                <td class="col-xs-4">{{change.human_field_name | titlecase}}</td>
                <td class="col-xs-4">{{facility[change.display_field_name] | boolFilter}}</td>
                <td class="col-xs-4">{{change.display_value}}</td>
            </tr>
            <tr ng-if="facility_changes.basic.length === 0 || !facility_changes.basic">
                <td class="col-xs-12 alert alert-info" colspan="3">
                    <i class="fa fa-info-circle"></i> No Facility Basic Details Edited
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-7 pad-0" ng-class="{'vertical-divider' : (facility_changes.officer_in_charge && facility_changes.contacts.length > 0)}" ng-if="facility_changes.officer_in_charge">
    <h4 ng-if="facility_changes.officer_in_charge">Officer In-Charge</h4>
    <span class="pull-left col-xs-12 pad-0" ng-if="facility_changes.officer_in_charge.name">
        <label class="text-black fw-600">Name:</label>
            {{facility_changes.officer_in_charge.name}}
    </span>
    <span class="pull-left col-xs-12 pad-0" ng-if="facility_changes.officer_in_charge.reg_no">
        <label class="text-black fw-600">Registration Number:</label>
            {{facility_changes.officer_in_charge.reg_no}}
    </span>
    <span class="pull-left col-xs-12 pad-0" ng-if="facility_changes.officer_in_charge.job_title_name">
        <label class="text-black fw-600">Job Title:</label>
            {{facility_changes.officer_in_charge.job_title_name}}
    </span>
    <div class="col-xs-12 pad-0 margin-t-5" ng-if="facility_changes.officer_in_charge.contacts">
        <h5 class="fs-16">Officer in charge Contacts</h5>
    </div>
    <div class="col-xs-12 pad-0 margin-b-5" ng-repeat="officer_contact in facility_changes.officer_in_charge.contacts">
        <label class="text-black fw-600">
            {{officer_contact.contact_type_name | titlecase}}:
        </label>
        {{officer_contact.contact | titlecase}}
    </div>
</div>
<div class="col-xs-12 margin-t-15 pad-0" ng-if="facility_changes.contacts.length > 0">
    <h4>Facility Contacts</h4>
    <div class="col-xs-12 pad-0 margin-b-5" ng-repeat="contact_changed in facility_changes.contacts">
        <label class="text-black fw-600">
            {{contact_changed.contact_type_name | titlecase}}:
        </label>
        {{contact_changed.contact | titlecase}}
    </div>
</div>
<div class="col-xs-12 margin-t-15 pad-0" ng-if="facility_changes.geo_codes.longitude || facility_changes.geo_codes.latitude">
    <h4 ng-if="facility_changes.geo_codes">
        Facility Geolocation Details
    </h4>
    <span class="pull-left col-xs-12 pad-0" ng-if="facility_changes.geo_codes.longitude">
        <label class="text-black fw-600">Facility Longitude:</label>
            {{facility_changes.geo_codes.longitude}}
    </span>
    <span class="pull-left col-xs-12 pad-0" ng-if="facility_changes.geo_codes.latitude">
        <label class="text-black fw-600">Facility Latitude:</label>
            {{facility_changes.geo_codes.latitude}}
    </span>
</div>
<div class="col-xs-12 margin-t-15 pad-0" ng-if="facility_changes.units.length > 0" >
    <h4>Regulation</h4>
    <table class="table table-condensed table-hover fs-14">
        <thead>
            <th class="col-xs-2">
                Department Name
            </th>
            <th class="col-xs-4">
                Regulating Body
            </th>
             <th class="col-xs-3">
                License No.
            </th>
             <th class="col-xs-3">
                Registration No.
            </th>
        </thead>
       <tr ng-repeat="unit_changed in facility_changes.units">
            <td>{{unit_changed.department_name}}</td>
            <td>{{unit_changed.regulating_body_name | titlecase}}</td>
            <td>{{unit_changed.license_number}}</td>
            <td>{{unit_changed.registration_number}}</td>
        </tr>
    </table>
</div>
<div class="col-xs-12 margin-t-15 pad-0" ng-if="facility_changes.services.length > 0">
    <h4>Facility Services</h4>
    <table class="table table-hover table-condensed fs-14">
        <thead>
            <th class="col-xs-7">
                Service Name
            </th>
            <th class="col-xs-5 text-center">
                Service Option
            </th>
        </thead>
       <tr ng-repeat="service_changed in facility_changes.services">
            <td class="col-xs-7">{{service_changed.name | titlecase}}</td>
            <td class="col-xs-5 text-center">{{service_changed.display_name ? service_changed.display_name : 'Yes' | titlecase}}</td>
        </tr>
    </table>
</div>
</div>
<div ng-if="!facility.latest_update && facility.is_approved" class="col-xs-12 pad-0 content-card">
<div  class="col-xs-12 alert alert-info margin-t-10 margin-b-10">
    <p class="fs-16"><i class="fa fa-info-circle"></i> No facility updates pending approval</p>
</div>
</div>

