<div class="content-header">
   <div class="action-container content-header-extra margin-t-3">
        <a requires-permission='facilities.change_facility' tooltip="Edit Facility" tooltip-placement="bottom" class="btn btn-primary" ui-sref="facilities.facility_edit({facility_id: fac_id})" ui-sref-opts="{reload:true}"> Edit </a>
        <a  class="btn btn-primary"
            popover-toggle popover-trigger="open" popover-placement="bottom"
            popover-template="'facility_mgmt/tpls/facility_printing_buttons.tpl.html'" >
            Print
        </a>
        <a requires-permission="facilities.view_facility,facilities.add_facilityregulationstatus" ui-sref="facilities_regulation.regulate.basic({facility_id: fac_id})" class="btn btn-success" tooltip="Regulate Facility" ng-if="!facility.closed||!facility.rejected">
            Regulate
        </a>
        <a requires-permission="facilities.publish_facilities,facilities.view_facility" ui-sref="facilities_publish.publish.basic({facility_id: fac_id})" class="btn btn-success" ng-if="!facility.is_published||!facility.rejected||!facility.closed">
            <span ng-if="!facility.is_published">Publish</span>
            <span ng-if="facility.is_published">Unpublish</span>
        </a>
        <a requires-permission="facilities.view_facility,facilities.add_facilityapproval" ui-sref="facilities_approve.approve.basic({facility_id: fac_id})" class="btn btn-success" ng-if="(!facility.rejected&&!facility.closed)&&(!facility.is_approved||facility.has_edits)" tooltip="Approve Facility">
            Approve/Reject
        </a>
        <a class="btn btn-info margin-l-3"
            requires-permission="facilities.add_facilitytype,facilities.add_facilityservice"
            ui-sref="facilities.upgrade({facility_id: facility.id})"
            ui-sref-opts="{reload:true}">Upgrade</a>
        <a ng-if="!facility.closed" class="btn btn-danger margin-l-3"
            requires-permission="facilities.view_closed_facilities"
            ui-sref=".close({facility_id: facility.id})">Close</a>

   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa fa-eye"></i> View Facility</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="content-body col-xs-12">
    <div class="col-xs-12 margin-t-30" ng-if="spinner">
        <div class="map-change-state">
            <div class="loader"></div>
            <div class="row">
                <h3 class="text-center loader-text">Please wait...</h3>
            </div>
        </div>
    </div>
    <div class="content-card col-xs-12 margin-t-20" ng-if="!spinner" ui-view="read-only"></div>
    <div class="col-xs-12 pad-0 margin-b-20">
        <mfl-revision-view id="facility.id" wrapper="wrapper"></mfl-revision-view>
    </div>
</div>
