<div class="content-header">
   <div class="action-container content-header-extra pad-r-20">
        <a class="login-btn login-btn-info" require-permission="facilities.add_facilityapproval"
            ng-if="!facility.is_approved || facility.has_edits"
            ui-sref=".approve({facility_id: facility_id,update_id: facility.latest_update})"
            ui-sref-opts="{reload:true}">&nbsp;Approve</a>
        <a class="login-btn login-btn-info margin-l-3" require-permission="facilities.change_facility"
            ng-if="login_user.is_national"
            ui-sref=".publish({facility_id: facility_id})"
            ui-sref-opts="{reload:true}">&nbsp;Publish</a>
        <a class="login-btn login-btn-info margin-l-3" require-permission="facilities.add_facilityregulationstatus"
            ng-if="login_user.regulator"
            ui-sref="facilities.facility_edit({facility_id: facility_id})"
            ui-sref-opts="{reload:true}">&nbsp;Regulate</a>
        <a class="login-btn login-btn-info margin-l-3"
            ui-sref=".upgrade({facility_id: facility_id})"
            ui-sref-opts="{reload:true}">&nbsp;&nbsp;Upgrade</a>
        <a class="login-btn login-btn-info margin-l-3"
            ui-sref=".downgrade({facility_id: facility_id})"
            ui-sref-opts="{reload:true}">&nbsp;Downgrade</a>
        <a onclick="window.history.back()" class="action-btn action-btn-info action-btn-md"
           tooltip-placement="bottom" tooltip="Back">
               <i class="fa fa-arrow-left"></i>
        </a>
   </div>
   <h2 class="content-title">
        <span class="main-title"><i class="fa fa-edit"></i> Edit Facility</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="margin-20 content-card">
    <div ng-if="spinner" class="text-center margin-t-20 margin-b-20 fs-18">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
    <div ng-if="!spinner">
        <h4 class="fw-400"><a ui-sref="facilities.facility_edit">{{facility.code}} | {{facility.name | uppercase}}</a></h4>
        <div class="row">
            <div class="col-xs-12 margin-b-10 fs-16">
                <span>Facility Type: <strong>{{facility.facility_type_name}}</strong></span>
            </div>
            <div class="col-sm-6">
                <span>Regulation Status:
                    <span class="label label-warning" style="font-size: 13px">
                        {{facility.regulatory_status_name}}
                    </span>
                </span>
            </div>
            <div class="col-sm-6"><span class="pull-right">Operation Status: <span class="fs-14 label label-primary" style="font-size: 13px">{{facility.operation_status_name | titlecase}}</span></span></div>
       </div>
    </div>
</div>
<div class="margin-20 content-card">
    <div class="margin-t-20 ">
        <div class="container-fluid">
            <div ui-view="tab-header"></div>
            <hr class="line-divider">
            <div class="tab-content margin-t-20">
                <div ui-view="publish"></div>
                <div class="listing" ui-view="form-view"></div>
            </div>
        </div>
    </div>
</div>
