<div class="col-sm-12 content-card">
    <div class="col-xs-12 fade-content alert alert-danger alert-dismissible margin-t-10" ng-show="service_error">
        <button type="button" class="close">
            <span ng-click="service_error = !service_error">&times;</span>
        </button>
        <span ng-cloak class="fs-18"><i class="fa fa-times-circle"></i> &nbsp; {{service_error}}</span>
    </div>
    <div class="row" ui-view="service-content"></div>
    <div class="col-xs-12">
        <!-- Begining of create navigation buttons -->
        <a ui-sref="facilities.facility_create.units({facility_id : new_facility})" ng-if="create"
        class="btn btn-primary margin-t-20 margin-b-10">
            <i class="fa fa-angle-double-left"></i> Regulation
        </a>
        <button ng-click="facilityServices()" ng-if="create"  class="btn btn-primary margin-t-20 margin-b-10 pull-right">
             Submit <i class="fa fa-angle-double-right"></i>
        </button>
        <!-- End of navigation buttons -->
        <a ui-sref="facilities.facility_edit.units" ng-if="!create && !updown" class="btn btn-primary margin-t-20 margin-b-10">
            <i class="fa fa-angle-double-left"></i> Regulation
        </a>
        <button ng-click="facilityServices()" ng-if="!create && !updown"  class="btn btn-primary margin-t-20 margin-b-10 pull-right">
             {{create ? 'Submit' : 'Save & Finish'}} <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
</div>
