<div class="col-sm-12 content-card">
    <div class="col-xs-12 fade-content alert alert-danger alert-dismissible margin-t-10" ng-show="cont_error">
            <button type="button" class="close">
                <span ng-click="cont_error = !cont_error">&times;</span>
            </button>
            <span class="fs-18"><i class="fa fa-times-circle"></i> &nbsp; {{cont_error}}</span>
      </div>
    <form role="form" name="contForm" ng-submit="saveContacts()">
    <div class="col-xs-12">
        <drf-err-msg></drf-err-msg>
    </div>
    <div class="col-xs-12 margin-t-10 pad-0" requires-permission="facilities.add_facilitycontact">
        <div class="col-xs-12">
            <h4 class="fw-600 fs-18"> Facility Contact</h4>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered col-xs-12">
                <thead class="grey-header">
                    <th class="col-xs-5">Contact Type</th>
                    <th class="col-xs-6">Contact Details</th>
                    <th class="col-xs-1 text-center"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="fac_cont in detailed_contacts">
                        <td class="col-xs-5">
                            <div class="form-group grid-inputs">
                                <select name="cont_fac.type" class="form-control" ng-model="fac_cont.contact_type" place-holder="Select Contact Details" required api-checker>
                                    <option value="">Select Contact Type</option>
                                    <option ng-repeat="cont in contact_types" ng-selected="{{cont.id == fac_cont.contact_type}}" ng-value="cont.id">{{cont.name}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group grid-inputs">
                                <input name="cont_fac.cont" class="form-control" placeholder="Contact Details" ng-model="fac_cont.contact" required api-checker>
                            </div>
                        </td>
                        <td class="col-xs-1 text-center">
                            <a ng-click="removeContact(fac_cont)" style="cursor: pointer;" ng-if="detailed_contacts.length > 1">
                                <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="detailed_contacts.length === 0" class="">
                        <td colspan="3" class="text-center">
                            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-right margin-b-10">
            <a class="mfl-btn mfl-btn-primary pull-right" ng-click="addContact()" >
                &nbsp;<i class="fa fa-plus-square-o"></i> Add
            </a>
        </div>
    </div>
   <div class="col-xs-12">
    <!-- Buttons for creation of facility -->
        <a ui-sref="facilities.facility_edit.geolocation" ng-if="!create" class="mfl-btn mfl-btn-primary margin-t-20 margin-b-10">
            &nbsp;<i class="fa fa-angle-double-left"></i> Geolocation
        </a>
        <!-- <a
        ui-sref="facilities.facility_edit.officers" ng-if="!create"   -->
        <span class="pull-right" ng-if="!create">
            <button ng-if="!create" ng-click="setNxt(true)" type="submit" class="mfl-btn mfl-btn-primary margin-t-20 margin-b-10 margin-r-5">
                &nbsp; Finish
            </button>
            <button ng-click="setNxt(false)" ng-if="!create" class="mfl-btn mfl-btn-primary margin-t-20 margin-b-10 pull-right">
                &nbsp; Save & Continue <i class="fa fa-angle-double-right"></i>
            </button>
        </span>
        <!-- End of facility creation buttons -->
        <a ui-sref="facilities.facility_create.geolocation({facility_id : new_facility})" ng-if="create" class="mfl-btn mfl-btn-primary margin-t-20 margin-b-10">
            &nbsp;<i class="fa fa-angle-double-left"></i> Geolocation
        </a>
        <button ng-if="create"  class="mfl-btn mfl-btn-primary margin-t-20 margin-b-10 pull-right">
            &nbsp; Regulation <i class="fa fa-angle-double-right"></i>
        </button>
    </div>

</div>
