<div class="content-header">
   <div class="action-container content-header-extra">
       <div class="action-container content-header-extra pad-r-5">
            <a tooltip-placement="bottom" tooltip="export facilities"  class="btn btn-primary" ng-click="excelExport()">
                Export Facilities
            </a>
            <a tooltip-placement="bottom" tooltip="Add New Facilities"  class="btn btn-primary" ui-sref="facilities.facility_create({furthest  : 1})" requires-permission="facilities.add_facility">
                Add Facilities
            </a>
       </div>
   </div>
   <h2 class="content-title">
        <span class="main-title"><i class="fa fa-building"></i> Facilities</span>
   </h2>
</div>
<section class="content-body col-xs-12 margin-t-10">
    <div class="col-xs-12">
        <button class="pull-right btn btn-primary margin-b-10" ng-click="hide=!hide">{{hide ? 'Hide' : 'Show'}} Filter Panel</button>
    </div>
    <div class="col-xs-12" ng-show="hide">
       <div class="col-xs-12 content-card">
        <form ng-submit="filterFacilities()" name="frm_filter_facilities">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="fw-500"><strong>Search:</strong></label>
                    <input placeholder="Search all facilities" type="text" class="form-control" ng-model="filters.single.search" id="search" name="search" autofocus />
                </div>
                <div class="form-group">
                    <label class="fw-500">County:</label>
                    <ui-select ng-model="filters.multiple.county" multiple id="county" name="county">
                        <ui-select-match placeholder="Select a county...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="county in filter_summaries.county | filter:$select.search">
                            <span>{{county.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label class="fw-500">Sub-County:</label>
                    <ui-select ng-model="filters.multiple.sub_county" multiple class="height-30" ng-disabled="filters.multiple.county.length==0" id="sub_county" name="sub_county">
                        <ui-select-match placeholder="Select a sub county...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="sub in filter_summaries.sub_county | filter:filterFxns.subFilter | filter:$select.search">
                            <span>{{sub.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label class="fw-500">Constituency:</label>
                    <ui-select ng-model="filters.multiple.constituency" multiple class="height-30" ng-disabled="filters.multiple.county.length==0" id="constituency" name="constituency">
                        <ui-select-match placeholder="Select a Constituency...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="sub in filter_summaries.constituency | filter:filterFxns.constFilter | filter:$select.search">
                            <span>{{sub.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label class="fw-500">Ward:</label>
                    <ui-select ng-model="filters.multiple.ward" multiple class="height-30" ng-disabled="filters.multiple.sub_county.length==0 && filters.multiple.constituency.length==0" id="ward" name="ward">
                        <ui-select-match placeholder="Select a ward...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="ward in filter_summaries.ward | filter:filterFxns.wardFilter | filter:$select.search">
                            <span>{{ward.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="fw-500">Facility Code:</label>
                    <input type="text" class="form-control" ng-model="filters.single.code" placeholder="Enter facility code ..">
                </div>
                <div class="form-group">
                    <label class="fw-500">KEPH Level:</label>
                    <ui-select ng-model="filters.multiple.keph_level" multiple id="keph_level" name="keph_level">
                        <ui-select-match placeholder="Select a KEPH Level ...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="kl in filter_summaries.keph_level | filter:$select.search">
                            <span>{{kl.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="fw-500">Facility Type:</label>
                    <ui-select ng-model="filters.multiple.facility_type" multiple id="facility_type" name="facility_type">
                        <ui-select-match placeholder="Select a facility type...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="ft in filter_summaries.facility_type | filter:$select.search">
                            <span>{{ft.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label  class="fw-500">Operation Status</label>
                    <ui-select ng-model="filters.multiple.operation_status" multiple id="operation_status" name="operation_status">
                        <ui-select-match placeholder="Select a operation status...">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="os in filter_summaries.operation_status | filter:$select.search">
                            <span>{{os.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label  class="fw-500">Facility Owner</label>
                    <ui-select ng-model="filters.multiple.owner" multiple>
                        <ui-select-match placeholder="Select a facility owner..." id="owner" name="owner">
                            <span>{{$item.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="ot in filter_summaries.owner | filter:filterFxns.ownerFilter | filter:$select.search">
                            <span>{{ot.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-3 pull-right">
                            <a ng-if="filters.single.open_public_holidays!==''||filters.single.open_weekends!==''||filters.single.open_whole_day!==''"
                                 href ng-click="bool_clear()">
                                Clear
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 pad-l-5">
                        <div class="checkbox">
                            <label class="fw-500 fs-14 text-black">
                                <input type="checkbox" id="open_public_holidays" name="open_public_holidays" ng-model="filters.single.open_public_holidays"
                                    ng-true-value="'true'" ng-false-value="'false'" indeterminate-value />
                                 Open Public Holidays
                             </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 pad-l-5">
                        <div class="checkbox">
                            <label class="fw-600 fs-14 text-black">
                                <input type="checkbox" id="open_weekends" name="open_weekends" ng-model="filters.single.open_weekends"
                                    ng-true-value="'true'" ng-false-value="'false'" indeterminate-value />
                                 Open Weekends
                             </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 pad-l-5">
                        <div class="checkbox">
                            <label class="fw-600 fs-14 text-black">
                                <input type="checkbox" id="open_whole_day" name="open_whole_day" ng-model="filters.single.open_whole_day"
                                    ng-true-value="'true'" ng-false-value="'false'" indeterminate-value/>
                                 Open 24 Hours
                             </label>
                        </div>
                    </div>
                </div>

                 <div class="form-group">
                    <div class="col-xs-8 pad-l-5">
                        <div class="checkbox">
                            <label class="fw-600 fs-14 text-black">
                                <input type="checkbox" id="open_normal_day" name="open_normal_day" ng-model="filters.single.open_normal_day"
                                    ng-true-value="'true'" ng-false-value="'false'" indeterminate-value/>
                                 Open 8:00 AM to 5:00 PM
                             </label>
                        </div>
                    </div>
                </div>
                     <div class="form-group col-xs-8 pad-l-5">
                    <label for="established date" class="fw-600 fs-14">
                        Created after
                    </label>
                    <datepicker date-format="y-MM-dd">
                      <input class="form-control" name="c" ng-model="filters.single.created_after" type="text"  placeholder="dd-mm-yy"/>
                    </datepicker>
                </div>
                 <div class="form-group col-xs-8 pad-l-52">
                    <label for="established date" class="fw-600 fs-14">
                        Created before
                    </label>
                    <datepicker date-format="y-MM-dd">
                      <input class="form-control" name="c" ng-model="filters.single.created_before" type="text"  placeholder="dd-mm-yy"/>
                    </datepicker>
                </div>

            </div>
            <div class="col-xs-12 margin-t-10">
                <button class="btn btn-primary margin-l--10" type="submit">
                    Search
                </button>
                <button type="reset" class="btn btn-primary margin-l-5" ng-click="clearFilters()"> Reset</button>
            </div>
        </form>
       </div>
    </div>
    <div class="col-xs-12">
        <div class="content-card col-xs-12">
            <div class="col-xs-12 margin-b-20">
                <sil-grid template="facility_mgmt/tpls/facilities.list.tpl.html" grid-for="facilities"
                    data="facilities" filters="filters_grid" error="alert" api-key="facilities">
                </sil-grid>
            </div>
        </div>
    </div>
</section>
