<div class="row">
    <div class="pull-left col-sm-4 col-xs-6">
        <sil-grid-search> </sil-grid-search>
    </div>
    <div class="pull-right col-xs-4">
        <p class="text-right margin-t-5">Page {{::pagination.current_page}} / {{::pagination.page_count}}</p>
    </div>
</div>

<table class="table table-hover fs-12 margin-t-20" id="no-more-tables">
    <thead>
        <th class="col-xs-1">Code</th>
        <th sil-grid-sort field='name'>Name</th>
        <th sil-grid-sort field='county'>County</th>
        <th sil-grid-sort field='constituency'>Sub County</th>
        <th sil-grid-sort field='owner_name'>Owner</th>
        <th sil-grid-sort field='facility_type_name'>Facility Type</th>
        <!-- <th class="text-right">Actions&nbsp;&nbsp;</th> -->
    </thead>

    <tbody ng-if="facilities.length===0">
        <tr><td class="text-center" colspan="7">Sorry, no data is available</td></tr>
    </tbody>

    <tbody class="fade-content" ng-if="facilities.length>0">
        <tr ng-repeat="fac in facilities" >
            <td data-title="Code:" class="pad-t-15">{{::fac.code}}</td>
            <td data-title="Name:" class="pad-t-15">
                <a ui-sref="facilities.facility_view({facility_id: fac.id})">{{::fac.name}}</a>
            </td>
            <td data-title="County:"class="pad-t-15"> {{::fac.county}}</td>
            <td data-title="Sub County:" class="pad-t-15">{{::fac.constituency}}</td>
            <td data-title="Owner:" class="pad-t-15">{{::fac.owner_name}}</td>
            <td data-title="Facility Type:" class="pad-t-15">{{::fac.facility_type_name}}</td>
            <!-- <td data-title="Actions:"  class="text-right">
                <a requires-permission="facilities.view_facility,facilities.add_facilityapproval" ui-sref="facilities_approve.approve.basic({facility_id: fac.id})"
                    class="login-btn login-btn-action" ng-if="(!fac.rejected)&&(!fac.is_approved||fac.has_edits)" tooltip="Approve Facility">
                    &nbsp;Approve/Reject
                </a>

                <a requires-permission="facilities.publish_facilities,facilities.view_facility" ui-sref="facilities_publish.publish.basic({facility_id: fac.id})"
                    class="login-btn login-btn-action" ng-if="!fac.is_published" tooltip="Publish Facility">
                    &nbsp;Publish
                </a>

                <a requires-permission="facilities.change_facility" ui-sref="facilities.facility_edit({facility_id: fac.id})"
                    class="login-btn login-btn-action" tooltip="Edit Facility">
                    &nbsp;Edit
                </a>

                <a requires-permission="facilities.view_facility" ui-sref="facilities.facility_edit({facility_id: fac.id})"
                    class="login-btn login-btn-action" tooltip="View Facility">
                    &nbsp;View
                </a>

                <a requires-permission="facilities.view_facility,facilities.add_facilityregulationstatus"
                    ui-sref="facilities_regulation.regulate.basic({facility_id: fac.id})" class="login-btn login-btn-action" tooltip="Regulate Facility">
                    &nbsp;Regulate
                </a>
            </td> -->
        </tr>
    </tbody>
</table>
<sil-grid-pagination> </sil-grid-pagination>
