<div class="col-xs-12">
    <span class="pull-right">
        <button class="mfl-btn mfl-btn-primary" ui-sref="facilities.facility_edit.services.edit">
            &nbsp;{{create ? 'Edit' : 'Add'}} Services
        </button>
    </span>
</div>
<div class="col-xs-12">
    <div class="pull-left col-sm-4 col-xs-6 pad-0">
            <sil-grid-search> </sil-grid-search>
    </div>
    <div class="pull-right col-xs-4 pad-0">
    <p class="text-right margin-t-5">Showing <strong>{{pagination.start_index}} - {{pagination.end_index}}</strong> of <span>{{pagination.count}} records</span></p>
    </div>
    <table class="table table-fixed table-hover fs-14" id="no-more-tables">
        <thead class="table-head">
                <th class="col-xs-10" sil-grid-sort field='name'>Name</th>
                <th class="col-xs-2">Service Option&nbsp;&nbsp;</th>
        </thead>
        <tbody class="table-list fade-content">
            <tr class="table-item" ng-repeat="service in services" ng-show="services">
                <td data-title="Name:" class="col-xs-10">
                    {{service.service_name}}
                </td>
                <td data-title="Abbreviation:" class="col-xs-2 text-center">{{service.option_display_value}}&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr class="table-item" ng-if="services.length === 0" class="alert alert-info">
                <td colspan="4" class="col-xs-12">
                <i class="fa fa-info-circle"></i> No services assigned to this facility
                </td>
            </tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
