<div class="pad-t-20">
   <div class="row">
        <div class="col-xs-6">
            <span class="pad-t-20 fs-18"><strong>{{ (upgrade) ? 'Upgrade' : 'Downgrade' }}</strong></span>
        </div>
        <div class="col-xs-6">
            <p class="text-right fs-16">Current Facility Type: <span class="label label-info"><strong>{{facility.facility_type_name}}</strong></span></p>
        </div>
   </div>
    <form ng-submit="updateType()">
        <hr>
        <div class="form-group pad-t-20" >
            <label for="facility_type">New Facility Type</label>
            <select ng-model="new_type.facility_type" name="facility_type" class="form-control col-xs-10" required>
                <option value=""></option>
                <option ng-repeat="factype in facility_types" ng-value="factype.id">{{factype.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reason">Reason for {{(upgrade) ? 'Upgrade' : 'Downgrade'}}</label>
            <textarea ng-model="new_type.reason" name="reason" required class="form-control"></textarea>
        </div>
        <input class="login-btn" ng-class="{'login-btn-danger': !upgrade, 'login-btn-success': upgrade}" ng-value="(upgrade)?'Upgrade':'Downgrade'" type="submit" ng-disabled="new_type.id"/>
    </form>
</div>
