<div>
    <div class="well" ng-class="{'alert-success':facility.is_approved}">
        <div ng-if="!facility.is_approved">
            <h4>Approve newly created facility</h4>
            <form ng-submit="approveFacility()">
                <div class="form-group">
                    <label for="comment">Comment for approval</label>
                    <textarea name="comment" ng-model="facility_approval.comment" class="form-control" required>
                    </textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Approve Facility" />
            </form>
        </div>
        <div ng-if="facility.is_approved">
            <p>Facility has already been approved</p>
        </div>
    </div>

    <div class="well" ng-class="{'alert-success':!facility.latest_update}">
        <div ng-if="facility.latest_update">
            <h4>Approve facility updates</h4>
            <div class="row">
                <div class="form-group col-xs-5">
                    <label>Updates made by</label>
                    <p class="form-control-static">{{facility_update.created_by_name}}</p>
                </div>
                <div class="form-group col-xs-5">
                    <label>Updates made on</label>
                    <p class="form-control-static">{{facility_update.created | date}}</p>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Old value</th>
                        <th>New value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="change in facility_changes">
                        <td>{{change}}</td>
                        <td>{{facility[change]}}</td>
                        <td>{{facility_update.facility_updates[change]}}</td>
                    </tr>
                </tbody>
            </table>

            <button ng-click="approveUpdate(true)" class="btn btn-success">Approve Updates</button>
            <button ng-click="approveUpdate(false)" class="btn btn-danger">Decline Updates</button>
        </div>
        <div ng-if="!facility.latest_update">
            <p>No facility updates pending approval</p>
        </div>
    </div>

</div>
