<div class="content-header">
   <div class="action-container content-header-extra pad-r-20">
        <a class="btn btn-info margin-l-3"
            requires-permission="facilities.add_facilitytype,facilities.add_facilityservice"
            ui-sref=".upgrade({facility_id: facility_id})"
            ui-sref-opts="{reload:true}">Upgrade</a>
        <a class="btn btn-info margin-l-3"
            requires-permission="facilities.add_facilitytype,facilities.add_facilityservice"
            ui-sref=".downgrade({facility_id: facility_id})"
            ui-sref-opts="{reload:true}">Downgrade</a>
        <button class="action-btn action-btn-primary action-btn-md"
            ng-click="printFacility(facility_id)"
            ng-if="create" tooltip="Print Cover Letter">
            <i class="fa fa-print"></i>
        </button>
   </div>
   <h2 class="content-title">
        <span class="main-title"><i class="fa fa-edit"></i> Edit Facility</span>
   </h2>
</div>
<div ui-view="delete"></div>
<div class="col-xs-12 margin-t-20">
    <div class="col-xs-12 content-card">
        <div ng-if="spinner" class="text-center margin-t-20 margin-b-20 fs-18">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div ng-if="!spinner && !error">
            <h4 class="fw-400"><a ui-sref="facilities.facility_view({facility_id:facility.id})">{{facility.code}} | {{facility.official_name}}</a></h4>
            <div class="row">
                <div class="col-xs-12 margin-b-10 fs-16">
                    <span>Facility Type: <strong>{{facility.facility_type_name}}</strong></span>
                </div>
                <div class="col-sm-6 col-xs-12 margin-b-10">
                    <span>Regulation Status:
                        <span class="label label-warning" style="font-size: 13px">
                            {{facility.regulatory_status_name}}
                        </span>
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12"><span class="pull-sm-right pull-xs-left">Operation Status: <span class="fs-14 label label-primary" style="font-size: 13px">{{facility.operation_status_name | titlecase}}</span></span></div>
           </div>
        </div>
        <div class="fade-content alert alert-danger alert-dismissible margin-t-20" ng-show="error">
            <button type="button" class="close">
                <span ng-click="error = !error">&times;</span>
            </button>
            <span class="fs-18"><i class="fa fa-times-circle"></i> &nbsp; {{error}}</span>
        </div>
    </div>
</div>
<div class="margin-t-20 col-xs-12 content-body" ng-if="!create">
    <div ui-view="tab-header"></div>
    <div class="fade-content" ui-view="tab-content">
        <div class="fade-content" ui-view="publish"></div>
        <div class="listing fade-content" ui-view="form-view"></div>
    </div>
</div>
<div class="margin-20 content-card content-body" ng-if="create">
    <div class="margin-t-20 ">
        <div class="container-fluid">
            <div ui-view="tab-header"></div>
            <hr class="line-divider">
            <div class="tab-content margin-t-20">
                <div ui-view="publish"></div>
                <div class="listing" ui-view="form-view"></div>
            </div>
        </div>
    </div>
</div>
