<div class="col-xs-12">
    <span class="pull-right">
        <button ng-if="create" class="btn btn-primary" ng-click="changeView('edit')">
           {{edit ? 'Edit' : 'View'}} Facility Services
        </button>
        <button ng-if="!create" class="btn btn-primary" ng-click="changeView('edit')">
           {{edit ? 'Edit' : 'View'}} Facility Services
        </button>
    </span>
</div>
<div class="col-xs-12 margin-b-20 margin-t-20">
    <sil-grid template="facility_mgmt/tpls/facility_services.list.tpl.html" grid-for="facilities"
        data="services" filters="filters" error="alert" api-key="facility_services">
    </sil-grid>
</div>
