<div class="col-sm-12 detail-content">
    <div class="col-sm-12 content-card form-card margin-t-20" requires-permission="facilities.add_facilityofficer">
        <div class="col-sm-12">
            <h4 class="fw-600 fs-18"> Add Officers</h4>
        </div>
        <form ng-submit="add()">
            <div class="group col-sm-10">
            <select name="officer" ng-model="officer.id" class="pad-t-15" required>
                <option value="">Select Officer</option>
                <option ng-repeat="off in officers" ng-value="off.id">{{off.name}}</option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            </div>
            <div class="col-sm-12 margin-b-10">
                <button type="submit" class="login-btn login-btn-primary margin-t-10" tooltip="Add Officer">
                    <i class="fa fa-plus-circle"></i> Add
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 content-card margin-b-20 margin-t-20">
        <h4 class="fw-600 fs-18"> Current Officer(s)</h4>
        <table class="table content-card margin-t-20 margin-b-10">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID Number</th>
                    <th>Job Title</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="child in fac_officers">
                    <td class="pad-t-15 fs-16 fw-500">{{child.officer_name}}</td>
                    <td class="pad-t-15 fs-16 fw-500">{{child.id_number}}</td>
                    <td class="pad-t-15 fs-16 fw-500">{{child.job_title}}</td>
                    <td class="pad-t-10 text-right">
                    <span ng-if="child.delete_spinner">
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                    </span>
                        <a class="action-btn action-btn-grid action-btn-danger" popover-trigger="open"
                            popover-toggle popover-placement="left" popover-template="'common/tpls/del-pop.tpl.html'" tooltip="Delete Officer"
                             requires-permission="facilities.delete_facilityofficer">
                            <i class="fa fa-trash fw-500"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="spinner">
                    <td colspan="3" class="text-center">
                        <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Start of create buttons -->
    <a ui-sref="facilities.facility_create.setup({facility_id : new_facility})" ng-if="create" ui-sref="users.user_list" class="login-btn login-btn-primary margin-t-20 margin-b-10">
        &nbsp;<i class="fa fa-angle-double-left"></i> Setup
    </a>
    <button ng-click="goToNext(6, 'units')" ng-if="create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
        &nbsp; Units <i class="fa fa-angle-double-right"></i>
    </button>
    <!-- End of navigation buttons -->
    <a ui-sref="facilities.facility_edit.setup" ng-if="!create" ui-sref="users.user_list" class="login-btn login-btn-primary margin-t-20 margin-b-10">
        &nbsp;<i class="fa fa-angle-double-left"></i> Setup
    </a>
    <a ui-sref="facilities.facility_edit.units" ng-if="!create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
        &nbsp; Units <i class="fa fa-angle-double-right"></i>
    </a>
</div>
