<div class="row">
    <div class="col-xs-12">
        <h3><b>{{facility.code}}</b> | {{facility.name | uppercase}}</h3>
    </div>
    <div class="col-xs-6 fs-16">
        <label class="text-black fw-600">Type: </label>
        {{facility.facility_type_name}}
    </div>
    <div class="col-md-6 col-xs-12 content-right fs-16">
        <label class="text-black fw-600">Operation status: </label>
        {{facility.operation_status_name| titlecase}}
    </div>
    <div class="col-md-6 col-xs-12 fs-16">
        <label class="text-black fw-600">Regulatory status: </label>
        {{facility.regulatory_status_name}}
    </div>
    <div class="col-md-6 col-xs-12 content-right fs-16" ng-if="facility.regulatory_body_name !== null">
        <label class="text-black fw-600" >Regulatory Body: </label>
        {{facility.regulatory_body_name}}
    </div>
    <div class="col-xs-12"><hr class="line-divider"></div>
    <!-- Basic Details -->
    <div class="row">
        <div class="col-md-8 col-xs-12 fs-14" style="border-right: 1px solid #F0F0F0;">
            <div class="col-xs-12"><h4 class="fw-600">Basic Details</h4></div>
            <span class="pull-left col-md-6 col-xs-12">
                <label class="text-black">Open weekends </label>
                <span ng-show="facility.open_weekends" class="text-success">
                    <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                </span>
                <span ng-hide="facility.open_weekends" class="text-danger">
                    <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                </span>
            </span>
            <span class="content-right col-md-6 col-xs-12">
                <label class="text-black">Beds: </label>
                {{facility.number_of_beds}}
            </span>
            <span class="pull-left col-md-6 col-xs-12">
                <label class="text-black">Open on public holidays </label>
                <span ng-show="oneFacility.open_public_holidays" class="text-success">
                    <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                </span>
                <span ng-hide="oneFacility.open_public_holidays" class="text-danger">
                    <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                </span>
            </span>
            <span class="content-right col-md-6 col-xs-12">
                <label class="text-black">Cots: </label>
                {{facility.number_of_cots}}
            </span>
            <span class="pull-left col-md-6 col-xs-12">
                <label class="text-black">Open 24 hours </label>
                <span ng-show="oneFacility.open_whole_day" class="text-success">
                    <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                </span>
                <span ng-hide="oneFacility.open_whole_day" class="text-danger">
                    <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                </span>
            </span>
            <span ng-if="facility.facility_catchment_population" class="col-xs-12">
                <label class="text-black">Facility Catchment Population: </label>
                {{facility.facility_catchment_population}}
            </span>
            <div class="col-xs-12"><hr class="line-divider"></div>
            <div class="col-xs-12 margin-t-5">
                <h4 class="fw-600">Location Details</h4>
            </div>
            <span class="pull-left col-md-6 col-xs-12">
                 <label class="text-black">County:</label> {{facility.county | titlecase}}
            </span>
            <span class="content-right col-md-6 col-xs-12">
                <label class="text-black">Sub-County:</label> {{facility.constituency | titlecase}}
            </span>
            <span class="pull-left col-md-6 col-xs-12 margin-t-10">
                <label class="text-black">Ward:</label> {{facility.ward_name | titlecase}}
            </span>
            <span class="content-right col-md-6 col-xs-12 margin-t-10">
                <label class="text-black">Town:</label> {{facility.facility_physical_address.town}}
            </span>
            <!-- Geo -->
            <span class="col-xs-12 margin-t-10" ng-if="facility.facility_physical_address.plot_number !== ''">
                <label class="text-black">Plot number: </label>
                {{facility.facility_physical_address.plot_number}}
            </span>
            <span class="col-xs-12 margin-t-10" ng-show="facility.facility_physical_address.nearest_landmark">
                <label class="text-black">Nearest Landmark: </label>
                {{facility.facility_physical_address.nearest_landmark}}
            </span>
            <span class="col-xs-12 margin-t-10" ng-if="facility.facility_physical_address.location_desc !== ''">
                <label class="text-black">Specific directions: </label>
                {{facility.facility_physical_address.location_desc}}
            </span>
            <div class="col-xs-12"><hr class="line-divider"></div>
            <div class="col-xs-12 margin-t-5">
                <h4 class="fw-600">Geolocation</h4>
            </div>
            <span class="pull-left col-md-6 col-xs-12">
                <label class="text-black">Geosource:</label>
                    {{gis.source_name}}
            </span>
            <span class="content-right col-md-6 col-xs-12">
                <label class="text-black">Geomethod: </label>
                {{gis.method_name}}
            </span>
            <span class="pull-left col-md-6 col-xs-12 margin-t-5">
                <label class="text-black">Longitude: </label>
                    {{gis.coordinates.coordinates[0]}}
            </span>
            <span class="content-right col-md-6 col-xs-12 margin-t-5">
                <label class="text-black">Latitude: </label>
                {{gis.coordinates.coordinates[1]}}
            </span>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="col-xs-12">
                <h4 class="fw-600">Ownership Status</h4>
            </div>
            <span class="col-xs-12">
                <label class="text-black">Owner:</label> &nbsp;{{facility.owner_name}}
            </span>
            <span class="col-xs-12 margin-t-10">
                <label class="text-black">Category:</label>&nbsp;{{facility.owner_type_name}}
            </span>
            <div class="col-xs-12 margin-t-20" ng-if="facility.facility_contacts.length > 0">
                <h4 class="fw-600">Facility Contacts</h4>
            </div>
            <span ng-repeat="cont in facility.facility_contacts" class="col-xs-12 fw-500">
                <label class="text-black">
                    {{cont.contact_type_name | titlecase}}:
                </label>
                {{cont.contact}}
            </span>
            <div class="col-xs-12 margin-t-20" ng-if="facility.bank_name">
                <h4 class="fw-600">Facility Bank Details</h4>
            </div>
            <span class="col-xs-12 fw-500" ng-if="facility.bank_name">
                <label class="text-black">
                    Bank Name:
                </label>
                {{facility.bank_name}}
            </span>
            <span class="col-xs-12 fw-500" ng-if="facility.branch_name">
                <label class="text-black">
                    Branch Name:
                </label>
                {{facility.branch_name}}
            </span>
            <span class="col-xs-12 fw-500" ng-if="facility.bank_account">
                <label class="text-black">
                    Facility Bank Account:
                </label>
                {{facility.bank_account}}
            </span>
        </div>
    </div>
    <!-- End of basic details -->
    <div class="col-xs-12 margin-t-20 margin-b-20" ng-if="fac_units.length !== 0"><hr class="line-divider"></div>
    <div class="col-xs-12 margin-t-10" ng-if="fac_units.length !== 0">
        <h4 class="fw-600">Facility Departments</h4>
    </div>
    <div class="col-xs-12" ng-if="fac_units.length !== 0">
        <table class="table fs-14 table-hover table-stripped">
            <thead>
                <th class="col-xs-8">Name</th>
                <th class="col-xs-4 text-center">Regulating Body</th>
            </thead>
            <tbody>
                <tr ng-repeat="unit in fac_units">
                    <td>
                        {{unit.name}}
                    </td>
                    <td class="text-center">
                        {{unit.regulating_body_name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 margin-t-20" ng-if="facility.facility_services.length !== 0">
        <h4 class="fw-600">Facility Health Services</h4>
    </div>
    <div class="col-xs-12" ng-if="facility.facility_services.length !== 0">
        <table class="table table-hover fs-14 table-stripped">
            <thead>
                <th class="col-xs-4">Service Name</th>
                <th class="col-xs-4">Service Category</th>
                <th class="col-xs-4 text-center">Service Option</th>
            </thead>
            <tbody>
                <tr ng-repeat="service in facility.facility_services">
                    <td>
                        {{service.service_name}}
                    </td>
                    <td>
                        {{service.category_name}}
                    </td>
                    <td class="text-center">
                        {{service.option_name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
