<div class="col-xs-12 content-card">
    <div class="col-xs-12 margin-t-20" requires-permission="facilities.add_facilityofficer">
        <form name="frm_off" ng-submit="add(frm_off)" role="form">
        <div class="col-xs-12 custom-well">
            <div class="col-xs-12 margin-b-5">
                <h4 class="fw-600 fs-18"> Officer's Basic Details</h4>
            </div>
            <div class="form-group col-xs-12">
                <label class="">
                    Name
                </label>
                <input class="form-control" name="name" ng-model="off.officer_name" required placeholder="Name">
                <span class="highlght"></span>
                <span class="bar"></span>

            </div>
            <div class="form-group col-xs-12">
                <label class="">
                    Registration Number
                </label>
                <input class="form-control" name="reg_no" ng-model="off.registration_number" placeholder="Registration Number">
                <span class="highlght"></span>
                <span class="bar"></span>
            </div>
            <div class="form-group col-xs-12">
                <label class="">
                    Job Title
                </label>
                <select class="form-control" name="title" ng-model="off.job_title" required placeholder="Job Title">
                    <option value="">Select Job Title</option>
                    <option ng-repeat="title in job_titles" ng-value="title.id">{{title.name}}</option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-xs-12 custom-well margin-t-10">
            <div class="col-xs-12">
                <h4 class="fw-600 fs-18"> Officer's Contacts</h4>
            </div>
            <div class="col-xs-12">
                <table class="table table-bordered col-xs-12">
                <thead class="grey-header">
                    <th class="col-xs-5">Contact Type</th>
                    <th class="col-xs-6">Contact Details</th>
                    <th class="col-xs-1 text-center"></th>
                </thead>
                <tbody class="">
                    <tr class="" ng-repeat="cont in contacts">
                        <td class="col-xs-5">
                            <div class="form-group">
                                <select class="form-control" name="contact_type" ng-model="cont.type">
                                    <option value="">Select Contact Type</option>
                                    <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                                </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </td>
                        <td class="col-xs-6">
                            <div class="form-group">
                                <input class="form-control" ng-model="cont.contact" name="contact" placeholder="Contact Details">
                                <span class="highlght"></span>
                                <span class="bar"></span>
                            </div>
                        </td>
                        <td class="col-xs-1 text-center">
                            <a ng-click="remove_contact(cont)" style="cursor: pointer; margin-botom: 5px;">
                                <i class="fa fa-close fa-2x text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
                <div class="col-xs-12 text-right margin-b-10">
                    <a class="login-btn login-btn-primary pull-right" ng-click="add_contact()" >
                        &nbsp;<i class="fa fa-plus-square-o"></i> Add
                    </a>
                </div>
            </div>
            <div class="col-xs-12 pad-0">
                <!-- Start of create buttons -->
                <a ui-sref="facilities.facility_create.contacts({facility_id : new_facility})" ng-if="create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
                    &nbsp;<i class="fa fa-angle-double-left"></i> Facility Contacts
                </a>
                <button type="submit" ng-click="goToNext(5, 'units')" ng-if="create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
                    &nbsp; Regulation <i class="fa fa-angle-double-right"></i>
                </button>
                <!-- End of navigation buttons -->
                <a ui-sref="facilities.facility_edit.contacts" ng-if="!create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
                    &nbsp;<i class="fa fa-angle-double-left"></i> Contacts
                </a>
                <button type="submit" ng-if="!create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
                    &nbsp; Save & Continue <i class="fa fa-angle-double-right"></i>
                </button>
                <!-- End of create buttons -->
            </div>
        </form>
    </div>
</div>
