<div class="pad-t-20">
    <form name="frm_facility_basic" ng-submit="save(frm_facility_basic)">
        <div class="row">
            <div class="form-group col-xs-9">
                <label for="name">Facility Name</label>
                <input type="text" class="form-control" name="name" placeholder="Facility name" ng-model="facility.name" required />
            </div>
            <div class="form-group col-xs-3">
                <label for="abbreviation">Abbreviation</label>
                <input type="text" class="form-control" name="abbreviation" placeholder="Abbreviation" ng-models="facility.abbreviation" >
            </div>
        </div>
        <div class="form-group">
            <label for="facility_type">Facility Type</label>

            <p class="form-control-static" >{{::facility.facility_type_name}}</p>

            <select ng-model="facility.facility_type" name="facility_type" class="form-control" required >
                <option value=""></option>
                <option ng-repeat="factype in facility_types" ng-value="factype.id">{{factype.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="facility_type">Facility Owner</label>
            <p class="form-control-static">{{::facility.owner_name}}</p>
            <select ng-model="facility.owner">
                <option value=""></option>
                <option ng-repeat="facowner in facility_owners" ng-value="facowner.id">{{facowner.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="operation_status">Operation Status</label>
            <p class="form-control-static">{{::facility.operation_status_name}}</p>
            <select ng-model="facility.operation_status" name="operation_status">
                <option value=""></option>
                <option ng-repeat="os in operation_status" ng-value="os.id">{{os.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <p class="form-control-static">{{::facility.owner_name}}</p>
            <select name="owner" class="form-control" ng-model="facility.owner" required>
                <option>Select an Owner</option>
                <option ng-repeat="facowner in facility_owners" ng-value="facowner.id">{{facowner.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ward">Ward</label>
            <p class="form-control-static">{{::facility.ward_name}}</p>
            <select name="ward" ng-model="facility.ward" class="form-control">
                <option>Select a ward</option>
                <option ng-repeat="w in wards" ng-value="w.id">{{w.name}}</option>
            </select>
        </div>

        <input type="submit" value="Update Facility" class="btn btn-primary" />
    </form>
</div>
