<ul class="progress-container form-tab margin-t--15">
    <li ui-sref-active="active" class="col-xs-2 text-center">
        <div ng-model="steps[0].active" ng-click="tabState(steps[0])" class="progress-badge progress-badge-done"
        ng-class="{'progress-badge-active': steps[0].active}">
            1
        </div>
        <p class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[0].active}"  ng-click="tabState(steps[0])">Basic Details</p>
    </li>
    <li ui-sref-active="active" class="col-xs-2 text-center">
        <div ng-model="steps[1].active" ng-click="tabState(steps[1])" class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[1].active}">
            2
        </div>
        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[1].active}"  ng-click="tabState(steps[1])">Contacts</p>
    </li>
    <li ui-sref-active="active" class="col-xs-2 text-center">
            <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[2].active}" ng-click="tabState(steps[2])">
                3
            </div>
            <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[2].active}"  ng-click="tabState(steps[2])">Services</p>
    </li>
    <li ui-sref-active="active" class="col-xs-2 text-center">
            <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[3].active}" ng-click="tabState(steps[3])">
                4
            </div>
            <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[3].active}"  ng-click="tabState(steps[3])">Setup</p>
    </li>
    <li ui-sref-active="active" class="col-xs-2 text-center">
        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[4].active}" ng-click="tabState(steps[4])">
            5
        </div>
        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[4].active}"  ng-click="tabState(steps[4])">Officers</p>
    </li>
    <li ui-sref-active="active" class="col-xs-2 text-center">
        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[5].active}" ng-click="tabState(steps[5])">
            6
        </div>
        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[5].active}"  ng-click="tabState(steps[5])">Units</p>
    </li>
    <li ui-sref-active="active" class="col-xs-2 text-center">
        <div class="progress-badge progress-badge-done" ng-class="{'progress-badge-active': steps[6].active}" ng-click="tabState(steps[6])">
            7
        </div>
        <p  class="text-center step-label step-label-done" ng-class="{'step-label-active': steps[7].active}"  ng-click="tabState(steps[7])">Location</p>
    </li>
</ul>
