<div class="col-sm-12 content-card">
    <div class="col-md-12 alert alert-danger alert-dismissible" ng-show="units_error">
        <button type="button" class="close">
            <span ng-click="units_error = !units_error">&times;</span>
        </button>
        <span class="fs-18"><i class="fa fa-times-circle"></i> &nbsp; {{units_error}}</span>
    </div>
    <!-- Start of new implementation -->
    <div class="col-xs-12 margin-t-10 pad-0" requires-permission="facilities.add_facilityunits">
        <div class="col-xs-12">
            <h4 class="fw-600 fs-18"> Facility Department</h4>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered col-xs-12">
                <thead class="grey-header">
                    <th class="col-xs-5">Department Name</th>
                    <th class="col-xs-6">Regulatory Body</th>
                    <th class="col-xs-1 text-center"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="fac_dept in fac_units">
                        <td>
                            <div class="form-group grid-inputs">
                                <input class="form-control" placeholder="Contact Details" ng-model="fac_dept.name">
                            </div>
                        </td>
                        <td class="col-xs-5">
                            <div class="form-group grid-inputs">
                                <select class="form-control"
                                ng-model="fac_dept.regulating_body" place-holder="Select Contact Details">
                                    <option value="">Select Regulating Body</option>
                                    <option ng-repeat="regbody in regbodies"
                                    ng-value="regbody.id">{{regbody.name}}</option>
                                </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>
                        </td>

                        <td class="col-xs-1 text-center">
                            <a ng-click="remove_contact(cont)" style="cursor: pointer;">
                                <i class="fa fa-close fa-2x grid-inputs text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="fac_units.length === 0" class="alert alert-info">
                        <td colspan="3">
                        <i class="fa fa-info-circle"></i> No Departments assigned to the facility
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-right margin-b-10">
            <a class="login-btn login-btn-primary pull-right" ng-click="add_contact()" >
                &nbsp;<i class="fa fa-plus-square-o"></i> Add
            </a>
        </div>
    </div>
    <!-- End of tabular implementation -->
    <div class="col-xs-12">
        <!-- Start of create buttons -->
        <a ui-sref="facilities.facility_create.officers({facility_id : new_facility})" ng-if="create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
            &nbsp;<i class="fa fa-angle-double-left"></i> Officers
        </a>
        <button ng-click="goToNext(6, 'location')" ng-if="create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
            &nbsp; Location <i class="fa fa-angle-double-right"></i>
        </button>
        <!-- End of navigation buttons -->
        <a ui-sref="facilities.facility_edit.officers" ng-if="!create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
            &nbsp;<i class="fa fa-angle-double-left"></i> Officers
        </a>
        <a ui-sref="facilities.facility_edit.services" ng-if="!create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
            &nbsp; Save & Continue <i class="fa fa-angle-double-right"></i>
        </a>
    </div>
</div>
