<div class="col-xs-12">
    <div class="col-xs-12">
        <span class="pull-right">
            <button class="btn btn-primary" ng-click="changeView('view')">
               View Facility Services
            </button>
        </span>
    </div>
    <div class="col-xs-12 margin-t-5 pad-0">
        <div class="col-sm-4 col-xs-12">
            <div class="col-xs-12 category-title">
                <h4>Categories</h4>
                <div class="form-group">
                    <input class="form-control" ng-model="category.query" placeholder="Search Categories">
                </div>
            </div>
            <div class="category-list fade-content">
                <div class="category-item col-xs-12" ng-repeat="cat in categories | filter : category.query" ng-click="showServices(cat)" ng-class="{'active-item' : cat.selected}">
                    <span class="col-xs-10">{{cat.name}}</span>
                    <span class="col-xs-2 pointer">
                        <i class="fa fa-chevron-right pull-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12 fade-content">
            <div class="col-xs-12 category-title">
                <h4>Services</h4>
                <div class="form-group">
                    <input class="form-control" ng-model="service.query" placeholder="Search Services">
                </div>
            </div>
            <div class="service-list">
                <div class="service-item col-xs-12 pad-0" ng-repeat="serv in cat_services | filter : service.query">
                <div class="col-xs-6 margin-t-15 margin-b-10">{{serv.name}}</div>
                <div class="col-xs-6 pad-0 margin-t-10">
                    <div ng-if="serv.option_no > 2" class="form-group">
                        <select name="option{{$index}}" class="form-control" ng-model="serv.option">
                            <option value="">Select Option</option>
                            <option ng-repeat="opt in serv.serv_options" ng-selected="{{opt.id == serv.option}}" ng-value="opt.id">{{opt.display_text}}</option>
                        </select>
                    </div>
                    <div ng-if="serv.option_no === 2 && serv.has_options === false" class="form-group checkbox margin-t-1">
                        <label for="service_option_yes">
                            <input type="checkbox" id="option{{$index}}" name="option{{$index}}" ng-value="serv.serv_options[1].id" ng-model="serv.option" ng-checked="(serv.option === serv.serv_options[1].id) || serv.option">
                            Yes
                        </label>
                    </div>
                    <div ng-if="serv.option_no === 2 && serv.has_options === true" class="margin-t--15">
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="option{{$index}}"  ng-value="serv.serv_options[0].id" ng-model="serv.option">
                                {{serv.serv_options[0].display_text}}
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="option{{$index}}" ng-value="serv.serv_options[1].id" ng-model="serv.option">
                                {{serv.serv_options[1].display_text}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="cat_services.length === 0 || !cat_services" class="service-item col-xs-12 text-blue pad-t-10 pad-b-10">
                <i class="fa fa-info-circle"></i> No Services Listed
            </div>
        </div>
    </div>
</div>
