<div>
    <div class="well" ng-class="{'alert-success':facility.is_approved}">
        <div ng-if="!facility.is_approved">
            <h4>Approve newly created facility</h4>
            <form ng-submit="approveFacility()">
                <div class="form-group">
                    <label for="comment">Comment for approval</label>
                    <textarea name="comment" ng-model="facility_approval.comment" class="form-control" required>
                    </textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Approve Facility" />
            </form>
        </div>
        <div ng-if="facility.is_approved">
            <span class="fs-16">Facility has already been approved</span>
        </div>
    </div>

    <div class="detail-content pad-20" ng-class="{'alert-success':!facility.latest_update}">
        <div ng-if="facility.latest_update && facility.is_approved" class="content-card">
            <h4 class="fs-18"><strong>Approve facility updates</strong></h4>
            <div class="row">
                <div class="col-sm-6">
                    <p class="form-control-static fs-16">Updates made by: <span class="label label-warning">{{facility_update.created_by_name}}</span></p>
                </div>
                <div class="col-sm-6">
                    <p class="form-control-static text-right fs-16">Updates made on: <span class="label label-primary">{{facility_update.created | date}}</span></p>
                </div>
            </div>
            <hr>
            <table class=" margin-t-50 table">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Old value</th>
                        <th>New value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="change in facility_changes">
                        <td>{{change}}</td>
                        <td>{{facility[change]}}</td>
                        <td>{{facility_update.facility_updates[change]}}</td>
                    </tr>
                </tbody>
            </table>
        <div class="margin-t-20 margin-b-10">
            <button ng-click="approveUpdate(true)" class="login-btn login-btn-success">Approve Updates</button>
            <button ng-click="approveUpdate(false)" class="login-btn login-btn-danger">Decline Updates</button>
        </div>
        </div>
        <div ng-if="!facility.latest_update">
            <p>No facility updates pending approval</p>
        </div>
    </div>

</div>
