<div>
    <form name="frm_facility_services" ng-submit="addServiceOption(new_service.option)">
        <div class="form-group">
            <label for="service">Service</label>
            <select name="service" ng-model="new_service.service" required class="form-control">
                <option >Select a service</option>
                <option ng-repeat="serv in services" ng-value="serv.id">{{serv.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="service_option">Service Option</label>
            <select name="service_option" ng-model="new_service.option" required class="form-control">
                <option value="">Select an option</option>
                <option ng-repeat="serv_opt in service_options" ng-value="serv_opt.id">{{serv_opt.display_text}}</option>
            </select>
        </div>

        <input value="Add Service" type="submit" class="btn btn-primary"/>
    </form>

    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Average rating</th>
                    <th>Number of ratings</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="child in facility.facility_services">
                    <td>{{child.service_name}}</td>
                    <td>{{child.option_name}}</td>
                    <td>{{child.average_rating}}</td>
                    <td>{{child.number_of_ratings}}</td>
                    <td>
                        <a class="action-btn action-btn-grid action-btn-danger" popover-trigger="open" popover-toggle popover-placement="left" popover-template="'common/tpls/del-pop.tpl.html'" tooltip="Delete Service">
                            <i class="fa fa-trash fw-500"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
