<div class="col-sm-12 detail-content">
        <div class="col-sm-12 content-card form-card margin-t-20">
                <form name="operation_setup" ng-submit="updateOp(operation_setup)">
                    <div ng-if="spinner1" class="col-lg-12 text-center margin-t-20 margin-b-20 fs-18">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                    </div>
                    <div ng-if="!spinner1" class="margin-t-20">
                           <div class="alert alert-info" role="alert" ng-if="facility.has_edits===true && !create">
                              <h4><strong><i class="fa fa-info-circle"></i></strong> This facility has pending approvals.</h4> Further editing is not possible until pending approvals are cleared.
                           </div>
                           <div ng-if="facility.has_edits===false || create">
                                <div class="group col-sm-10">
                                    <input type="text" name="number_of_beds" ng-model="facility.number_of_beds"  required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="pad-l-10">
                                        Beds
                                    </label>
                                </div>
                                <div class="group col-sm-10">
                                    <input type="text" name="number_of_cots" ng-model="facility.number_of_cots"  required />
                                    <label class="pad-l-10" for="number_of_cots">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        Cots
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                  <div class="checkbox-group margin-t-10">
                                      <input type="checkbox" id="open_whole_day" name="open_whole_day" ng-model="facility.open_whole_day">
                                      <label for="open_whole_day">
                                          <span class="check"></span>
                                          <span class="box"></span>
                                           Open 24 hours
                                       </label>
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="checkbox-group margin-t-10">
                                      <input type="checkbox" id="open_public_holidays" name="open_public_holidays" ng-model="facility.open_public_holidays">
                                      <label for="open_public_holidays">
                                          <span class="check"></span>
                                          <span class="box"></span>
                                           Open on public holidays
                                       </label>
                                     </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="checkbox-group margin-t-10">
                                      <input type="checkbox" id="open_weekends" name="open_weekends" ng-model="facility.open_weekends">
                                      <label for="open_weekends">
                                          <span class="check"></span>
                                          <span class="box"></span>
                                           Open during weekends
                                       </label>
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="checkbox-group margin-t-10">
                                      <input type="checkbox" id="is_classified" name="is_classified" ng-model="facility.is_classified">
                                      <label for="is_classified">
                                          <span class="check"></span>
                                          <span class="box"></span>
                                           Classified facility
                                       </label>
                                  </div>
                                </div>
                            </div>
                        <div class="col-sm-12 margin-t-30 margin-b-20" ng-if="!create && facility.has_edits===false">
                            <a class="login-btn login-btn-primary pull-left"
                            ui-sref="facilities.facility_edit.services">
                              &nbsp;<i class="fa fa-angle-double-left"></i>
                               Services</a>
                            <button type="submit" class="login-btn login-btn-primary pull-right" ng-click="updateOp(operation_setup)">&nbsp;Officers <i class="fa fa-angle-double-right"></i></button>
                        </div>
                        <div class="col-sm-12 margin-t-30 margin-b-20" ng-if="create">
                            <a class="login-btn login-btn-primary pull-left"
                            ui-sref="facilities.facility_create.services({facility_id : new_facility})">
                              &nbsp;<i class="fa fa-angle-double-left"></i>
                               Services</a>
                            <button type="submit" class="login-btn login-btn-primary pull-right" ng-click="updateOp(operation_setup)">&nbsp;Officers <i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </form>
        </div>
</div>
