<div class="col-lg-12">
   <form name="facility_setup">
        <div class="pad-t-20">
            <h4>Operation setup</h4>
                <div class="content-card">
                   <div class="row">
                        <div class="group col-sm-7">
                            <input type="text" name="beds" ng-model="facility.number_of_beds"  required />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="pad-l-10">
                                Beds
                            </label>
                        </div>
                   </div>
                   <div class="row">
                        <div class="group col-sm-7">
                            <input type="text" name="cots" ng-model="facility.number_of_cots"  required />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="pad-l-10">
                                Cots
                            </label>
                        </div>
                   </div>
                    <div class="checkbox-group margin-t-10">
                        <input type="checkbox" id="wholeday" name="wholeday" ng-model="facility.open_whole_day">
                        <label for="active">
                            <span class="check"></span>
                            <span class="box"></span>
                             Open 24 hours
                         </label>
                    </div>
                    <div class="checkbox-group margin-t-10">
                        <input type="checkbox" id="publicholidays" name="publicholidays" ng-model="facility.open_public_holidays">
                        <label for="active">
                            <span class="check"></span>
                            <span class="box"></span>
                             Open on public holidays
                         </label>
                    </div>
                    <div class="checkbox-group margin-t-10">
                        <input type="checkbox" id="weekends" name="24hr" ng-model="facility.open_weekends">
                        <label for="active">
                            <span class="check"></span>
                            <span class="box"></span>
                             Open during weekends
                         </label>
                    </div>
                    <div class="checkbox-group margin-t-10">
                        <input type="checkbox" id="" name="24hr" ng-model="facility.open_whole_day">
                        <label for="active">
                            <span class="check"></span>
                            <span class="box"></span>
                             Classified facility
                         </label>
                    </div>
                </div>
        </div>
        <div class="pad-t-20">
           <h4>Geolocation setup</h4>
            <div class="content-card">
               <div class="row">
                    <div class="group col-sm-7">
                        <input type="text" name="contact" ng-model="contact.contact"  required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="pad-l-10">
                            Longitude
                        </label>
                    </div>
                    <div class="group col-sm-7">
                        <input type="text" name="contact" ng-model="contact.contact"  required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="pad-l-10">
                            Latitude
                        </label>
                    </div>
                    <div class="group col-sm-7">
                        <select name="contact_type" ng-model="geo_code_source">
                            <option value="">Geocode source</option>
                            <option ng-repeat="gcs in geo_code_sources" ng-value="gcs.id">{{gcs.name}}</option>
                        </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                    </div>
                    <div class="group col-sm-7">
                        <select name="contact_type" ng-model="geo_code_method">
                            <option value="">Geocode method</option>
                            <option ng-repeat="gcm in geo_code_methods" ng-value="gcm.id">{{gcm.name}}</option>
                        </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                    </div>
                    <div class="group col-sm-7">
                        <input type="date" name="contact" ng-model="contact.contact"  required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="pad-l-10"></label>
                    </div>
               </div>
            </div>
        </div>
        <div class="margin-t-20 margin-b-20">
            <button type="submit" class="md-btn md-btn-primary">Save</button>
        </div>
    </form>
</div>
