<div class="col-sm-12 detail-content">
    <div class="col-sm-12 content-card form-card margin-t-20">
        <div class="col-sm-12">
            <h4 class="fw-600 fs-18"> Add Contact</h4>
        </div>
        <form ng-submit="add()">
            <div class="group col-sm-10">
            <select name="contact_type" ng-model="contact.contact_type" class="pad-t-15" required>
                <option value="">Select Contact Type</option>
                <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            </div>
            <div class="group col-sm-10">
                <input type="text" name="contact" ng-model="contact.contact"  required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="margin-l-10">
                    Contact Details
                </label>
            </div>
            <div class="col-sm-12 margin-b-10">
                <button type="submit" class="login-btn login-btn-primary margin-t-10" tooltip="Add Contact">
                    <i class="fa fa-plus-circle"></i> Add
                </button>
            </div>
        </form>
    </div>
    <div  class="col-lg-12 content-card margin-t-20">
        <h4 class="fw-600 fs-18"> Current Contacts</h4>
        <table class="table content-card margin-t-20 margin-b-10">
            <tbody>
                <tr ng-repeat="child in fac_contacts">
                    <td class="pad-t-15 fs-16 fw-500">{{child.contact_type}}</td>
                    <td class="pad-t-15 fs-16 fw-500">{{child.actual_contact}}</td>
                    <td class="pad-t-10 text-right">
                    <span ng-if="child.delete_spinner">
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                    </span>
                        <a class="action-btn action-btn-grid action-btn-danger" popover-trigger="open" popover-toggle popover-placement="left" popover-template="'common/tpls/del-pop.tpl.html'" tooltip="Remove Contact">
                            <i class="fa fa-trash fw-500"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="spinner">
                    <td colspan="3" class="text-center">
                        <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Buttons for creation of facility -->
    <a ui-sref="facilities.facility_edit.basic" ng-if="!create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
        &nbsp;<i class="fa fa-angle-double-left"></i> Details
    </a>
    <a ui-sref="facilities.facility_edit.services" ng-if="!create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
        &nbsp; Services <i class="fa fa-angle-double-right"></i>
    </a>
    <!-- End of facility creation buttons -->
    <a ui-sref="facilities.facility_create.basic({facility_id : new_facility})" ng-if="create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
        &nbsp;<i class="fa fa-angle-double-left"></i> Details
    </a>
    <button ng-if="create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right" ng-click="goToNext(3, 'services')">
        &nbsp; Services <i class="fa fa-angle-double-right"></i>
    </button>
</div>
