<div class="content-header">
   <div class="action-container content-header-extra">
        <a requires-permission="facilities.view_facility,facilities.add_facilityregulationstatus" ui-sref="facilities_regulation.regulate.basic({facility_id: fac_id})" class="mfl-btn mfl-btn-action" tooltip="Regulate Facility">
            &nbsp;Regulate
        </a>
        <a requires-permission="facilities.publish_facilities,facilities.view_facility" ui-sref="facilities_publish.publish.basic({facility_id: fac_id})" class="mfl-btn mfl-btn-action" ng-if="!facility.is_published" tooltip="Publish Facility">
            &nbsp;Publish
        </a>
        <a requires-permission="facilities.publish_facilities,facilities.view_facility" ui-sref="facilities_publish.publish.basic({facility_id: fac_id})" class="mfl-btn mfl-btn-action" ng-if="facility.is_published" tooltip="Unpublish Facility">
            &nbsp;Unpublish
        </a>
        <a requires-permission="facilities.view_facility,facilities.add_facilityapproval" ui-sref="facilities_approve.approve.basic({facility_id: fac_id})" class="mfl-btn mfl-btn-action" ng-if="(!facility.rejected)&&(!facility.is_approved||facility.has_edits)" tooltip="Approve Facility">
            &nbsp;Approve/Reject
        </a>
        <a  tooltip="Print Facility Cover Letter" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md" ng-click="printFacility(fac_id)"><i class="fa fa-print"></i></a>

        <a requires-permission='facilities.change_facility' tooltip="Edit Facility" tooltip-placement="bottom" class="action-btn action-btn-primary action-btn-md" ui-sref="facilities.facility_edit({facility_id: fac_id})" ui-sref-opts="{reload:true}"><i class="fa fa-pencil"></i></a>
   </div>
   <h2 class="content-title">
       <span class="main-title"><i class="fa fa-eye"></i> View Facility</span>
   </h2>
</div>
<div class="col-xs-12">
    <div class="col-xs-12 margin-t-30" ng-if="spinner">
        <div class="map-change-state">
            <div class="loader"></div>
            <div class="row">
                <h3 class="text-center loader-text">Please wait...</h3>
            </div>
        </div>
    </div>
    <div class="content-card col-xs-12 margin-t-20" ng-if="!spinner" ui-view="read-only"></div>
</div>
