<div class="col-xs-12 margin-b-20 content-card fade-content">
<div class="alert alert-info margin-t-10 margin-r-20" ng-if="chus.length === 0">
    <p class="lead fs-16 fw-600" >
       <i class="fa fa-info-circle"></i> No Regulation for the Facility
    </p>
</div>
<div class="col-xs-12" ng-if="chus.length !== 0">
    <table class="table fs-14 table-hover table-condensed table-fixed table-stripped">
        <thead>
            <th class="col-xs-4">Name</th>
            <th class="col-xs-4">Regulating Body</th>
            <th class="col-xs-4">License Number</th>
        </thead>
        <tbody class="fw-600">
            <tr ng-repeat="unit in chus">
                <td class="col-xs-6">
                    {{unit.unit_name}}
                </td>
                <td class="col-xs-6">
                    {{unit.regulating_body_name}}
                </td>
                 <td class="col-xs-6">
                    {{unit.license_number}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
