<section class="col-xs-12 pad-t-20">
    <div>
        <h4><strong>Physical details</strong></h4>
        <div class="row">
           <div class=" col-md-6">
                <div class="group">
                    <input type="text" name="contact" ng-model="town"  required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Town
                    </label>
                </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-6">
                <div class="group">
                    <input type="text" name="contact" ng-model="town"  required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Plot number
                    </label>
                </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-6">
                <div class="group">
                    <input type="text" name="contact" ng-model="town"  required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Nearest landmark
                    </label>
                </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-6">
                <div class="group">
                    <input type="text" name="contact" ng-model="facility.location_desc"  required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Location description
                    </label>
                </div>
           </div>
        </div>
    </div>
    <div class="margin-t-50">
        <h4><strong>Geolocation details</strong></h4>
        <div class="row">
           <div class="col-md-6">
                <div class="group">
                    <input type="text" name="coordinates.coordinates[0]" ng-model="geo.coordinates.coordinates[0]"  required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Longitude
                    </label>
                </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-6">
                <div class="group">
                    <input type="text" name="coordinates.coordinates[1]" ng-model="geo.coordinates.coordinates[1]"  required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>
                        Latitude
                    </label>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="group col-md-6">
                <select name="source" ng-model="geo.source">
                    <option value="" disabled>Geocode source</option>
                    <option ng-repeat="gcs in geo_code_sources" ng-value="gcs.id">{{gcs.name}}</option>
                </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
            </div>
        </div>
        <div class="row">
            <div class="group col-md-6">
                <select name="method" ng-model="geo.method">
                    <option value="" disabled>Geocode method</option>
                    <option ng-repeat="gcm in geo_code_methods" ng-value="gcm.id">{{gcm.name}}</option>
                </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
            </div>
        </div>
        <div class="row margin-t-10">
            <div class="col-md-6">
                <label for="collection date" style="min-height:220px">
                    <span class="fs-16">Collection date:</span>
                        <date-picker
                            placeholder="collection date"
                            name="collection_date"
                            ng-model="geo.collection_date"
                            min-date="minDate"
                            show-weeks="true"
                            custom-class="getDayClass(date, mode)">
                        </date-picker>
                </label>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
</section>