<div class="col-xs-12">
    <ng-include src="'common/tpls/table_head.tpl.html'"></ng-include>
    <table class="table table-fixed table-hover fs-14" id="no-more-tables">
        <thead class="table-head">
                <th class="col-xs-10" sil-grid-sort field='name'>Name</th>
                <th class="col-xs-2">Service Option&nbsp;&nbsp;</th>
        </thead>
        <tbody class="table-list fade-content">
            <tr class="table-item" ng-repeat="service in services" ng-show="services">
                <td data-title="Name:" class="col-xs-10">
                    {{service.service_name}}
                </td>
                <td data-title="Abbreviation:" class="col-xs-2 text-center">{{service.option_display_value}}
                <span ng-if="service.option === null">
                    N/A
                </span>
                &nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr class="table-item" ng-if="services.length === 0" class="alert alert-info">
                <td colspan="4" class="col-xs-12">
                <i class="fa fa-info-circle"></i> No services assigned to this facility
                </td>
            </tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
