<div class="pad-t-20">
    <form name="frm_facility_basic" ng-submit="save(frm_facility_basic)">
        <div class="row">
            <div class="form-group col-xs-9">
                <label for="name">Facility Name</label>
                <input type="text" class="form-control" name="name" placeholder="Facility name" ng-model="facility.name" required />
            </div>
            <div class="form-group col-xs-3">
                <label for="abbreviation">Abbreviation</label>
                <input type="text" class="form-control" name="abbreviation" placeholder="Abbreviation" ng-models="facility.abbreviation" >
            </div>
        </div>

        <div class="form-group">
            <label>Facility Type</label>
            <ui-select ng-model="select_values.facility_type" class="form-control" required ng-disabled="facility.id">
                <ui-select-match placeholder="Select a facility type...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="ft in facility_types" refresh-delay="500" refresh="reloadFacilityTypes($select.search)">
                    <span>{{ft.name}}</span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label>Operation Status</label>
            <ui-select ng-model="select_values.operation_status" class="form-control" required ng-disabled="facility.id">
                <ui-select-match placeholder="Select an operation status...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="os in operation_status" refresh-delay="500" refresh="reloadOperationStatus($select.search)">
                    <span>{{os.name}}</span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label>Owner</label>
            <ui-select ng-model="select_values.owner" class="form-control" required ng-disabled="facility.id">
                <ui-select-match placeholder="Select an owner...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="owner in owners" refresh-delay="500" refresh="reloadOwners($select.search)">
                    <span>{{owner.name}}</span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label>Ward</label>
            <ui-select ng-model="select_values.ward" class="form-control" required ng-disabled="facility.id">
                <ui-select-match placeholder="Select a ward...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="ward in wards" refresh-delay="500" refresh="reloadWards($select.search)">
                    <span>{{ward.name}}</span>
                </ui-select-choices>
            </ui-select>
        </div>

        <input type="submit" value="Update Facility" class="btn btn-primary" />
    </form>
</div>
