<div class="content-header">
   <div class="action-container content-header-extra"></div>
   <h2 class="content-title">
       <span class="main-title">Regulate Facility</span>
   </h2>
</div>
<!-- Facility Details -->
<div class="col-xs-12 margin-t-20">
    <div class="col-xs-12 content-card">
        <h4 class="fw-400"><a ui-sref="facilities.facility_view({facility_id:facility.id})">{{facility.code}} | {{facility.name}}</a></h4>
        <div class="row">
            <div class="col-xs-12 margin-b-10 fs-16">
                <span>Facility Type: <strong>{{facility.facility_type_name}}</strong></span>
            </div>
            <div class="col-sm-6">
                <span>Regulation Status:
                    <span class="label label-warning" style="font-size: 13px">
                        {{facility.regulatory_status_name}}
                    </span>
                </span>
            </div>
            <div class="col-sm-6"><span class="pull-right">Operation Status: <span class="fs-14 label label-primary" style="font-size: 13px">{{facility.operation_status_name | titlecase}}</span></span></div>
       </div>
    </div>
    <button class="btn btn-primary" ng-click="viewFacility = !viewFacility">
        &nbsp;View {{viewFacility ? 'Less' : 'More'}} Facility Details <i class="fa {{viewFacility ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
    </button>
    <div class="row" content-slide-in="viewFacility" slide-show-duration="1000">
        <div class="col-xs-12">
            <ul class="nav nav-tabs col-xs-12 margin-t-20">
                <li ui-sref-active="active">
                    <a ui-sref=".basic">
                        <span class="fw-900 ">
                            <i class="fa fa-building-o"></i> Facility Basic Details
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".services">
                        <span class="fw-900">
                            <i class="fa fa-exchange"></i> Facility Health Services
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".units">
                        <span class="fw-900 ">
                            <i class="fa fa-hospital-o"></i> Facility Departments
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content margin-t-20">
                <div class="pad-t-20" ui-view="form-view"></div>
            </div><!-- /tab-content -->
        </div>
    </div>
</div>
<!-- End of facility details -->
<div class="col-xs-12 margin-t-20">
    <div class="col-xs-12 content-card">
        <form name="frm_facility_regulation" ng-submit="regulateFacility()">
            <div class="form-group">
                <label for="regulation_status">Regulation Status</label>
                <ui-select ng-model="regulation.regulation_status" name="regulation_status" required>
                    <ui-select-choices repeat="rs.id as rs in regulation_status">{{rs.name}}</ui-select-choices>
                    <ui-select-match><span>{{$select.selected.name}}</span></ui-select-match>
                </ui-select>
            </div>
            <div class="form-group">
                <label for="reason">Reason</label>
                <textarea class="form-control" name="reason" required ng-model="regulation.reason"></textarea>
            </div>
            <div class="form-group">
                <label for="license_number">License Number / Reference Number</label>
                <input class="form-control" type="text" name="license_number" ng-model="regulation.license_number" required >
            </div>

            <button type="submit" class="btn btn-success">
                Regulate
            </button>
            <a ui-sref="^" class="btn btn-default margin-l-5">&nbsp;Cancel</a>
        </form>
    </div>
</div>
