<div class="col-xs-12 content-card">
    <div class="col-xs-12 fade-content">
        <table class="table table-hover table-compressed table-fixed fs-14">
            <thead>
                <th class="col-xs-1">#</th>
                <th class="col-xs-4">Service Name</th>
                <th class="col-xs-4">Service Category</th>
                <th class="col-xs-3 text-center">Service Option</th>
            </thead>
            <tbody>
                <tr ng-repeat="service in facility.facility_services">
                    <td class="col-xs-1">
                        {{$index + 1}}
                    </td>
                    <td class="col-xs-4">
                        {{service.service_name}}
                    </td>
                    <td class="col-xs-4">
                        {{service.category_name}}
                    </td>
                    <td class="col-xs-3 text-center">
                        {{service.option_name}}
                    </td>
                </tr>
                <tr ng-if="facility.facility_services.length < 1">
                    <td colspan="4" class="alert alert-info">
                            <i class="fa fa-info-circle"></i>No Service assigned to the facility
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
