<div class="col-xs-12 pad-0">
    <form ng-submit="updateType()">
        <div class="alert alert-info" ng-if="new_type.id">
            <p>The facility has pending upgrade/downgrade.</p>
        </div>
        <div class="form-group" >
            <label for="facility_type">New KEPH Level</label>
            <ui-select ng-model="new_type.keph_level" name="keph_level" required ng-disabled="new_type.id">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="kl.id as kl in keph_levels | filter:$select.search">{{kl.name}}</ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group" >
            <label for="facility_type">New Facility Type</label>
            <ui-select ng-model="new_type.facility_type" name="facility_type" required ng-disabled="new_type.id">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="factype.id as factype in facility_types | filter:$select.search">{{factype.name}}</ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="reason">Reason for {{(upgrade) ? 'Upgrade' : 'Downgrade'}}</label>
            <textarea ng-model="new_type.reason" name="reason" required class="form-control"  ng-disabled="new_type.id"></textarea>
        </div>

    </form>
    <div class="col-xs-12 pad-0">
        <button class="mfl-btn mfl-btn-primary margin-b-10" ng-click="viewServices = !viewServices">
            &nbsp;Click to {{viewServices ? 'Hide' : 'Edit'}} Facility Services <i class="fa {{viewServices ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
        </button>
    </div>
    <div class="col-xs-12 pad-0 margin-t-20" content-slide-in="viewServices" slide-show-duration="1000">
        <ng-include src="'facility_mgmt/tpls/facility_edit.services.tpl.html'"></ng-include>
    </div>
    <div class="col-xs-12 pad-0 margin-t-10">
        <button class="mfl-btn" ng-class="{'mfl-btn-danger': !upgrade, 'mfl-btn-success': upgrade}" type="submit" ng-disabled="new_type.id">
            {{(upgrade) ? 'Upgrade' : 'Downgrade' }} Facility
        </button>
    </div>
</div>
