<statemodal>
  <h4 class="text-left">Are you sure you want to close <strong>{{facility.name}}</strong>?</h4>
  <div class="margin-t-20">
   <form name="close_frm" ng-submit="close(close_frm)" novalidate>
     <drf-err-msg></drf-err-msg>
      <div class="form-group checkbox text-left">
            <label>
            <input type="checkbox" id="closed" name="closed" ng-model="facility.closed">
               Closed
            </label>
      </div>
       <div class="text-left form-group">
           <label for="Closing Reason" class="control-label">Closing Reason</label>
           <textarea name="closing_reason" type="text" class="form-control" ng-model="closing_reason" placeholder="Enter closing reason" api-checker></textarea>
       </div>
        <div class="text-left form-group">
           <label for="Closing Date" class="control-label">Closing Date</label>
            <p class="input-group">
            <label for="closing date">
                <span class="fs-16">Closing Date: {{facility.closed_date | date}}</span>
                    <datepicker date-format="y-MM-dTHH:mm:ss" date-max-limit="{{maxDate}}">
                      <input class="form-control" name="collection_date" ng-model="facility.closed_date" type="text"/>
                    </datepicker>
            </label>
            </p>
        </div>
        <div class="text-left">
            <button type="submit" class="btn btn-danger">Close Facility</button>
            <a class="btn btn-default" ui-sref="facilities.facility_view({facility_id: fac.id})">Cancel</a>
        </div>
   </form>
  </div>
</statemodal>
