<div class="col-sm-12 detail-content">
    <div class="col-sm-12 content-card form-card margin-t-20" requires-permission="facilities.add_facilityofficer">
        <div class="col-sm-12">
            <h4 class="fw-600 fs-18"> Add Officers</h4>
        </div>
        <form name="frm_off" ng-submit="add(frm_off)" role="form">
            <div class="group col-xs-11">
                <input type="text" name="name" ng-model="off.name"
                 required>
                <span class="highlght"></span>
                <span class="bar"></span>
                <label class="margin-l-10">
                    Name
                </label>
            </div>
            <div class="group col-xs-11">
                <input type="text" name="reg_no" ng-model="off.reg_no"
                 >
                <span class="highlght"></span>
                <span class="bar"></span>
                <label class="margin-l-10">
                    Registration Number
                </label>
            </div>
            <div class="group col-xs-11">
                <select name="title" ng-model="off.title" required>
                    <option value="">Select Job Title</option>
                    <option ng-repeat="title in job_titles" ng-value="title.id">{{title.name}}</option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="col-xs-12 pad-r-0 pad-l-0"
            ng-repeat="cont in contacts">
                <div class="group col-xs-5">
                    <select name="contact_type" ng-model="cont.type" required>
                        <option value="">Select Contact Type</option>
                        <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                    </select>
                    <span class="highlight"></span1>
                    <span class="bar"></span>
                </div>
                <div class="group col-xs-6">
                    <input type="text" ng-model="cont.contact" name="contact">
                    <span class="highlght"></span>
                    <span class="bar"></span>
                    <label class="margin-l-10">
                        Contact Details
                    </label>
                </div>
                <div class="col-xs-1 pull-right">
                    <a ng-click="remove_contact(cont)" style="cursor: pointer;">
                        <i class="fa fa-close fa-2x text-danger"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-11 text-right margin-b-10">
                <a class="login-btn login-btn-primary pull-right" ng-click="add_contact()" >
                    &nbsp;<i class="fa fa-plus-square-o"></i> Add Contact
                </a>
            </div>
            <div class="col-sm-12 margin-b-10">
                <button type="submit" class="login-btn login-btn-primary margin-t-10" tooltip="Add Officer">
                    &nbsp;<i class="fa fa-plus-circle"></i> Add Officer
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 content-card margin-b-20 margin-t-20">
        <h4 class="fw-600 fs-18"> Current Officer(s)</h4>
        <table class="table content-card margin-t-20 margin-b-10">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration Number</th>
                    <th>Job Title</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="child in fac_officers">
                    <td class="pad-t-15 fs-16 fw-500">{{child.officer_name}}</td>
                    <td class="pad-t-15 fs-16 fw-500">{{child.registration_number}}</td>
                    <td class="pad-t-15 fs-16 fw-500">{{child.job_title}}</td>
                    <td class="pad-t-10 text-right">
                    <span ng-if="child.delete_spinner">
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                    </span>
                        <a class="login-btn login-btn-danger" popover-trigger="open"
                            popover-toggle popover-placement="left" popover-template="'common/tpls/del-pop.tpl.html'" tooltip="Delete Officer"
                             requires-permission="facilities.delete_facilityofficer">
                            &nbsp;Delete
                        </a>
                    </td>
                </tr>
                <tr ng-if="spinner">
                    <td colspan="3" class="text-center">
                        <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Start of create buttons -->
    <a ui-sref="facilities.facility_create.services({facility_id : new_facility})" ng-if="create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
        &nbsp;<i class="fa fa-angle-double-left"></i> Services
    </a>
    <button ng-click="goToNext(5, 'units')" ng-if="create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
        &nbsp; Facility Departments <i class="fa fa-angle-double-right"></i>
    </button>
    <!-- End of navigation buttons -->
    <a ui-sref="facilities.facility_edit.services" ng-if="!create" class="login-btn login-btn-primary margin-t-20 margin-b-10">
        &nbsp;<i class="fa fa-angle-double-left"></i> Services
    </a>
    <a ui-sref="facilities.facility_edit.units" ng-if="!create"  class="login-btn login-btn-primary margin-t-20 margin-b-10 pull-right">
        &nbsp; Save & Continue <i class="fa fa-angle-double-right"></i>
    </a>
</div>
