<div class="row">
    <div class="pull-right col-xs-12">
        <p ng-if="pagination.active" class="text-right margin-t-5">Showing <strong>{{pagination.start_index}} - {{pagination.end_index}}</strong> of <span>{{pagination.count}} records</span></p>
    </div>
</div>

<table id="no-more-tables" class="table table-hover table-condensed fs-12 margin-t-20">
    <thead>
        <th class="text-wrap fs-11" >Facility Name</th>
        <th class="text-wrap fs-11" >Regulatory Body</th>
        <th class="text-wrap fs-11" >Registration Number</th>
        <th class="text-wrap fs-11" >Facility Type</th>
        <th class="text-wrap fs-11" >Facility owner</th>
        <th class="text-wrap fs-11" >No. of Possible Matches</th>
        <th></th>
    </thead>

    <tbody ng-if="facilities.length===0">
        <tr><td class="text-center" colspan="8">Sorry, no data is available</td></tr>
    </tbody>

    <tbody class="fade-content" ng-if="facilities.length>0">
        <tr ng-repeat="fac in facilities" >
            <td class="text-wrap" data-title="Facility Name:" >{{::fac.name}}</td>
            <td class="text-wrap" data-title="Regulatory Body:" >{{::fac.regulatory_body_name}}</td>
            <td class="text-wrap" data-title="Registration Number:" >{{::fac.registration_number}}</td>
            <td class="text-wrap" data-title="Facility Type:" >{{::fac.facility_type_name}}</td>
            <td class="text-wrap" data-title="Facility Owner:" >{{::fac.owner_name}}</td>
            <td class="text-wrap" data-title="No. of Possible Matches:" >{{::fac.probable_matches.length}}</td>
            <td><a ng-if="fac.probable_matches.length&&!fac.mfl_code" ui-sref="facilities_regulator_sync.update({sync_id:fac.id})" class="btn btn-primary">Update</a></td>
        </tr>
    </tbody>
</table>
<sil-grid-pagination> </sil-grid-pagination>
