<contentheader hide-back-button></contentheader>

<div class="content-body col-xs-12">
    <div class="col-xs-12 content-card margin-b-20 margin-t-20">
    <div>
        Facility Name : {{::sync_obj.name}} <br/>
        Facility Type : {{::sync_obj.facility_type_name}} <br/>
        Facility Owner : {{::sync_obj.owner_name}} <br/>
        Registration Number : {{::sync_obj.registration_number}} <br/>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Facility Name</th>
                <th>MFL Code</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="match in sync_obj.probable_matches">
                <td>{{match.name}}</td>
                <td>{{match.code}}</td>
                <td><button ng-click="updateSyncObject(match.code)" class="btn btn-primary">Attatch</button></td>
            </tr>
        </tbody>

    </table>

    </div>
</div>
