<!DOCTYPE html>
<!--[if lt IE 10]>
    <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7">
        <div style="padding:100px 50px 50px 50px">
            <h1><strong>MFLv2 Administration Website:</strong></h1>
            <h1>Your browser is not supported. Please update your browser.</h1>
               <h2>You may also install any of the following supported browsers:</h2>
                <ul><a target="blank" href="http://google.com/chrome">Google Chrome</a></ul>
                <ul><a target="blank" href="http://getfirefox.com">Firefox</a></ul>
        </div>
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" ng-app="mflAdminApp" >
<!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title ng-bind="$state.current.data.pageTitle"></title>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="icon"  href="assets/img/kenya-coat-of-arms.png" />
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  </head>
  <body>
        <div ui-view="main">
            <noscript>
               <div style="padding:100px 50px 0 50px">
                   <h1><strong>MFLv2 Administration Website:</strong></h1>
                <h1>Your browser has JavaScript disabled or is not supported. Please enable Javascript or update your browser.</h1>
               </div>
            </noscript>
        </div>
        <footer>
            <p class="text-center"> &copy; Copyright 2015 by <a href="index.html#">Savannah Informatics Limited</a> All Rights Reserved. </p>
        </footer>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </body>
</html>
