<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="col-md-10 col-md-offset-1 content-card margin-t-20">
    <form name="kephForm" ng-submit="save(keph_id, kephForm)" novalidate>
        <drf-err-msg></drf-err-msg>
        <div class="col-md-10 col-md-offset-1 margin-t-20 margin-b-10">
            <div class="form-group">
                <label for="name" class="control-label">KEPH Name</label>
                <input id="name" name="name" type="text" ng-model="keph.name" required class="form-control" api-checker/>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">KEPH Description</label>
                <input name="description" type="text" ng-model="keph.description" required class="form-control"  api-checker/>
            </div>
            <button class="btn btn-primary" type="submit" value="Save">Save</button>
            <a class="btn btn-default" ui-sref="setup.facility_kephs">Cancel</a>
        </div>
    </form>
    <div class="col-md-10 col-md-offset-1" ng-if="edit">
        <mfl-revision-view id="keph_id" wrapper="wrapper" ></mfl-revision-view>
    </div>
</div>
