<contentheader></contentheader>
<div ui-view="delete"></div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 content-card margin-t-20">
    <form name="kephForm" ng-submit="save(keph_id, kephForm)" >
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 margin-b-20">
            <div class="group">
                <input name="name" type="text" ng-model="keph.name" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    KEPH Name
                </label>
            </div>
            <div class="group">
                <input name="description" type="text" ng-model="keph.description" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    KEPH Description
                </label>
            </div>
            <button class="login-btn login-btn-primary" type="submit" value="Save">
                <i class="fa fa-save"></i> Save
            </button>
            <button class="login-btn login-btn-default margin-l-10" ui-sref="setup.facility_kephs">Cancel</button>
        </div>
    </form>

    <mfl-revision-view id="keph_id" wrapper="wrapper" ></mfl-revision-view>
</div>
