<contentheader></contentheader>
<div ui-view="delete"></div>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div class="col-xs-12 margin-t-30" ng-if="spinner">
    <div class="map-change-state">
        <div class="loader"></div>
        <div class="row">
            <h3 class="text-center loader-text">Please wait...</h3>
        </div>
    </div>
</div>
<div ng-if="!spinner" class="col-xs-12">

    <form role="form" name="frm_reg_body"
    ng-submit="createFacilityRegulatoryBody(frm_reg_body)" class="col-xs-12 margin-t-5 margin-b-5">
    <div class="col-xs-12 margin-t-20 content-card">
            <drf-err-msg></drf-err-msg>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" name="name" ng-model="facilityRegulatoryBodies.name" required api-checker class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Regulation Verb</label>
                <input type="text" name="regulation_verb" ng-model="facilityRegulatoryBodies.regulation_verb" required api-checker class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Abbreviation</label>
                <input type="text" name="abbreviation" ng-model="facilityRegulatoryBodies.abbreviation" api-checker class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Body Type</label>
                <ui-select ng-model="facilityRegulatoryBodies.regulatory_body_type" api-checker name="regulatory_body_type" register-custom-form-control>
                    <ui-select-match placeholder="Select a body type"><span>{{$select.selected.name}}</span></ui-select-match>
                    <ui-select-choices repeat="ot.id as ot in owner_types | filter:$select.search"><span>{{ot.name}}</span></ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">Default Status</label>
                <ui-select ng-model="facilityRegulatoryBodies.default_status" api-checker name="default_status" register-custom-form-control>
                    <ui-select-match placeholder="Select a default status"><span>{{$select.selected.name}}</span></ui-select-match>
                    <ui-select-choices repeat="reg_status.id as reg_status in regulation_status | filter:$select.search"><span>{{reg_status.name}}</span></ui-select-choices>
                </ui-select>
            </div>
            <div class="checkbox form-group" ng-if="facilityRegulatoryBodies.id">
                <label for="active">
                    <input type="checkbox" id="active" name="active" ng-model="facilityRegulatoryBodies.active" api-checker>
                    Is Active?
                 </label>
            </div>
    </div>
    <div class="col-xs-12 pad-0 margin-t-10 margin-b-0 content-card">
      <table class="table table-hover table-condensed col-xs-12">
          <thead class="grey-header">
              <th class="col-xs-5">Contact Type</th>
              <th class="col-xs-6">Contact Details</th>
              <th class="col-xs-1 text-center"></th>
          </thead>
          <tbody>
              <tr ng-repeat="contact in facilityRegulatoryBodies.contacts">
                  <td class="col-xs-5">
                    <div class="form-group grid-inputs">
                      <select class="form-control" name="contact_type" ng-model="contact.contact_type" placeholder="Contact Type" required>
                        <option value="" disabled>Select an contact type</option>
                        <option ng-repeat="cont_type in contact_types" ng-selected="{{cont_type.id == contact.contact_type}}" value="{{cont_type.id}}">{{cont_type.name}}</option>
                      </select>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                    </div>
                  </td>
                  <td class="col-xs-5">
                    <div class="form-group grid-inputs">
                        <input class="form-control" name="contact" ng-model="contact.contact" placeholder="Contact Details" required />
                    </div>
                  </td>
                  <td class="col-xs-1 text-center">
                      <a ng-click="remove_contact(contact)" style="cursor: pointer;">
                          <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                      </a>
                  </td>
              </tr>
              <tr ng-if="facilityRegulatoryBodies.contacts.length < 1" class="">
                  <td colspan="3">
                      <i class="fa fa-info-circle"></i> No Contact Assigned to Regulatory Body
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="col-xs-12 pad-0 text-right margin-t-10 margin-b-10">
      <a class="btn btn-primary pull-right" ng-click="add_contact()" >
          <i class="fa fa-plus-square-o"></i> Add
      </a>
    </div>
    <div class="col-xs-12 pad-0 margin-b-10">
        <button class="btn btn-primary" requires-user-feature="is_staff">
            Save
        </button>
        <a class="btn btn-default" ui-sref="setup.facility_regulatory_bodies">Cancel</a>
        <mfl-revision-view ng-show="facilityRegulatoryBodies.id" id="facilityRegulatoryBodies.id" wrapper="wrapper"></mfl-revision-view>
    </div>
    </form>
</div>
