<div class="row margin-t-20">
    <h4 class="fs-13 fw-500 margin-t-20"> Add Contacts</h4>
    <form ng-submit="add()">
        <table class="table content-card  margin-b-10">
            <tbody>
                <tr class="">
                    <td class="pad-t-15">
                        <div class="group">
                        <select name="contact_type" ng-model="contact.contact_type" class="pad-t-15" required>
                            <option value="">Select Contact Type</option>
                            <option ng-repeat="cont in contact_types" ng-value="cont.id">{{cont.name}}</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        </div>
                    </td>
                    <td class="pad-t-15">
                        <div class="group">
                            <input type="text" name="contact" ng-model="contact.contact"  required />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>
                                Contact Details
                            </label>
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="submit" class="action-btn action-btn-primary action-btn-md margin-t-10" tooltip="Add Contact">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
    <div class="row margin-t-20">
    <h4 class="fs-13 fw-500"> Current Contacts</h4>
    <table class="table content-card margin-t-20 margin-b-10">
        <tbody>
            <tr ng-repeat="contact in contacts.items">
                <td class="pad-t-15 fs-16 fw-500">{{contact.contact_type}}</td>
                <td class="pad-t-15 fs-16 fw-500">{{contact.contact_text}}</td>
                <td class="text-right">
                <span ng-if="contact.delete_spinner">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                </span>
                    <button class="action-btn action-btn-danger action-btn-grid" ng-click="remove_contact(contact)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="spinner">
                <td colspan="3" class="text-center">
                    <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
