<contentheader></contentheader>
<div ui-view="delete"></div>
<div ng-if="alert" class="callout callout-danger fade in">
    <h4>Some Errors On The Form</h4>
    <p ng-bind-html="alert"></p>
</div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 margin-t-20 content-card">
    <div class="col-lg-12 margin-t-20 ">
        <!-- Start of tabbed multi step form  -->
        <div class="container-fluid">
            <ul class="form-tab margin-t--27">
                <li ui-sref-active="active" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a ui-sref=".basic">
                        <span class="fw-900">
                            Basic details
                        </span>
                    </a>
                </li>
                <li ng-if="!regulatory_body" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a >
                        <span class="fw-900 " style="color: #666">
                            Contact information
                        </span>
                    </a>
                </li>
                <li ng-if="regulatory_body" ui-sref-active="active" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a ui-sref=".contacts">
                        <span class="fw-900 ">
                            Contact information
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content margin-t-20">
                <div class="" ui-view="form-view"></div>
            </div><!-- /tab-content -->
        </div>
        <!-- end of tabbed multistep form -->
    </div>
</div>
