<form class="margin-t-20" role="form" name="frm_reg_body">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" name="name" ng-model="facilityRegulatoryBodies.name" required api-checker>
    </div>
    <div class="form-group">
        <label class="control-label">Regulation Verb</label>
        <input type="text" name="regulation_verb" ng-model="facilityRegulatoryBodies.regulation_verb" required>
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <textarea type="text" name ="abbreviation" ng-model="facilityRegulatoryBodies.abbreviation" api-checker></textarea>
    </div>
    <div class="checkbox form-group">
        <label for="active">
            <input type="checkbox" id="active" name="active" ng-model="facilityRegulatoryBodies.active" api-checker>
            Is Active?
         </label>
    </div>
    <button ng-if="!facilityRegulatoryBodies.id" ng-click="createFacilityRegulatoryBody(facilityRegulatoryBodies)" class="btn btn-primary" requires-user-feature="is_staff" ng-disabled="frm_reg_body.$invalid">
        Save
    </button>
    <button ng-if="facilityRegulatoryBodies.id" ng-click="updateFacilityRegulatoryBody(facilityRegulatoryBodies.id, frm_reg_body)" class="btn btn-primary" requires-user-feature="is_staff" ng-disabled="frm_reg_body.$invalid">
        Save
    </button>
    <a class="btn btn-default" ui-sref="setup.facility_regulatory_bodies">Cancel</a>
</form>
